In [1]:
import pandas as pd

In [2]:
import glob as glob

In [3]:
files = glob.glob('C:/Users/Ahmed/upwork_viz/*.csv')

In [4]:
files

['C:/Users/Ahmed/upwork_viz\\listings (Chicago).csv',
 'C:/Users/Ahmed/upwork_viz\\listings(new orelano).csv',
 'C:/Users/Ahmed/upwork_viz\\neighbourhoods(Chicago).csv',
 'C:/Users/Ahmed/upwork_viz\\neighbourhoods(new orelano).csv',
 'C:/Users/Ahmed/upwork_viz\\reviews (Chicago).csv',
 'C:/Users/Ahmed/upwork_viz\\reviews(new orelano).csv']

In [5]:
pd.read_csv(files[0]).columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [6]:
pd.read_csv(files[1]).columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [18]:
data=pd.DataFrame()

for file in files:
    df=pd.read_csv(files[0],files[1])
    df1=pd.concat([df1,df])
data

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_15512\1656043863.py:4: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df=pd.read_csv(files[0],files[1])
C:\Users\Ahmed\AppData\Local\Temp\ipykernel_15512\1656043863.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df=pd.read_csv(files[0],files[1])

error: bad escape \l at position 25

In [19]:
df=pd.read_csv(files[0])
df1=pd.read_csv(files[1])
data=pd.concat([df,df1])

In [22]:
data.shape

(15311, 18)

In [23]:
df.shape

(8528, 18)

In [24]:
df1.shape

(6783, 18)

In [25]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote..."
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282"
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025"
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037"

In [26]:
data['name']

0       Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...
1       Rental unit in Chicago · ★4.70 · 1 bedroom · 1...
2       Rental unit in Chicago · ★4.65 · 2 bedrooms · ...
3       Boutique hotel in Chicago · ★4.93 · 1 bedroom ...
4       Rental unit in Chicago · ★4.29 · 1 bedroom · 1...
                              ...
6778    Condo in New Orleans · ★New · 1 bedroom · 2 be...
6779    Rental unit in New Orleans · ★New · 1 bedroom ...
6780    Home in New Orleans · ★New · 2 bedrooms · 3 be...
6781    Home in New Orleans · ★New · 3 bedrooms · 3 be...
6782    Rental unit in New Orleans · ★New · 4 bedrooms...
Name: name, Length: 15311, dtype: object

In [28]:
data.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [33]:
specs = data['name'].str.split('·', expand=True)

In [34]:
specs

,0,1,2,3,4
0,Condo in Chicago,★4.99,1 bedroom,1 bed,1 shared bath
1,Rental unit in Chicago,★4.70,1 bedroom,1 bed,1 bath
2,Rental unit in Chicago,★4.65,2 bedrooms,2 beds,1 bath
3,Boutique hotel in Chicago,★4.93,1 bedroom,1 bed,1 private bath
4,Rental unit in Chicago,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...
6778,Condo in New Orleans,★New,1 bedroom,2 beds,1 bath
6779,Rental unit in New Orleans,★New,1 bedroom,1 bed,1 bath
6780,Home in New Orleans,★New,2 bedrooms,3 beds,2 baths
6781,Home in New Orleans,★New,3 bedrooms,3 beds,2 baths
6782,Rental unit in New Orleans,★New,4 bedrooms,5 beds,2 baths

In [37]:
specs=specs.rename(columns={0 : 'Name', 1:'Rate',})

In [38]:
specs

,Name,Rate,2,3,4
0,Condo in Chicago,★4.99,1 bedroom,1 bed,1 shared bath
1,Rental unit in Chicago,★4.70,1 bedroom,1 bed,1 bath
2,Rental unit in Chicago,★4.65,2 bedrooms,2 beds,1 bath
3,Boutique hotel in Chicago,★4.93,1 bedroom,1 bed,1 private bath
4,Rental unit in Chicago,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...
6778,Condo in New Orleans,★New,1 bedroom,2 beds,1 bath
6779,Rental unit in New Orleans,★New,1 bedroom,1 bed,1 bath
6780,Home in New Orleans,★New,2 bedrooms,3 beds,2 baths
6781,Home in New Orleans,★New,3 bedrooms,3 beds,2 baths
6782,Rental unit in New Orleans,★New,4 bedrooms,5 beds,2 baths

In [42]:
specs.dtypes

Name    object
Rate    object
2       object
3       object
4       object
dtype: object

In [45]:
specis = specs[2] + '|' + specs[3] + '|' + specs[4]

In [46]:
specis

0         1 bedroom | 1 bed | 1 shared bath
1                1 bedroom | 1 bed | 1 bath
2              2 bedrooms | 2 beds | 1 bath
3        1 bedroom | 1 bed | 1 private bath
4                1 bedroom | 1 bed | 1 bath
                       ...
6778            1 bedroom | 2 beds | 1 bath
6779             1 bedroom | 1 bed | 1 bath
6780          2 bedrooms | 3 beds | 2 baths
6781          3 bedrooms | 3 beds | 2 baths
6782          4 bedrooms | 5 beds | 2 baths
Length: 15311, dtype: object

In [47]:
specs

,Name,Rate,2,3,4
0,Condo in Chicago,★4.99,1 bedroom,1 bed,1 shared bath
1,Rental unit in Chicago,★4.70,1 bedroom,1 bed,1 bath
2,Rental unit in Chicago,★4.65,2 bedrooms,2 beds,1 bath
3,Boutique hotel in Chicago,★4.93,1 bedroom,1 bed,1 private bath
4,Rental unit in Chicago,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...
6778,Condo in New Orleans,★New,1 bedroom,2 beds,1 bath
6779,Rental unit in New Orleans,★New,1 bedroom,1 bed,1 bath
6780,Home in New Orleans,★New,2 bedrooms,3 beds,2 baths
6781,Home in New Orleans,★New,3 bedrooms,3 beds,2 baths
6782,Rental unit in New Orleans,★New,4 bedrooms,5 beds,2 baths

In [52]:
specs=specs.rename(columns={'Name':'name','Rate':'rating'})

In [53]:
specs

,name,rating,bedrooms,beds,baths
0,Condo in Chicago,★4.99,1 bedroom,1 bed,1 shared bath
1,Rental unit in Chicago,★4.70,1 bedroom,1 bed,1 bath
2,Rental unit in Chicago,★4.65,2 bedrooms,2 beds,1 bath
3,Boutique hotel in Chicago,★4.93,1 bedroom,1 bed,1 private bath
4,Rental unit in Chicago,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...
6778,Condo in New Orleans,★New,1 bedroom,2 beds,1 bath
6779,Rental unit in New Orleans,★New,1 bedroom,1 bed,1 bath
6780,Home in New Orleans,★New,2 bedrooms,3 beds,2 baths
6781,Home in New Orleans,★New,3 bedrooms,3 beds,2 baths
6782,Rental unit in New Orleans,★New,4 bedrooms,5 beds,2 baths

In [54]:
data['name']=specs['name']

In [56]:
data['rating']=specs['rating']
data['bedrooms']=specs['bedrooms']
data['beds']=specs['beds']
data['baths']=specs['baths']

In [57]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1 bedroom,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1 bedroom,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2 bedrooms,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1 bedroom,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1 bedroom,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaN,NaN,3,270,0,NaN,★New,1 bedroom,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2 bedrooms,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3 bedrooms,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4 bedrooms,5 beds,2 baths

In [58]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'rating',
       'bedrooms', 'beds', 'baths'],
      dtype='object')

In [68]:
titles=list(data.columns)

In [69]:
titles

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license',
 'rating',
 'bedrooms',
 'beds',
 'baths']

In [70]:
data.shape

(15311, 22)

In [73]:
titles[3],titles[19]=titles[19],titles[3]

In [74]:
titles

['id',
 'name',
 'host_id',
 'bedrooms',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license',
 'rating',
 'bedrooms',
 'beds',
 'baths']

In [75]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1 bedroom,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1 bedroom,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2 bedrooms,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1 bedroom,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1 bedroom,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaN,NaN,3,270,0,NaN,★New,1 bedroom,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2 bedrooms,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3 bedrooms,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4 bedrooms,5 beds,2 baths

In [76]:
titles

['id',
 'name',
 'host_id',
 'bedrooms',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license',
 'rating',
 'bedrooms',
 'beds',
 'baths']

In [77]:
titles[2],titles[3]=titles[3],titles[2]

In [78]:
titles

['id',
 'name',
 'bedrooms',
 'host_id',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license',
 'rating',
 'bedrooms',
 'beds',
 'baths']

In [79]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'rating',
       'bedrooms', 'beds', 'baths'],
      dtype='object')

In [81]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1 bedroom,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1 bedroom,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2 bedrooms,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1 bedroom,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1 bedroom,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaN,NaN,3,270,0,NaN,★New,1 bedroom,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2 bedrooms,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3 bedrooms,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4 bedrooms,5 beds,2 baths

In [82]:
data.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
rating                             object
bedrooms                           object
beds                               object
baths                              object
dtype: object

In [86]:
data['last_review']=pd.to_datetime(data['last_review'])

In [85]:
data['last_review']

0       2023-09-03
1       2023-08-30
2       2023-08-29
3       2023-05-21
4       2023-04-22
           ...
6778           NaN
6779           NaN
6780           NaN
6781           NaN
6782           NaN
Name: last_review, Length: 15311, dtype: object

In [87]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1 bedroom,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1 bedroom,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2 bedrooms,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1 bedroom,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1 bedroom,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,NaN,3,270,0,NaN,★New,1 bedroom,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2 bedrooms,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3 bedrooms,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4 bedrooms,5 beds,2 baths

In [89]:
data['reviews_per_month']=data['reviews_per_month'].fillna(0)

In [91]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1 bedroom,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1 bedroom,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2 bedrooms,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1 bedroom,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1 bedroom,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1 bedroom,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2 bedrooms,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3 bedrooms,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4 bedrooms,5 beds,2 baths

In [92]:
import numpy as np
import matplotlib.pyplot as plt

In [93]:
import seaborn as sns

In [94]:
data.plot()

Error in callback <function _draw_all_if_interactive at 0x000002F9C1421620> (for post_execute):

OverflowError: int too big to convert

OverflowError: int too big to convert

In [95]:
data.plot(kind = 'line', xlabel='room_type', ylabel='price')

Error in callback <function _draw_all_if_interactive at 0x000002F9C1421620> (for post_execute):

OverflowError: int too big to convert

OverflowError: int too big to convert

In [96]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1 bedroom,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1 bedroom,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2 bedrooms,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1 bedroom,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1 bedroom,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1 bedroom,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2 bedrooms,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3 bedrooms,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4 bedrooms,5 beds,2 baths

In [98]:
data.duplicated().sum()

0

In [99]:
data.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,1.531100e+04,1.531100e+04,0.0,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000
mean,3.290655e+17,1.755173e+08,NaN,36.605550,-88.730493,198.546209,15.527595,54.769643,1.545203,37.678205,198.727190,14.192215
std,3.902640e+17,1.644326e+08,NaN,5.928168,1.198975,278.890457,32.824771,91.206256,1.966499,128.625352,128.013785,21.420302
min,2.384000e+03,9.710000e+02,NaN,29.897680,-90.137480,12.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.000865e+07,3.494976e+07,NaN,29.963850,-90.071510,89.000000,2.000000,2.000000,0.160000,1.000000,85.000000,0.000000
50%,5.087212e+07,1.074344e+08,NaN,41.799537,-87.716328,134.000000,3.000000,20.000000,1.060000,3.000000,199.000000,6.000000
75%,7.353523e+17,2.987698e+08,NaN,41.900809,-87.652741,215.000000,30.000000,70.000000,2.410000,15.000000,329.000000,23.000000
max,9.782649e+17,5.365148e+08,NaN,42.022200,-87.528420,10000.000000,1125.000000,3332.000000,108.100000,645.000000,365.000000,684.000000

In [102]:
data['id'].max()

978264935480956783

In [104]:
data.isna().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group               15311
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2650
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                            2430
rating                                0
bedrooms                              0
beds                                 32
baths                              3333
dtype: int64

In [105]:
data[data.isna()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
data.shape

(15311, 22)

In [109]:
data.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                      float64
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
number_of_reviews_ltm                      int64
license                                   object
rating                                    object
bedrooms                                  object
beds                                      object
baths                                     object
dtype: object

In [110]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1 bedroom,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1 bedroom,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2 bedrooms,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1 bedroom,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1 bedroom,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1 bedroom,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2 bedrooms,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3 bedrooms,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4 bedrooms,5 beds,2 baths

In [113]:
bedroom=data['bedrooms'].str.split('b',expand=True)

In [116]:
bedroom=bedroom.drop(columns=[1])

In [118]:
bedroom=bedroom.rename(columns={0:'bedrooms'})

In [119]:
bedroom

     bedrooms
0          1
1          1
2          2
3          1
4          1
...       ...
6778       1
6779       1
6780       2
6781       3
6782       4

[15311 rows x 1 columns]

In [120]:
data['bedrooms']=bedroom

In [121]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1 bed,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1 bed,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2 beds,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1 bed,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2 beds,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1,1 bed,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3 beds,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3 beds,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5 beds,2 baths

In [122]:
bed=data['beds'].str.split('b',expand=True)
bed=bed.drop(columns=[1])
bed=bed.rename(columns={0:'beds'})

In [125]:
beds = bed

In [126]:
data['beds']=beds

In [127]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [135]:
bath=data['baths'].str.split('b', expand=True)

In [143]:
bath[0].str.split('s', expand=True)
baths_number = bath[0]

In [141]:
bath

                0     1
0       1 shared    ath
1              1    ath
2              1    ath
3      1 private    ath
4              1    ath
...           ...   ...
6778           1    ath
6779           1    ath
6780           2   aths
6781           2   aths
6782           2   aths

[15311 rows x 2 columns]

In [144]:
bath

                0     1
0       1 shared    ath
1              1    ath
2              1    ath
3      1 private    ath
4              1    ath
...           ...   ...
6778           1    ath
6779           1    ath
6780           2   aths
6781           2   aths
6782           2   aths

[15311 rows x 2 columns]

In [145]:
baths_number

0         1 shared
1                1
2                1
3        1 private
4                1
           ...
6778             1
6779             1
6780             2
6781             2
6782             2
Name: 0, Length: 15311, dtype: object

In [147]:
baths_number=baths_number.str.split('s', expand=True)

In [148]:
baths_number

                0       1
0              1   hared
1              1     None
2              1     None
3      1 private     None
4              1     None
...           ...     ...
6778           1     None
6779           1     None
6780           2     None
6781           2     None
6782           2     None

[15311 rows x 2 columns]

In [149]:
baths_number=baths_number[0].str.split('p', expand=True)

In [150]:
baths_number

        0        1
0      1      None
1      1      None
2      1      None
3      1   rivate
4      1      None
...   ...      ...
6778   1      None
6779   1      None
6780   2      None
6781   2      None
6782   2      None

[15311 rows x 2 columns]

In [151]:
baths

NameError: name 'baths' is not defined

In [152]:
bath

                0     1
0       1 shared    ath
1              1    ath
2              1    ath
3      1 private    ath
4              1    ath
...           ...   ...
6778           1    ath
6779           1    ath
6780           2   aths
6781           2   aths
6782           2   aths

[15311 rows x 2 columns]

In [153]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [154]:
data.to_csv('Airbnb_combined.csv', index=False)

In [155]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [156]:
data.isna()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
6779,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
6780,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
6781,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
6782,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [158]:
data.isna().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group               15311
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2650
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                            2430
rating                                0
bedrooms                              0
beds                                 32
baths                              3333
dtype: int64

In [159]:
data.shape

(15311, 22)

In [165]:
location=data['name'].str.split('in',expand=True)

In [166]:
location

                    0              1     2
0              Condo        Chicago   None
1        Rental unit        Chicago   None
2        Rental unit        Chicago   None
3     Boutique hotel        Chicago   None
4        Rental unit        Chicago   None
...               ...            ...   ...
6778           Condo    New Orleans   None
6779     Rental unit    New Orleans   None
6780            Home    New Orleans   None
6781            Home    New Orleans   None
6782     Rental unit    New Orleans   None

[15311 rows x 3 columns]

In [167]:
location.isna().sum()

0        0
1        0
2    15283
dtype: int64

In [169]:
location=location.drop(columns=[2])

In [170]:
location

                    0              1
0              Condo        Chicago
1        Rental unit        Chicago
2        Rental unit        Chicago
3     Boutique hotel        Chicago
4        Rental unit        Chicago
...               ...            ...
6778           Condo    New Orleans
6779     Rental unit    New Orleans
6780            Home    New Orleans
6781            Home    New Orleans
6782     Rental unit    New Orleans

[15311 rows x 2 columns]

In [172]:
location=location.rename(columns={0:'name',1:'city'})

In [173]:
location

                 name           city
0              Condo        Chicago
1        Rental unit        Chicago
2        Rental unit        Chicago
3     Boutique hotel        Chicago
4        Rental unit        Chicago
...               ...            ...
6778           Condo    New Orleans
6779     Rental unit    New Orleans
6780            Home    New Orleans
6781            Home    New Orleans
6782     Rental unit    New Orleans

[15311 rows x 2 columns]

In [174]:
data['name']=location['name']

0                 Condo in Chicago
1           Rental unit in Chicago
2           Rental unit in Chicago
3        Boutique hotel in Chicago
4           Rental unit in Chicago
                   ...
6778          Condo in New Orleans
6779    Rental unit in New Orleans
6780           Home in New Orleans
6781           Home in New Orleans
6782    Rental unit in New Orleans
Name: name, Length: 15311, dtype: object

In [175]:
location['name']

0                Condo
1          Rental unit
2          Rental unit
3       Boutique hotel
4          Rental unit
             ...
6778             Condo
6779       Rental unit
6780              Home
6781              Home
6782       Rental unit
Name: name, Length: 15311, dtype: object

In [176]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [177]:
data['city']=location['city']

In [178]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths,city
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath,Chicago
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath,Chicago
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,0.63,7,146,16,2209984,★4.65,2,2,1 bath,Chicago
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath,Chicago
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath,New Orleans
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,0.00,3,270,0,NaN,★New,1,1,1 bath,New Orleans
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths,New Orleans
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths,New Orleans
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths,New Orleans

In [185]:
data['city'].unique()

array([' Chicago ', ' Evanston ', ' Pilsen, Chicago ', ' Oak Park ',
       ' Chicago Heights ', ' Chicago  ', ' Calumet Park ', 'y home ',
       ' Bucktown, Chicago ', ' Oak Lawn ', ' Chicago, IL ',
       ' Rogers Park ', ' Santa Barbara ', ' Harwood Heights ', ' 芝加哥 ',
       ' Evergreen Park ', ' Berwyn ', ' The Bronx ', ' ', ' Norridge ',
       'su ', ' Riverdale ', ' Elmwood Park ', ' New Orleans ', ' Arabi ',
       '  Uptown, New Orleans ', ' Waggaman ', 'g ',
       ' ByWater-Marigny, New Orleans ',
       ' ByWater-Marigny, New Orleans  ', ' New Orleans, Louisiana, US ',
       ' New orleans ', ' New Orleans, Louisiana ', ' New Orleans, ',
       ' New Orleans  ', ' Gretna ', ' Terrytown '], dtype=object)

In [186]:
location['city'].unique()

array([' Chicago ', ' Evanston ', ' Pilsen, Chicago ', ' Oak Park ',
       ' Chicago Heights ', ' Chicago  ', ' Calumet Park ', 'y home ',
       ' Bucktown, Chicago ', ' Oak Lawn ', ' Chicago, IL ',
       ' Rogers Park ', ' Santa Barbara ', ' Harwood Heights ', ' 芝加哥 ',
       ' Evergreen Park ', ' Berwyn ', ' The Bronx ', ' ', ' Norridge ',
       'su ', ' Riverdale ', ' Elmwood Park ', ' New Orleans ', ' Arabi ',
       '  Uptown, New Orleans ', ' Waggaman ', 'g ',
       ' ByWater-Marigny, New Orleans ',
       ' ByWater-Marigny, New Orleans  ', ' New Orleans, Louisiana, US ',
       ' New orleans ', ' New Orleans, Louisiana ', ' New Orleans, ',
       ' New Orleans  ', ' Gretna ', ' Terrytown '], dtype=object)

In [188]:
data['name'].unique()

array(['Condo in Chicago ', 'Rental unit in Chicago ',
       'Boutique hotel in Chicago ', 'Loft in Chicago ',
       'Home in Chicago ', 'Place to stay in Chicago ',
       'Guest suite in Chicago ', 'Rental unit in Evanston ',
       'Hostel in Chicago ', 'Bungalow in Chicago ',
       'Townhouse in Chicago ', 'Serviced apartment in Chicago ',
       'Aparthotel in Chicago ', 'Guesthouse in Chicago ',
       'Rental unit in Pilsen, Chicago ', 'Home in Oak Park ',
       'Farm stay in Chicago ', 'Rental unit in Chicago Heights ',
       'Hostel in Chicago  ', 'Bed and breakfast in Chicago ',
       'Cottage in Chicago ', 'Rental unit in Calumet Park ',
       'Rental unit in Chicago  ', 'Tiny home in Chicago ',
       'Home in Bucktown, Chicago ', 'Home in Oak Lawn ',
       'Serviced apartment in Chicago, IL ', 'Townhouse in Chicago  ',
       'Townhouse in Calumet Park ', 'Hotel in Chicago ',
       'Rental unit in Rogers Park ', 'Villa in Santa Barbara ',
       'Villa in Chicago ', 'Condo in Harwood Heights ',
       'Rental unit in 芝加哥 ', 'Condo in Evergreen Park ',
       'Boat in Chicago ', 'casa particular in Chicago ',
       'Vacation home in Chicago ', 'Rental unit in Oak Park ',
       'Home in Harwood Heights ', 'Home in Berwyn ',
       'Home in The Bronx ', 'Cabin in Chicago ', 'Condo in Norridge ',
       'minsu in Chicago ', 'Rental unit in Norridge ',
       'Tent in Chicago ', 'Rental unit in Riverdale ',
       'Condo in Oak Park ', 'Rental unit in Elmwood Park ',
       'Rental unit in New Orleans ', 'Guest suite in New Orleans ',
       'Home in New Orleans ', 'Boutique hotel in New Orleans ',
       'Townhouse in New Orleans ', 'Bungalow in New Orleans ',
       'Place to stay in New Orleans ', 'Vacation home in New Orleans ',
       'Guesthouse in New Orleans ', 'Condo in New Orleans ',
       'Bed and breakfast in New Orleans ', 'Home in Arabi ',
       'Serviced apartment in New Orleans ', 'Loft in New Orleans ',
       'Cottage in New Orleans ', 'Hostel in New Orleans ',
       'Home in  Uptown, New Orleans ', 'Villa in Waggaman ',
       'Hotel in New Orleans ', 'Religious building in New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans  ',
       'Resort in New Orleans ', 'Villa in New Orleans ',
       'Earthen home in New Orleans ', 'Floor in New Orleans ',
       'Home in New Orleans, Louisiana, US ', 'Cabin in New Orleans ',
       'Farm stay in New Orleans ', 'Rental unit in New orleans ',
       'Tiny home in New Orleans ',
       'Rental unit in New Orleans, Louisiana ',
       'Houseboat in New Orleans ', 'Camper/RV in New Orleans ',
       'Villa in New Orleans, ', 'Guest suite in New Orleans  ',
       'Home in New Orleans  ', 'Home in New orleans ',
       'Campsite in New Orleans ', 'casa particular in New Orleans ',
       'Tiny home in Gretna ', 'Home in Gretna ', 'Home in Terrytown '],
      dtype=object)

In [198]:
data['name']=data['name'].str.replace('a7a','Chicago')

In [196]:
data[data['name']=='a7a']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, rating, bedrooms, beds, baths, city]
Index: []

[0 rows x 23 columns]

In [201]:
data[data['name']=='Condo in Chicago']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, rating, bedrooms, beds, baths, city]
Index: []

[0 rows x 23 columns]

In [197]:
data['name'].unique()

array(['Condo in Chicago ', 'Rental unit in Chicago ',
       'Boutique hotel in Chicago ', 'Loft in Chicago ',
       'Home in Chicago ', 'Place to stay in Chicago ',
       'Guest suite in Chicago ', 'Rental unit in Evanston ',
       'Hostel in Chicago ', 'Bungalow in Chicago ',
       'Townhouse in Chicago ', 'Serviced apartment in Chicago ',
       'Aparthotel in Chicago ', 'Guesthouse in Chicago ',
       'Rental unit in Pilsen, Chicago ', 'Home in Oak Park ',
       'Farm stay in Chicago ', 'Rental unit in Chicago Heights ',
       'Hostel in Chicago  ', 'Bed and breakfast in Chicago ',
       'Cottage in Chicago ', 'Rental unit in Calumet Park ',
       'Rental unit in Chicago  ', 'Tiny home in Chicago ',
       'Home in Bucktown, Chicago ', 'Home in Oak Lawn ',
       'Serviced apartment in Chicago, IL ', 'Townhouse in Chicago  ',
       'Townhouse in Calumet Park ', 'Hotel in Chicago ',
       'Rental unit in Rogers Park ', 'Villa in Santa Barbara ',
       'Villa in Chicago ', 'Condo in Harwood Heights ',
       'Rental unit in a7a ', 'Condo in Evergreen Park ',
       'Boat in Chicago ', 'casa particular in Chicago ',
       'Vacation home in Chicago ', 'Rental unit in Oak Park ',
       'Home in Harwood Heights ', 'Home in Berwyn ',
       'Home in The Bronx ', 'Cabin in Chicago ', 'Condo in Norridge ',
       'minsu in Chicago ', 'Rental unit in Norridge ',
       'Tent in Chicago ', 'Rental unit in Riverdale ',
       'Condo in Oak Park ', 'Rental unit in Elmwood Park ',
       'Rental unit in New Orleans ', 'Guest suite in New Orleans ',
       'Home in New Orleans ', 'Boutique hotel in New Orleans ',
       'Townhouse in New Orleans ', 'Bungalow in New Orleans ',
       'Place to stay in New Orleans ', 'Vacation home in New Orleans ',
       'Guesthouse in New Orleans ', 'Condo in New Orleans ',
       'Bed and breakfast in New Orleans ', 'Home in Arabi ',
       'Serviced apartment in New Orleans ', 'Loft in New Orleans ',
       'Cottage in New Orleans ', 'Hostel in New Orleans ',
       'Home in  Uptown, New Orleans ', 'Villa in Waggaman ',
       'Hotel in New Orleans ', 'Religious building in New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans  ',
       'Resort in New Orleans ', 'Villa in New Orleans ',
       'Earthen home in New Orleans ', 'Floor in New Orleans ',
       'Home in New Orleans, Louisiana, US ', 'Cabin in New Orleans ',
       'Farm stay in New Orleans ', 'Rental unit in New orleans ',
       'Tiny home in New Orleans ',
       'Rental unit in New Orleans, Louisiana ',
       'Houseboat in New Orleans ', 'Camper/RV in New Orleans ',
       'Villa in New Orleans, ', 'Guest suite in New Orleans  ',
       'Home in New Orleans  ', 'Home in New orleans ',
       'Campsite in New Orleans ', 'casa particular in New Orleans ',
       'Tiny home in Gretna ', 'Home in Gretna ', 'Home in Terrytown '],
      dtype=object)

In [199]:
data['name'].unique()

array(['Condo in Chicago ', 'Rental unit in Chicago ',
       'Boutique hotel in Chicago ', 'Loft in Chicago ',
       'Home in Chicago ', 'Place to stay in Chicago ',
       'Guest suite in Chicago ', 'Rental unit in Evanston ',
       'Hostel in Chicago ', 'Bungalow in Chicago ',
       'Townhouse in Chicago ', 'Serviced apartment in Chicago ',
       'Aparthotel in Chicago ', 'Guesthouse in Chicago ',
       'Rental unit in Pilsen, Chicago ', 'Home in Oak Park ',
       'Farm stay in Chicago ', 'Rental unit in Chicago Heights ',
       'Hostel in Chicago  ', 'Bed and breakfast in Chicago ',
       'Cottage in Chicago ', 'Rental unit in Calumet Park ',
       'Rental unit in Chicago  ', 'Tiny home in Chicago ',
       'Home in Bucktown, Chicago ', 'Home in Oak Lawn ',
       'Serviced apartment in Chicago, IL ', 'Townhouse in Chicago  ',
       'Townhouse in Calumet Park ', 'Hotel in Chicago ',
       'Rental unit in Rogers Park ', 'Villa in Santa Barbara ',
       'Villa in Chicago ', 'Condo in Harwood Heights ',
       'Condo in Evergreen Park ', 'Boat in Chicago ',
       'casa particular in Chicago ', 'Vacation home in Chicago ',
       'Rental unit in Oak Park ', 'Home in Harwood Heights ',
       'Home in Berwyn ', 'Home in The Bronx ', 'Cabin in Chicago ',
       'Condo in Norridge ', 'minsu in Chicago ',
       'Rental unit in Norridge ', 'Tent in Chicago ',
       'Rental unit in Riverdale ', 'Condo in Oak Park ',
       'Rental unit in Elmwood Park ', 'Rental unit in New Orleans ',
       'Guest suite in New Orleans ', 'Home in New Orleans ',
       'Boutique hotel in New Orleans ', 'Townhouse in New Orleans ',
       'Bungalow in New Orleans ', 'Place to stay in New Orleans ',
       'Vacation home in New Orleans ', 'Guesthouse in New Orleans ',
       'Condo in New Orleans ', 'Bed and breakfast in New Orleans ',
       'Home in Arabi ', 'Serviced apartment in New Orleans ',
       'Loft in New Orleans ', 'Cottage in New Orleans ',
       'Hostel in New Orleans ', 'Home in  Uptown, New Orleans ',
       'Villa in Waggaman ', 'Hotel in New Orleans ',
       'Religious building in New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans  ',
       'Resort in New Orleans ', 'Villa in New Orleans ',
       'Earthen home in New Orleans ', 'Floor in New Orleans ',
       'Home in New Orleans, Louisiana, US ', 'Cabin in New Orleans ',
       'Farm stay in New Orleans ', 'Rental unit in New orleans ',
       'Tiny home in New Orleans ',
       'Rental unit in New Orleans, Louisiana ',
       'Houseboat in New Orleans ', 'Camper/RV in New Orleans ',
       'Villa in New Orleans, ', 'Guest suite in New Orleans  ',
       'Home in New Orleans  ', 'Home in New orleans ',
       'Campsite in New Orleans ', 'casa particular in New Orleans ',
       'Tiny home in Gretna ', 'Home in Gretna ', 'Home in Terrytown '],
      dtype=object)

In [203]:
data[data['name']=='Home in New Orleans']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, rating, bedrooms, beds, baths, city]
Index: []

[0 rows x 23 columns]

In [206]:
df=data.drop(columns=['neighbourhood_group'])

In [207]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths,city
0,2384,Condo in Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath,Chicago
1,7126,Rental unit in Chicago,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath,Chicago
2,10945,Rental unit in Chicago,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,0.63,7,146,16,2209984,★4.65,2,2,1 bath,Chicago
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath,Chicago
4,24833,Rental unit in Chicago,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath,New Orleans
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,0.00,3,270,0,NaN,★New,1,1,1 bath,New Orleans
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths,New Orleans
6781,971690279215450436,Home in New Orleans,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths,New Orleans
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths,New Orleans

In [208]:
df[df['name']=='Home in New Orleans']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, rating, bedrooms, beds, baths, city]
Index: []

[0 rows x 22 columns]

In [209]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
number_of_reviews_ltm                      int64
license                                   object
rating                                    object
bedrooms                                  object
beds                                      object
baths                                     object
city                                      object
dtype: object

In [210]:
location

                 name           city
0              Condo        Chicago
1        Rental unit        Chicago
2        Rental unit        Chicago
3     Boutique hotel        Chicago
4        Rental unit        Chicago
...               ...            ...
6778           Condo    New Orleans
6779     Rental unit    New Orleans
6780            Home    New Orleans
6781            Home    New Orleans
6782     Rental unit    New Orleans

[15311 rows x 2 columns]

In [211]:
location['city'].unique()

array([' Chicago ', ' Evanston ', ' Pilsen, Chicago ', ' Oak Park ',
       ' Chicago Heights ', ' Chicago  ', ' Calumet Park ', 'y home ',
       ' Bucktown, Chicago ', ' Oak Lawn ', ' Chicago, IL ',
       ' Rogers Park ', ' Santa Barbara ', ' Harwood Heights ', ' 芝加哥 ',
       ' Evergreen Park ', ' Berwyn ', ' The Bronx ', ' ', ' Norridge ',
       'su ', ' Riverdale ', ' Elmwood Park ', ' New Orleans ', ' Arabi ',
       '  Uptown, New Orleans ', ' Waggaman ', 'g ',
       ' ByWater-Marigny, New Orleans ',
       ' ByWater-Marigny, New Orleans  ', ' New Orleans, Louisiana, US ',
       ' New orleans ', ' New Orleans, Louisiana ', ' New Orleans, ',
       ' New Orleans  ', ' Gretna ', ' Terrytown '], dtype=object)

In [212]:
location[location['city']=='g ']

                name city
408  Religious build   g

In [216]:
df.loc[408,'name']

408               Rental unit in Chicago
408    Religious building in New Orleans
Name: name, dtype: object

In [217]:
df.head(410)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths,city
0,2384,Condo in Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath,Chicago
1,7126,Rental unit in Chicago,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath,Chicago
2,10945,Rental unit in Chicago,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,0.63,7,146,16,2209984,★4.65,2,2,1 bath,Chicago
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath,Chicago
4,24833,Rental unit in Chicago,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,8615657,Rental unit in Chicago,45172634,Justin,Avondale,41.933210,-87.703830,Entire home/apt,86,32,...,0.26,1,0,0,R20000052959,★4.58,1,1,1 bath,Chicago
406,8617633,Townhouse in Chicago,45333620,Rob,West Town,41.893030,-87.648850,Entire home/apt,327,2,...,2.95,1,338,35,R21000073787,★4.95,4,5,3.5 baths,Chicago
407,8633981,Rental unit in Chicago,3965428,Rob,Near North Side,41.895770,-87.631820,Entire home/apt,150,60,...,0.02,74,365,0,City registration pending,1 bedroom,1,1,None,Chicago
408,8635380,Rental unit in Chicago,3965428,Rob,Near North Side,41.899470,-87.622170,Entire home/apt,155,32,...,0.09,74,365,0,City registration pending,★5.0,1,1,1 bath,Chicago
409,8689532,Rental unit in Chicago,9339313,Leon,Lower West Side,41.857990,-87.647570,Private room,73,32,...,3.20,6,365,1,City registration pending,★4.38,1,1,1 private bath,Chicago

In [219]:
location=df['name'].str.split('in', expand=True)

In [223]:
location[0].unique()

array(['Condo ', 'Rental unit ', 'Boutique hotel ', 'Loft ', 'Home ',
       'Place to stay ', 'Guest suite ', 'Hostel ', 'Bungalow ',
       'Townhouse ', 'Serviced apartment ', 'Aparthotel ', 'Guesthouse ',
       'Farm stay ', 'Bed and breakfast ', 'Cottage ', 'T', 'Hotel ',
       'Villa ', 'Boat ', 'casa particular ', 'Vacation home ', 'Cab',
       'm', 'Tent ', 'Religious build', 'Resort ', 'Earthen home ',
       'Floor ', 'Houseboat ', 'Camper/RV ', 'Campsite '], dtype=object)

In [224]:
location[1].unique()

array([' Chicago ', ' Evanston ', ' Pilsen, Chicago ', ' Oak Park ',
       ' Chicago Heights ', ' Chicago  ', ' Calumet Park ', 'y home ',
       ' Bucktown, Chicago ', ' Oak Lawn ', ' Chicago, IL ',
       ' Rogers Park ', ' Santa Barbara ', ' Harwood Heights ',
       ' Evergreen Park ', ' Berwyn ', ' The Bronx ', ' ', ' Norridge ',
       'su ', ' Riverdale ', ' Elmwood Park ', ' New Orleans ', ' Arabi ',
       '  Uptown, New Orleans ', ' Waggaman ', 'g ',
       ' ByWater-Marigny, New Orleans ',
       ' ByWater-Marigny, New Orleans  ', ' New Orleans, Louisiana, US ',
       ' New orleans ', ' New Orleans, Louisiana ', ' New Orleans, ',
       ' New Orleans  ', ' Gretna ', ' Terrytown '], dtype=object)

In [225]:
location[2].unique()

array([None, ' Chicago ', ' New Orleans ', ' Gretna '], dtype=object)

In [228]:
location[location[1]=='g ']

                   0   1              2
408  Religious build  g    New Orleans

In [231]:
location[location[2]==' Chicago ']

        0        1          2
835     T  y home    Chicago
1854    T  y home    Chicago
1855    T  y home    Chicago
3120    T  y home    Chicago
5687    T  y home    Chicago
5693  Cab            Chicago
6228    m      su    Chicago
7456    T  y home    Chicago
8258    T  y home    Chicago

In [232]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths,city
0,2384,Condo in Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath,Chicago
1,7126,Rental unit in Chicago,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath,Chicago
2,10945,Rental unit in Chicago,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,0.63,7,146,16,2209984,★4.65,2,2,1 bath,Chicago
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath,Chicago
4,24833,Rental unit in Chicago,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath,New Orleans
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,0.00,3,270,0,NaN,★New,1,1,1 bath,New Orleans
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths,New Orleans
6781,971690279215450436,Home in New Orleans,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths,New Orleans
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths,New Orleans

In [233]:
df['name'].unique()

array(['Condo in Chicago ', 'Rental unit in Chicago ',
       'Boutique hotel in Chicago ', 'Loft in Chicago ',
       'Home in Chicago ', 'Place to stay in Chicago ',
       'Guest suite in Chicago ', 'Rental unit in Evanston ',
       'Hostel in Chicago ', 'Bungalow in Chicago ',
       'Townhouse in Chicago ', 'Serviced apartment in Chicago ',
       'Aparthotel in Chicago ', 'Guesthouse in Chicago ',
       'Rental unit in Pilsen, Chicago ', 'Home in Oak Park ',
       'Farm stay in Chicago ', 'Rental unit in Chicago Heights ',
       'Hostel in Chicago  ', 'Bed and breakfast in Chicago ',
       'Cottage in Chicago ', 'Rental unit in Calumet Park ',
       'Rental unit in Chicago  ', 'Tiny home in Chicago ',
       'Home in Bucktown, Chicago ', 'Home in Oak Lawn ',
       'Serviced apartment in Chicago, IL ', 'Townhouse in Chicago  ',
       'Townhouse in Calumet Park ', 'Hotel in Chicago ',
       'Rental unit in Rogers Park ', 'Villa in Santa Barbara ',
       'Villa in Chicago ', 'Condo in Harwood Heights ',
       'Condo in Evergreen Park ', 'Boat in Chicago ',
       'casa particular in Chicago ', 'Vacation home in Chicago ',
       'Rental unit in Oak Park ', 'Home in Harwood Heights ',
       'Home in Berwyn ', 'Home in The Bronx ', 'Cabin in Chicago ',
       'Condo in Norridge ', 'minsu in Chicago ',
       'Rental unit in Norridge ', 'Tent in Chicago ',
       'Rental unit in Riverdale ', 'Condo in Oak Park ',
       'Rental unit in Elmwood Park ', 'Rental unit in New Orleans ',
       'Guest suite in New Orleans ', 'Home in New Orleans ',
       'Boutique hotel in New Orleans ', 'Townhouse in New Orleans ',
       'Bungalow in New Orleans ', 'Place to stay in New Orleans ',
       'Vacation home in New Orleans ', 'Guesthouse in New Orleans ',
       'Condo in New Orleans ', 'Bed and breakfast in New Orleans ',
       'Home in Arabi ', 'Serviced apartment in New Orleans ',
       'Loft in New Orleans ', 'Cottage in New Orleans ',
       'Hostel in New Orleans ', 'Home in  Uptown, New Orleans ',
       'Villa in Waggaman ', 'Hotel in New Orleans ',
       'Religious building in New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans  ',
       'Resort in New Orleans ', 'Villa in New Orleans ',
       'Earthen home in New Orleans ', 'Floor in New Orleans ',
       'Home in New Orleans, Louisiana, US ', 'Cabin in New Orleans ',
       'Farm stay in New Orleans ', 'Rental unit in New orleans ',
       'Tiny home in New Orleans ',
       'Rental unit in New Orleans, Louisiana ',
       'Houseboat in New Orleans ', 'Camper/RV in New Orleans ',
       'Villa in New Orleans, ', 'Guest suite in New Orleans  ',
       'Home in New Orleans  ', 'Home in New orleans ',
       'Campsite in New Orleans ', 'casa particular in New Orleans ',
       'Tiny home in Gretna ', 'Home in Gretna ', 'Home in Terrytown '],
      dtype=object)

In [234]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'license', 'rating', 'bedrooms', 'beds',
       'baths', 'city'],
      dtype='object')

In [236]:
df['name']=df['name'].str.strip()

In [237]:
df.str.strip()

AttributeError: 'DataFrame' object has no attribute 'str'

In [238]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'license', 'rating', 'bedrooms', 'beds',
       'baths', 'city'],
      dtype='object')

In [239]:
df['host_name']=df['host_name'].str.strip()

In [240]:
df['neighbourhood']=df['neighbourhood'].str.strip()
df['neighbourhood']

0                       Hyde Park
1                       West Town
2                    Lincoln Park
3                    Lincoln Park
4                    Lincoln Park
                  ...
6778    Central Business District
6779              Treme - Lafitte
6780                     West End
6781                   St. Claude
6782                      Audubon
Name: neighbourhood, Length: 15311, dtype: object

In [241]:
df['city']

0            Chicago
1            Chicago
2            Chicago
3            Chicago
4            Chicago
            ...
6778     New Orleans
6779     New Orleans
6780     New Orleans
6781     New Orleans
6782     New Orleans
Name: city, Length: 15311, dtype: object

In [243]:
df=df.drop(columns=['city'])

In [244]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [245]:
df['host_name'].unique()

array(['Rebecca', 'Sarah', 'At Home Inn', ..., 'Abe', 'Lucky Inn Hotel',
       'Edgar'], dtype=object)

In [248]:
df['room_type']=df['room_type'].str.replace('Entire home/apt','Appartment')

In [249]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,West Town,41.901660,-87.680210,Appartment,92,32,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Appartment,170,4,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,Lincoln Park,41.925961,-87.656364,Appartment,61,32,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Appartment,73,1,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Appartment,84,30,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,West End,30.007569,-90.117370,Appartment,146,1,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,St. Claude,29.971530,-90.035360,Appartment,140,2,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,Audubon,29.938293,-90.118395,Appartment,490,2,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [250]:
df['name'].unique()

array(['Condo in Chicago', 'Rental unit in Chicago',
       'Boutique hotel in Chicago', 'Loft in Chicago', 'Home in Chicago',
       'Place to stay in Chicago', 'Guest suite in Chicago',
       'Rental unit in Evanston', 'Hostel in Chicago',
       'Bungalow in Chicago', 'Townhouse in Chicago',
       'Serviced apartment in Chicago', 'Aparthotel in Chicago',
       'Guesthouse in Chicago', 'Rental unit in Pilsen, Chicago',
       'Home in Oak Park', 'Farm stay in Chicago',
       'Rental unit in Chicago Heights', 'Bed and breakfast in Chicago',
       'Cottage in Chicago', 'Rental unit in Calumet Park',
       'Tiny home in Chicago', 'Home in Bucktown, Chicago',
       'Home in Oak Lawn', 'Serviced apartment in Chicago, IL',
       'Townhouse in Calumet Park', 'Hotel in Chicago',
       'Rental unit in Rogers Park', 'Villa in Santa Barbara',
       'Villa in Chicago', 'Condo in Harwood Heights',
       'Condo in Evergreen Park', 'Boat in Chicago',
       'casa particular in Chicago', 'Vacation home in Chicago',
       'Rental unit in Oak Park', 'Home in Harwood Heights',
       'Home in Berwyn', 'Home in The Bronx', 'Cabin in Chicago',
       'Condo in Norridge', 'minsu in Chicago', 'Rental unit in Norridge',
       'Tent in Chicago', 'Rental unit in Riverdale', 'Condo in Oak Park',
       'Rental unit in Elmwood Park', 'Rental unit in New Orleans',
       'Guest suite in New Orleans', 'Home in New Orleans',
       'Boutique hotel in New Orleans', 'Townhouse in New Orleans',
       'Bungalow in New Orleans', 'Place to stay in New Orleans',
       'Vacation home in New Orleans', 'Guesthouse in New Orleans',
       'Condo in New Orleans', 'Bed and breakfast in New Orleans',
       'Home in Arabi', 'Serviced apartment in New Orleans',
       'Loft in New Orleans', 'Cottage in New Orleans',
       'Hostel in New Orleans', 'Home in  Uptown, New Orleans',
       'Villa in Waggaman', 'Hotel in New Orleans',
       'Religious building in New Orleans',
       'Cottage in ByWater-Marigny, New Orleans', 'Resort in New Orleans',
       'Villa in New Orleans', 'Earthen home in New Orleans',
       'Floor in New Orleans', 'Home in New Orleans, Louisiana, US',
       'Cabin in New Orleans', 'Farm stay in New Orleans',
       'Rental unit in New orleans', 'Tiny home in New Orleans',
       'Rental unit in New Orleans, Louisiana',
       'Houseboat in New Orleans', 'Camper/RV in New Orleans',
       'Villa in New Orleans,', 'Home in New orleans',
       'Campsite in New Orleans', 'casa particular in New Orleans',
       'Tiny home in Gretna', 'Home in Gretna', 'Home in Terrytown'],
      dtype=object)

In [251]:
location

                    0              1     2
0              Condo        Chicago   None
1        Rental unit        Chicago   None
2        Rental unit        Chicago   None
3     Boutique hotel        Chicago   None
4        Rental unit        Chicago   None
...               ...            ...   ...
6778           Condo    New Orleans   None
6779     Rental unit    New Orleans   None
6780            Home    New Orleans   None
6781            Home    New Orleans   None
6782     Rental unit    New Orleans   None

[15311 rows x 3 columns]

In [263]:
location.loc[408,2]

408             None
408     New Orleans
Name: 2, dtype: object

In [ ]:
location.loc[408,0]=='Religious building'

In [258]:
location.shape

(15311, 3)

In [264]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,West Town,41.901660,-87.680210,Appartment,92,32,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Appartment,170,4,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,Lincoln Park,41.925961,-87.656364,Appartment,61,32,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Appartment,73,1,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Appartment,84,30,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,West End,30.007569,-90.117370,Appartment,146,1,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,St. Claude,29.971530,-90.035360,Appartment,140,2,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,Audubon,29.938293,-90.118395,Appartment,490,2,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [265]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths,city
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath,Chicago
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath,Chicago
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,0.63,7,146,16,2209984,★4.65,2,2,1 bath,Chicago
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath,Chicago
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath,New Orleans
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,0.00,3,270,0,NaN,★New,1,1,1 bath,New Orleans
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths,New Orleans
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths,New Orleans
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths,New Orleans

In [266]:
df.tail(10)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
6773,970284735243895819,Rental unit in New Orleans,112910785,Marigny,Touro,29.926780,-90.096442,Appartment,59,30,...,NaT,0.0,71,365,0,NaN,★New,1,1,1 bath
6774,970345482178053018,Rental unit in New Orleans,459381826,Allison,French Quarter,29.957080,-90.067140,Private room,100,60,...,NaT,0.0,1,173,0,NaN,★New,1,1,1 shared bath
6775,970477256509726691,Home in New Orleans,101652405,Russell,Treme - Lafitte,29.967737,-90.068259,Appartment,2000,2,...,NaT,0.0,15,46,0,"20RSTR-12345, 20OSTR-12345",★New,11,13,15 baths
6776,970492926565985488,Home in New Orleans,190373951,Jasper,Tall Timbers - Brechtel,29.900381,-89.997822,Appartment,88,1,...,NaT,0.0,4,261,0,"Exempt: This listing is a licensed hotel, mote...",★New,2,2,3 baths
6777,970788678205383146,Home in Terrytown,167418116,Yogi,Broadmoor,29.943173,-90.104449,Appartment,325,3,...,NaT,0.0,3,220,0,NaN,★New,4,4,2 baths
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Appartment,73,1,...,NaT,0.0,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Appartment,84,30,...,NaT,0.0,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,West End,30.007569,-90.117370,Appartment,146,1,...,NaT,0.0,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,St. Claude,29.971530,-90.035360,Appartment,140,2,...,NaT,0.0,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,Audubon,29.938293,-90.118395,Appartment,490,2,...,NaT,0.0,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [267]:
location.loc[408,2]

408             None
408     New Orleans
Name: 2, dtype: object

In [270]:
df['name'].unique()

array(['Condo in Chicago', 'Rental unit in Chicago',
       'Boutique hotel in Chicago', 'Loft in Chicago', 'Home in Chicago',
       'Place to stay in Chicago', 'Guest suite in Chicago',
       'Rental unit in Evanston', 'Hostel in Chicago',
       'Bungalow in Chicago', 'Townhouse in Chicago',
       'Serviced apartment in Chicago', 'Aparthotel in Chicago',
       'Guesthouse in Chicago', 'Rental unit in Pilsen, Chicago',
       'Home in Oak Park', 'Farm stay in Chicago',
       'Rental unit in Chicago Heights', 'Bed and breakfast in Chicago',
       'Cottage in Chicago', 'Rental unit in Calumet Park',
       'Tiny home in Chicago', 'Home in Bucktown, Chicago',
       'Home in Oak Lawn', 'Serviced apartment in Chicago, IL',
       'Townhouse in Calumet Park', 'Hotel in Chicago',
       'Rental unit in Rogers Park', 'Villa in Santa Barbara',
       'Villa in Chicago', 'Condo in Harwood Heights',
       'Condo in Evergreen Park', 'Boat in Chicago',
       'casa particular in Chicago', 'Vacation home in Chicago',
       'Rental unit in Oak Park', 'Home in Harwood Heights',
       'Home in Berwyn', 'Home in The Bronx', 'Cabin in Chicago',
       'Condo in Norridge', 'minsu in Chicago', 'Rental unit in Norridge',
       'Tent in Chicago', 'Rental unit in Riverdale', 'Condo in Oak Park',
       'Rental unit in Elmwood Park', 'Rental unit in New Orleans',
       'Guest suite in New Orleans', 'Home in New Orleans',
       'Boutique hotel in New Orleans', 'Townhouse in New Orleans',
       'Bungalow in New Orleans', 'Place to stay in New Orleans',
       'Vacation home in New Orleans', 'Guesthouse in New Orleans',
       'Condo in New Orleans', 'Bed and breakfast in New Orleans',
       'Home in Arabi', 'Serviced apartment in New Orleans',
       'Loft in New Orleans', 'Cottage in New Orleans',
       'Hostel in New Orleans', 'Home in  Uptown, New Orleans',
       'Villa in Waggaman', 'Hotel in New Orleans',
       'Religious building in New Orleans',
       'Cottage in ByWater-Marigny, New Orleans', 'Resort in New Orleans',
       'Villa in New Orleans', 'Earthen home in New Orleans',
       'Floor in New Orleans', 'Home in New Orleans, Louisiana, US',
       'Cabin in New Orleans', 'Farm stay in New Orleans',
       'Rental unit in New orleans', 'Tiny home in New Orleans',
       'Rental unit in New Orleans, Louisiana',
       'Houseboat in New Orleans', 'Camper/RV in New Orleans',
       'Villa in New Orleans,', 'Home in New orleans',
       'Campsite in New Orleans', 'casa particular in New Orleans',
       'Tiny home in Gretna', 'Home in Gretna', 'Home in Terrytown'],
      dtype=object)

In [271]:
location[0].unique()

array(['Condo ', 'Rental unit ', 'Boutique hotel ', 'Loft ', 'Home ',
       'Place to stay ', 'Guest suite ', 'Hostel ', 'Bungalow ',
       'Townhouse ', 'Serviced apartment ', 'Aparthotel ', 'Guesthouse ',
       'Farm stay ', 'Bed and breakfast ', 'Cottage ', 'T', 'Hotel ',
       'Villa ', 'Boat ', 'casa particular ', 'Vacation home ', 'Cab',
       'm', 'Tent ', 'Religious build', 'Resort ', 'Earthen home ',
       'Floor ', 'Houseboat ', 'Camper/RV ', 'Campsite '], dtype=object)

In [272]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,1.531100e+04,1.531100e+04,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000,15311.000000
mean,3.290655e+17,1.755173e+08,36.605550,-88.730493,198.546209,15.527595,54.769643,1.545203,37.678205,198.727190,14.192215
std,3.902640e+17,1.644326e+08,5.928168,1.198975,278.890457,32.824771,91.206256,1.966499,128.625352,128.013785,21.420302
min,2.384000e+03,9.710000e+02,29.897680,-90.137480,12.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.000865e+07,3.494976e+07,29.963850,-90.071510,89.000000,2.000000,2.000000,0.160000,1.000000,85.000000,0.000000
50%,5.087212e+07,1.074344e+08,41.799537,-87.716328,134.000000,3.000000,20.000000,1.060000,3.000000,199.000000,6.000000
75%,7.353523e+17,2.987698e+08,41.900809,-87.652741,215.000000,30.000000,70.000000,2.410000,15.000000,329.000000,23.000000
max,9.782649e+17,5.365148e+08,42.022200,-87.528420,10000.000000,1125.000000,3332.000000,108.100000,645.000000,365.000000,684.000000

In [273]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'license', 'rating', 'bedrooms', 'beds',
       'baths'],
      dtype='object')

In [276]:
df['last_review'].isnull().sum()

2650

In [277]:
df.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2650
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           2430
rating                               0
bedrooms                             0
beds                                32
baths                             3333
dtype: int64

In [278]:
df[df['beds'].isnull()]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
1052,20503258,Rental unit in Chicago,68127227,Rocio,West Town,41.901750,-87.668010,Appartment,1200,32,...,NaT,0.00,1,0,0,NaN,1 bedroom,1,None,None
2583,40114673,Rental unit in Chicago,13309390,Amanda,Lincoln Square,41.964310,-87.686870,Private room,75,32,...,NaT,0.00,1,0,0,City registration pending,1 bedroom,1,None,None
2954,43543457,Loft in Chicago,336504529,Don,Loop,41.870670,-87.623870,Private room,115,32,...,2020-05-30,0.02,7,0,0,R19000039355,1 bedroom,1 private,None,None
2955,43544239,Loft in Chicago,336504529,Don,Loop,41.870030,-87.625270,Private room,97,32,...,2020-07-03,0.03,7,0,0,R19000039355,1 bedroom,1 private,None,None
3120,45487005,Tiny home in Chicago,6962723,Shane,Logan Square,41.920710,-87.699660,Appartment,13,180,...,NaT,0.00,1,73,0,NaN,1 bed,Half-,None,None
3272,46810444,Rental unit in Chicago,10890984,Kay,Rogers Park,42.015020,-87.668140,Appartment,40,32,...,NaT,0.00,1,43,0,NaN,1 bedroom,1,None,None
3320,47332851,Condo in Chicago,377006981,Olena,West Town,41.903880,-87.688480,Appartment,100,32,...,2023-07-19,0.54,1,243,1,R21000060539,2 bedrooms,1,None,None
3465,48608759,Serviced apartment in Chicago,177188450,Level,Near North Side,41.891327,-87.637840,Appartment,250,32,...,NaT,0.00,24,364,0,City registration pending,Studio,1,None,None
3586,49228404,Condo in Chicago,195836701,Thomas,Lake View,41.949760,-87.646580,Private room,45,1,...,2021-04-24,0.03,1,0,0,R21000062935,1 bedroom,1 shared,None,None
3601,49296209,Rental unit in Chicago,35873650,Vance,Hyde Park,41.800990,-87.597820,Appartment,47,70,...,2021-08-29,0.04,1,0,0,NaN,Studio,1,None,None
3641,49567370,Serviced apartment in Chicago,177188450,Level,Near North Side,41.891327,-87.637840,Appartment,250,32,...,NaT,0.00,24,365,0,NaN,Studio,1,None,None
3655,49626817,Rental unit in Chicago,400238857,Lionel Vladimir,Auburn Gresham,41.746310,-87.666080,Appartment,60,32,...,NaT,0.00,1,0,0,City registration pending,1 bedroom,1,None,None
3697,49753414,Rental unit in Chicago,400156017,Elinor,Hyde Park,41.793880,-87.583090,Appartment,45,33,...,2021-08-06,0.04,1,0,0,NaN,1 bedroom,1,None,None
3877,50787832,Condo in Chicago,410462515,Clinton,Oakland,41.820189,-87.600593,Appartment,61,33,...,NaT,0.00,1,120,0,NaN,1 bedroom,1,None,None
4065,52074213,Rental unit in Chicago,201320554,Olga,East Garfield Park,41.877870,-87.696210,Private room,31,33,...,2023-08-08,0.83,1,270,1,NaN,1 bedroom,1 private,None,None
4119,52411864,Rental unit in Chicago,228134254,Adina,Near West Side,41.875010,-87.686780,Appartment,219,32,...,2022-10-10,0.09,4,179,1,R21000071337,2 bedrooms,2,None,None
4139,52534443,Home in Chicago,66073787,Nicole,South Shore,41.755340,-87.566790,Private room,35,7,...,NaT,0.00,2,0,0,R20000057872,1 bedroom,1.5 shared,None,None
4192,52778055,Serviced apartment in Chicago,177188450,Level,Near North Side,41.891327,-87.637840,Appartment,250,32,...,2021-11-15,0.04,24,364,0,NaN,Studio,1,None,None
5474,671364559802877118,Rental unit in Chicago,406915877,Harrington,Loop,41.879889,-87.626269,Appartment,98,360,...,NaT,0.00,1,364,0,NaN,1 bedroom,0,None,None
6665,806554898016714960,Tent in Chicago,496605918,Michelle,Edgewater,41.981647,-87.658682,Appartment,350,1,...,NaT,0.00,1,75,0,R23000106436,★New,1,None,None
6926,840437133182080182,Rental unit in Chicago,396270947,Jennifer,Near North Side,41.897271,-87.629846,Appartment,194,32,...,NaT,0.00,51,336,0,NaN,1 bedroom,1,None,None
6973,843521883755311534,Rental unit in Chicago,92061621,Veda,South Shore,41.758938,-87.578667,Shared room,28,1,...,NaT,0.00,3,269,0,R23000098794,1 bedroom,1 shared,None,None
1666,24247731,Bed and breakfast in New Orleans,121931799,Monica,Mid-City,29.971380,-90.096750,Hotel room,5571,30,...,NaT,0.00,1,79,0,"Exempt: This listing is a licensed hotel, mote...",11 bedrooms,9,None,None
2250,32449177,Guest suite in New Orleans,21050084,Reginald,East Riverside,29.921590,-90.089830,Appartment,74,30,...,NaT,0.00,5,179,0,NaN,1 bedroom,1,None,None
2251,32459403,Camper/RV in New Orleans,100598600,Jason,Treme - Lafitte,29.962430,-90.072080,Appartment,350,30,...,NaT,0.00,1,0,0,NaN,3 beds,1,None,None
3127,42738761,Home in New Orleans,339221024,Ryan,Treme - Lafitte,29.966360,-90.078890,Appartment,175,30,...,NaT,0.00,1,0,0,NaN,1 bedroom,1,None,None
3151,43206037,Hotel in New Orleans,180010620,Rathbone,Treme - Lafitte,29.966250,-90.064760,Private room,184,30,...,2023-06-18,0.44,6,254,4,"Exempt: This listing is a licensed hotel, mote...",★5.0,Studio,None,None
3152,43206039,Hotel in New Orleans,180010620,Rathbone,Seventh Ward,29.967970,-90.066390,Private room,193,30,...,2023-07-23,0.78,6,267,13,"Exempt: This listing is a licensed hotel, mote...",★4.63,Studio,None,None
3293,45484687,Home in New Orleans,25140095,Margitta,Central City,29.936270,-90.082260,Appartment,300,2,...,NaT,0.00,3,71,0,"20STR-19084, 19-OSTR-00055",6 bedrooms,4,None,None
3784,50960719,Home in New Orleans,49452897,Lisa,Leonidas,29.956410,-90.130450,Shared room,29,30,...,NaT,0.00,24,0,0,NaN,1 bedroom,1 shared,None,None
3949,52533707,Rental unit in New Orleans,185244265,Anthony,Dillard,30.001940,-90.063670,Private room,44,30,...,2022-02-16,0.05,25,0,0,"Exempt: This listing is a licensed hotel, mote...",1 bedroom,1 private,None,None
4844,640377008077719700,Campsite in New Orleans,18386422,Meaghan,Broadmoor,29.939969,-90.106408,Appartment,43,1,...,NaT,0.00,3,364,0,"23-RSTR-05584, 23-OSTR-05584",1 bed,0,None,None

In [279]:
df[df['baths'].isnull()]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
48,956609,Rental unit in Chicago,4091924,Olga,Rogers Park,42.016120,-87.674430,Appartment,150,7,...,NaT,0.00,1,363,0,R23000108176,2 bedrooms,2,2,None
69,1417110,Condo in Chicago,7622794,Leah,Uptown,41.975160,-87.672270,Appartment,145,32,...,NaT,0.00,1,0,0,NaN,2 bedrooms,2,1,None
82,1732652,Rental unit in Chicago,3965428,Rob,Near North Side,41.892690,-87.622270,Appartment,153,120,...,2014-09-08,0.06,74,365,0,NaN,★4.67,1,1,None
93,1931880,Rental unit in Chicago,4995578,George,Lake View,41.935640,-87.642400,Appartment,75,32,...,2022-09-05,0.08,1,103,0,NaN,1 bedroom,1,1,None
94,1939467,Rental unit in Chicago,8292749,Ilya,Irving Park,41.959982,-87.730068,Private room,47,32,...,2023-08-21,0.90,2,243,2,NaN,1 bedroom,1,1 shared,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6501,920327969316397530,Rental unit in New Orleans,185244265,Anthony,Mid-City,29.965042,-90.092653,Private room,30,30,...,NaT,0.00,25,168,0,NaN,1 bedroom,1,1 shared,None
6502,920330387758816000,Rental unit in New Orleans,177156271,Richard,City Park,29.980782,-90.092201,Appartment,68,30,...,NaT,0.00,1,272,0,NaN,1 bedroom,1,1,None
6505,920431116783231782,Rental unit in New Orleans,90527221,Christopher,Uptown,29.924195,-90.107849,Appartment,40,30,...,NaT,0.00,1,140,0,NaN,1 bedroom,1,1,None
6507,920442400003420453,Rental unit in New Orleans,401298124,Vi,St. Claude,29.966744,-90.039824,Appartment,195,30,...,2023-07-02,0.47,4,115,1,"Exempt: This listing is a licensed hotel, mote...",3 bedrooms,3,3,None
6508,921080596632534506,Rental unit in New Orleans,188726923,Keely,Mid-City,29.979518,-90.099355,Appartment,75,2,...,2023-07-14,1.09,1,160,2,"22-RSTR-12607, 23-OSTR-01128",1 bedroom,1,1,None

In [280]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
number_of_reviews_ltm                      int64
license                                   object
rating                                    object
bedrooms                                  object
beds                                      object
baths                                     object
dtype: object

In [281]:
df['bedrooms'].str.astype(int)

AttributeError: 'StringMethods' object has no attribute 'astype'

In [282]:
df['bedrooms'].unique()

array([' 1 ', ' 2 ', ' 3 ', ' 4 ', ' Studio ', ' 6 ', ' 5 ', ' 7 ', ' 8 ',
       ' 13 ', ' 10 ', ' 21 ', ' 1 private ', ' 20 ', ' 11 ', ' Half-',
       ' 1 shared ', ' 1.5 shared ', ' 0 ', ' 9 ', ' 24 ', ' 16 ', ' 12 ',
       ' 25 ', ' 14 ', ' Studio', ' 15 ', ' 31 ', ' 19 ', ' 22 '],
      dtype=object)

In [283]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths,city
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath,Chicago
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath,Chicago
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,0.63,7,146,16,2209984,★4.65,2,2,1 bath,Chicago
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath,Chicago
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath,New Orleans
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,0.00,3,270,0,NaN,★New,1,1,1 bath,New Orleans
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths,New Orleans
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths,New Orleans
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths,New Orleans

In [303]:
df['minimum_nights'].max()

1125

In [304]:
df['minimum_nights'].min()

1

In [305]:
df['minimum_nights'].mean()

15.527594539873293

In [306]:
df[df['minimum_nights']=='1']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, rating, bedrooms, beds, baths]
Index: []

[0 rows x 21 columns]

In [302]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'license', 'rating', 'bedrooms', 'beds',
       'baths'],
      dtype='object')

In [307]:
data[data['minimum_nights']=='1']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, rating, bedrooms, beds, baths, city]
Index: []

[0 rows x 23 columns]

In [308]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,2384,Condo in Chicago,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2023-09-03,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath
1,7126,Rental unit in Chicago,17928,Sarah,West Town,41.901660,-87.680210,Appartment,92,32,...,2023-08-30,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath
2,10945,Rental unit in Chicago,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Appartment,170,4,...,2023-08-29,0.63,7,146,16,2209984,★4.65,2,2,1 bath
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,2023-05-21,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath
4,24833,Rental unit in Chicago,101521,Red,Lincoln Park,41.925961,-87.656364,Appartment,61,32,...,2023-04-22,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Appartment,73,1,...,NaT,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Appartment,84,30,...,NaT,0.00,3,270,0,NaN,★New,1,1,1 bath
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,West End,30.007569,-90.117370,Appartment,146,1,...,NaT,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths
6781,971690279215450436,Home in New Orleans,14988904,Lee,St. Claude,29.971530,-90.035360,Appartment,140,2,...,NaT,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,Audubon,29.938293,-90.118395,Appartment,490,2,...,NaT,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths

In [309]:
df.to_csv('Airbnb.trial1.csv', index=False)

In [310]:
df.to_csv('Airbnb.trial1.xlsx', index=False)

In [312]:
df['rating']=df['rating'].str.replace('★','')

In [314]:
df['rating']=df['rating'].str.strip()

In [316]:
df.to_csv('Airbnb.trial2.csv', index=False)

In [317]:
df['rating'].unique()

array(['4.99', '4.70', '4.65', '4.93', '4.29', '4.30', '4.77', '4.88',
       '5.0', '4.78', '4.95', '4.90', '4.91', '4.84', '4.74', '4.96',
       '4.85', '4.52', '4.72', '4.81', '4.92', '4.54', '4.98', '4.94',
       '4.87', '4.66', '4.26', '2 bedrooms', '4.97', '4.68', '4.17',
       '4.36', '4.0', '4.67', '4.31', '4.64', '4.43', '4.61', '4.60',
       '4.40', 'New', '4.89', '4.83', '4.82', '4.75', '4.71', '4.79',
       '4.48', '4.58', '1 bedroom', '4.69', '4.47', '4.53', '4.80',
       '3.67', '4.25', '4.73', '4.57', '4.49', '4.86', '4.55', '4.76',
       '4.38', '3 bedrooms', '4.44', '4.56', '4.63', '4.41', '4.62',
       '4.45', 'Studio', '4.24', '4.37', '4.46', '4.51', '4.59', '4.33',
       '4.42', '5 bedrooms', '4.50', '4.16', '4.20', '3.25', '3.75',
       '3.71', '4.27', '4 bedrooms', '4.32', '4.35', '4.28', '4.22',
       '0.0', '3.70', '4.39', '4.34', '7 bedrooms', '9 bedrooms', '4.15',
       '6 bedrooms', '4.18', '4.13', '3.79', '4.11', '3.0', '3.77',
       '3.33', '3.98', '4.12', '4.09', '12 bedrooms', '3.88',
       '8 bedrooms', '3.90', '3.40', '1 bed', '4.14', '4.04', '3.80',
       '4.08', '4.19', '4.06', '4.05', '11 bedrooms', '3.60', '4.21',
       '3.47', '3.94', '3.58', '3.86', '2.50', '3.95', '3.50', '3.29',
       '4.10', '10 bedrooms', '3.78', '3.89', '3.11', '3.36', '3.43',
       '3.83', '2.33', '15 bedrooms', '4.07', '4.03', '4.23', '3.91',
       '3 beds', '2.67', '3.39', '3.63', '3.96', '3.69', '23 bedrooms',
       '3.56', '2.86', '3.85', '3.87', '25 bedrooms', '19 bedrooms'],
      dtype=object)

In [318]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths,city
0,2384,Condo in Chicago,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,...,2.15,1,322,20,R17000015609,★4.99,1,1,1 shared bath,Chicago
1,7126,Rental unit in Chicago,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,...,2.92,1,347,45,R21000075737,★4.70,1,1,1 bath,Chicago
2,10945,Rental unit in Chicago,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,...,0.63,7,146,16,2209984,★4.65,2,2,1 bath,Chicago
3,12140,Boutique hotel in Chicago,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,...,0.15,1,165,3,R20000055258,★4.93,1,1,1 private bath,Chicago
4,24833,Rental unit in Chicago,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,...,0.26,4,284,2,City registration pending,★4.29,1,1,1 bath,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,...,0.00,91,33,0,"Exempt: This listing is a licensed hotel, mote...",★New,1,2,1 bath,New Orleans
6779,971022630551974985,Rental unit in New Orleans,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,...,0.00,3,270,0,NaN,★New,1,1,1 bath,New Orleans
6780,971622427724347438,Home in New Orleans,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,...,0.00,3,269,0,"23-STR-11144, 23-OSTR-16282",★New,2,3,2 baths,New Orleans
6781,971690279215450436,Home in New Orleans,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,...,0.00,1,148,0,"22-Rstr-13096, 22-ostr-12025",★New,3,3,2 baths,New Orleans
6782,971756233356699947,Rental unit in New Orleans,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,...,0.00,2,113,0,"23-RSTR-13912, 23-OSTR-11037",★New,4,5,2 baths,New Orleans

In [319]:
data1=pd.read_csv('listings(Chicago).csv')
data2=pd.read_csv('listings(new orelano).csv')
df=pd.concat([data1,data2])

In [320]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote..."
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282"
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025"
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037"

In [322]:
df['name']=df['name'].str.strip()

In [323]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote..."
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282"
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025"
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037"

In [327]:
df['name'].unique()

array(['Condo in Chicago · ★4.99 · 1 bedroom · 1 bed · 1 shared bath',
       'Rental unit in Chicago · ★4.70 · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in Chicago · ★4.65 · 2 bedrooms · 2 beds · 1 bath',
       ..., 'Home in New Orleans · ★New · 2 bedrooms · 2 beds · 3 baths',
       'Home in Terrytown · ★New · 4 bedrooms · 4 beds · 2 baths',
       'Rental unit in New Orleans · ★New · 4 bedrooms · 5 beds · 2 baths'],
      dtype=object)

In [336]:
df['name'].sample()

1856    Condo in Chicago · ★4.40 · 2 bedrooms · 4 beds...
Name: name, dtype: object

In [339]:
specis=df['name'].str.split('★', expand=True)

In [340]:
specis

                                  0                                          1
0               Condo in Chicago ·    4.99 · 1 bedroom · 1 bed · 1 shared bath
1         Rental unit in Chicago ·           4.70 · 1 bedroom · 1 bed · 1 bath
2         Rental unit in Chicago ·         4.65 · 2 bedrooms · 2 beds · 1 bath
3      Boutique hotel in Chicago ·   4.93 · 1 bedroom · 1 bed · 1 private bath
4         Rental unit in Chicago ·           4.29 · 1 bedroom · 1 bed · 1 bath
...                             ...                                        ...
6778        Condo in New Orleans ·           New · 1 bedroom · 2 beds · 1 bath
6779  Rental unit in New Orleans ·            New · 1 bedroom · 1 bed · 1 bath
6780         Home in New Orleans ·         New · 2 bedrooms · 3 beds · 2 baths
6781         Home in New Orleans ·         New · 3 bedrooms · 3 beds · 2 baths
6782  Rental unit in New Orleans ·         New · 4 bedrooms · 5 beds · 2 baths

[15311 rows x 2 columns]

In [341]:
specis[1].unique()

array(['4.99 · 1 bedroom · 1 bed · 1 shared bath',
       '4.70 · 1 bedroom · 1 bed · 1 bath',
       '4.65 · 2 bedrooms · 2 beds · 1 bath', ...,
       'New · 11 bedrooms · 11 beds · 8 baths',
       'New · 2 bedrooms · 2 beds · 4 baths',
       'New · 11 bedrooms · 13 beds · 15 baths'], dtype=object)

In [342]:
specis[0].unique()

array(['Condo in Chicago · ', 'Rental unit in Chicago · ',
       'Boutique hotel in Chicago · ', 'Loft in Chicago · ',
       'Home in Chicago · ', 'Place to stay in Chicago · ',
       'Guest suite in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in Evanston · ', 'Hostel in Chicago · ',
       'Condo in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Bungalow in Chicago · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Townhouse in Chicago · ', 'Serviced apartment in Chicago · ',
       'Aparthotel in Chicago · ', 'Guesthouse in Chicago · ',
       'Condo in Chicago · 3 bedrooms · 4 beds · 3.5 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Rental unit in Pilsen, Chicago · ',
       'Rental unit in Chicago · Studio · 1 bed · 1 bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Home in Oak Park · ', 'Farm stay in Chicago · ',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1.5 baths',
       'Rental unit in Chicago Heights · 5 bedrooms · 5 beds · 1.5 baths',
       'Hostel in Chicago  · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Bed and breakfast in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Cottage in Chicago · ', 'Rental unit in Calumet Park · ',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 5 beds · 3.5 baths',
       'Rental unit in Chicago  · ',
       'Loft in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Tiny home in Chicago · ',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Loft in Chicago · Studio · 1 bed · 1 private bath',
       'Condo in Chicago · Studio · 3 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Loft in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 2.5 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1 bath',
       'Home in Bucktown, Chicago · ',
       'Condo in Chicago · 2 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · Studio · 3 beds · 2 baths',
       'Townhouse in Chicago · 3 bedrooms · 7 beds · 3.5 baths',
       'Townhouse in Chicago · 3 bedrooms · 5 beds · 2.5 baths',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Home in Oak Lawn · ',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Townhouse in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Serviced apartment in Chicago, IL · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 private bath',
       'Condo in Chicago · 2 bedrooms · 1 bed · 1 shared bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Townhouse in Chicago  · ',
       'Home in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 3 beds · 1 shared bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 4 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Townhouse in Calumet Park · ',
       'Condo in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Condo in Chicago · Studio · 1 bed · 1 bath',
       'Hotel in Chicago · Studio · 1 bed · 1 private bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Rental unit in Rogers Park · ',
       'Rental unit in Chicago · Studio · 1 bed · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · Studio · 1 bed · 1 shared bath',
       'Villa in Santa Barbara · 3 bedrooms · 4 beds · 3 baths',
       'Home in Chicago · 4 bedrooms · 3 beds · 3.5 baths',
       'Rental unit in Chicago · Studio · 2 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1.5 shared baths',
       'Villa in Chicago · ',
       'Home in Chicago · 2 bedrooms · 2 beds · 2 shared baths',
       'Rental unit in Chicago · 7 bedrooms · 1 bed · 1 bath',
       'Rental unit in Chicago · 5 bedrooms · 5 beds · 1.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Home in Chicago · 3 bedrooms · 3 beds · 3.5 baths',
       'Condo in Chicago · 9 bedrooms · 13 beds · 6 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1.5 baths',
       'Condo in Harwood Heights · ',
       'Rental unit in Chicago · Studio · 1 bed · 1 shared bath',
       'Serviced apartment in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 6 bedrooms · 1 bed · 3 baths',
       'Hotel in Chicago · ',
       'Boutique hotel in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Home in Chicago · 3 bedrooms · 4 beds · 2.5 baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 1 bath',
       'Rental unit in 芝加哥 · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · Shared half-bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 1 private bath',
       'Home in Chicago · Studio · 1 bed · 2 shared baths',
       'Bungalow in Chicago · 4 bedrooms · 3 beds · 4.5 baths',
       'Rental unit in Chicago · Studio · 2 beds · 0 baths',
       'Bungalow in Chicago · 3 bedrooms · 6 beds · 1 bath',
       'Serviced apartment in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 2 shared baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Boutique hotel in Chicago · Studio · 1 bed · 1 bath',
       'Boutique hotel in Chicago · Studio · 1 bed · 1 shared bath',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1.5 shared baths',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1 shared bath',
       'Condo in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 1 bed · 2 shared baths',
       'Home in Chicago · 12 bedrooms · 21 beds · 12.5 baths',
       'Loft in Chicago · 1 bedroom · 1 private bath',
       'Home in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Home in Chicago · 6 bedrooms · 6 beds · 3.5 baths',
       'Home in Chicago · Studio · 1 bed · 1 bath',
       'Condo in Chicago · 8 bedrooms · 20 beds · 6 baths',
       'Rental unit in Chicago · 6 bedrooms · 11 beds · 6 baths',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Bungalow in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Loft in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 1.5 baths',
       'Condo in Evergreen Park · ',
       'Rental unit in Chicago · 4 bedrooms · 5 beds · 2 baths',
       'Bungalow in Chicago · 2 bedrooms · 1 bed · 1.5 shared baths',
       'Condo in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Tiny home in Chicago · 1 bed · Half-bath',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Home in Chicago · 2 bedrooms · 3 beds · 2.5 baths',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1 shared bath',
       'Home in Chicago · 4 bedrooms · 5 beds · 3 baths',
       'Townhouse in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Home in Chicago · 3 bedrooms · 5 beds · 3.5 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Loft in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Condo in Chicago · 2 bedrooms · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 2.5 baths',
       'Rental unit in Chicago · Studio · 1 bed · 1 private bath',
       'Serviced apartment in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Serviced apartment in Chicago · Studio · 1 bed · 1 bath',
       'Serviced apartment in Chicago · Studio · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Boat in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 8 bedrooms · 8 beds · 3 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Condo in Chicago · 1 bedroom · 1 shared bath',
       'Rental unit in Chicago · Studio · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 1 bed · 2 baths',
       'Townhouse in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bath',
       'Home in Chicago · 6 bedrooms · 4 beds · 6 baths',
       'Condo in Chicago · 2 bedrooms · 1 bed · 2 baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Loft in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'casa particular in Chicago · ',
       'Bed and breakfast in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Loft in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 3 beds · 1.5 baths',
       'Rental unit in Chicago · 1 bedroom · 1 private bath',
       'Guest suite in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 3 bedrooms · 3 beds · 3.5 baths',
       'casa particular in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Hotel in Chicago · Studio · 1 bed · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 2 baths',
       'Home in Chicago · 1 bedroom · 1.5 shared baths',
       'Townhouse in Chicago · 3 bedrooms · 6 beds · 2.5 baths',
       'Guesthouse in Chicago · 1 bedroom · 3 beds · 1 bath',
       'Vacation home in Chicago · ',
       'Rental unit in Chicago · 11 bedrooms · 20 beds · 10 baths',
       'Rental unit in Chicago · 5 bedrooms · 6 beds · 2 baths',
       'Rental unit in Chicago · 4 bedrooms · 6 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Rental unit in Oak Park · ',
       'Townhouse in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Villa in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in Chicago · 3 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 1 bedroom · 3 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 1 shared bath',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Loft in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Vacation home in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Bed and breakfast in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Bed and breakfast in Chicago · 3 bedrooms · 3 beds · 3 shared baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Hotel in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Home in Harwood Heights · ',
       'Home in Chicago · 4 bedrooms · 5 beds · 2 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 4 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Rental unit in Chicago · 4 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · 4 bedrooms · 6 beds · 2 baths',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Condo in Chicago · 2 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Loft in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Townhouse in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 1.5 baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Guesthouse in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 5 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1 shared bath',
       'Home in Chicago · 5 bedrooms · 8 beds · 4 baths',
       'Place to stay in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 4 bedrooms · 4 beds · 3.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 2 baths',
       'Condo in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Home in Berwyn · 5 bedrooms · 7 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 7 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 3.5 baths',
       'Home in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Home in The Bronx · ',
       'Rental unit in Chicago · 1 bedroom · 6 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 0 baths',
       'Home in Chicago · 1 bedroom · 3 beds · 1 shared bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 1.5 shared baths',
       'Home in Chicago · 6 bedrooms · 1 bed · 3 shared baths',
       'Home in Chicago · 1 bedroom · 3 beds · 1.5 shared baths',
       'Townhouse in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Home in Chicago · 3 bedrooms · 4 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 5 beds · 3 baths',
       'Home in Chicago · 2 bedrooms · 4 beds · 1.5 baths',
       'Cabin in Chicago · ',
       'Home in Chicago · 4 bedrooms · 6 beds · 3.5 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Home in Chicago · 4 bedrooms · 5 beds · 2.5 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 2 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Loft in Chicago · 3 bedrooms · 6 beds · 2.5 baths',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 shared baths',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Townhouse in Chicago · 3 bedrooms · 5 beds · 3.5 baths',
       'Bungalow in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 4 beds · 3 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 1.5 baths',
       'Boutique hotel in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in Chicago · 5 bedrooms · 5 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 7 beds · 3.5 baths',
       'Condo in Norridge · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 1 bedroom · 4 beds · 1.5 shared baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Hotel in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Villa in Chicago · 5 bedrooms · 7 beds · 6 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Condo in Chicago · 6 bedrooms · 6 beds · 2.5 baths',
       'Boutique hotel in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Condo in Chicago · 1 bedroom · 4 beds · 1 bath',
       'Condo in Chicago · 6 bedrooms · 7 beds · 2.5 baths',
       'Condo in Chicago · 9 bedrooms · 10 beds · 3.5 baths',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 1 bath',
       'minsu in Chicago · ',
       'Bed and breakfast in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Guesthouse in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 6 bedrooms · 6 beds · 6 baths',
       'Rental unit in Chicago · 8 bedrooms · 8 beds · 8 baths',
       'Rental unit in Chicago · 10 bedrooms · 10 beds · 10 baths',
       'Bungalow in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Rental unit in Norridge · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Rental unit in Chicago · 6 bedrooms · 6 beds · 5.5 baths',
       'Rental unit in Chicago · 9 bedrooms · 9 beds · 8.5 baths',
       'Rental unit in Chicago · 9 bedrooms · 9 beds · 7 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Condo in Chicago · 2 bedrooms · 4 beds · 1 bath',
       'Rental unit in Chicago · 7 bedrooms · 7 beds · 8 baths',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1 shared bath',
       'Home in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 3.5 baths',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Townhouse in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Guesthouse in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Home in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Rental unit in Chicago · 5 bedrooms · 24 beds · 6 baths',
       'Rental unit in Chicago · 4 bedrooms · 8 beds · 3 baths',
       'Rental unit in Chicago · 7 bedrooms · 16 beds · 4.5 baths',
       'Tent in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Home in Chicago · 5 bedrooms · 5 beds · 3 baths',
       'Home in Chicago · 3 bedrooms · 5 beds · 2.5 baths',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 bath',
       'Townhouse in Chicago · 4 bedrooms · 4 beds · 3 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 2 baths',
       'Rental unit in Norridge · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 5 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 8 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 1 shared bath',
       'Home in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Rental unit in Chicago · 2 bedrooms · 5 beds · 1 bath',
       'Hotel in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Hotel in Chicago · 2 bedrooms · 4 beds · 2 baths',
       'Hotel in Chicago · 3 bedrooms · 6 beds · 3 baths',
       'Hotel in Chicago · 4 bedrooms · 8 beds · 4 baths',
       'Home in Chicago · 4 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Hostel in Chicago · 1 bedroom · 4 beds · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 3 baths',
       'Home in Chicago · 4 bedrooms · 9 beds · 2.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 6 beds · 4 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 4 baths',
       'Home in Chicago · 4 bedrooms · 7 beds · 3.5 baths',
       'Condo in Chicago · 4 bedrooms · 8 beds · 2 baths',

In [343]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote..."
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282"
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025"
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037"

In [345]:
df.duplicated().sum()

0

In [346]:
df.name.str.strip()

0       Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...
1       Rental unit in Chicago · ★4.70 · 1 bedroom · 1...
2       Rental unit in Chicago · ★4.65 · 2 bedrooms · ...
3       Boutique hotel in Chicago · ★4.93 · 1 bedroom ...
4       Rental unit in Chicago · ★4.29 · 1 bedroom · 1...
                              ...
6778    Condo in New Orleans · ★New · 1 bedroom · 2 be...
6779    Rental unit in New Orleans · ★New · 1 bedroom ...
6780    Home in New Orleans · ★New · 2 bedrooms · 3 be...
6781    Home in New Orleans · ★New · 3 bedrooms · 3 be...
6782    Rental unit in New Orleans · ★New · 4 bedrooms...
Name: name, Length: 15311, dtype: object

In [347]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,NaN,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,NaN,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,NaN,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,NaN,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,NaN,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,NaN,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote..."
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,NaN,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,NaN,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282"
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,NaN,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025"
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,NaN,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037"

In [348]:
df['host_name'].str.strip()

0                            Rebecca
1                              Sarah
2                        At Home Inn
3                    Shay And Robert
4                                Red
                    ...
6778    Hosteeva California Building
6779                         Freedom
6780                          Yvonne
6781                             Lee
6782                          Arachu
Name: host_name, Length: 15311, dtype: object

In [349]:
df=df.drop(columns=['neighbourhood_group'])

                    0              1     2
0              Condo        Chicago   None
1        Rental unit        Chicago   None
2        Rental unit        Chicago   None
3     Boutique hotel        Chicago   None
4        Rental unit        Chicago   None
...               ...            ...   ...
6778           Condo    New Orleans   None
6779     Rental unit    New Orleans   None
6780            Home    New Orleans   None
6781            Home    New Orleans   None
6782     Rental unit    New Orleans   None

[15311 rows x 3 columns]

In [351]:
specis

                                  0                                          1
0               Condo in Chicago ·    4.99 · 1 bedroom · 1 bed · 1 shared bath
1         Rental unit in Chicago ·           4.70 · 1 bedroom · 1 bed · 1 bath
2         Rental unit in Chicago ·         4.65 · 2 bedrooms · 2 beds · 1 bath
3      Boutique hotel in Chicago ·   4.93 · 1 bedroom · 1 bed · 1 private bath
4         Rental unit in Chicago ·           4.29 · 1 bedroom · 1 bed · 1 bath
...                             ...                                        ...
6778        Condo in New Orleans ·           New · 1 bedroom · 2 beds · 1 bath
6779  Rental unit in New Orleans ·            New · 1 bedroom · 1 bed · 1 bath
6780         Home in New Orleans ·         New · 2 bedrooms · 3 beds · 2 baths
6781         Home in New Orleans ·         New · 3 bedrooms · 3 beds · 2 baths
6782  Rental unit in New Orleans ·         New · 4 bedrooms · 5 beds · 2 baths

[15311 rows x 2 columns]

In [354]:
specis[0].unique()

array(['Condo in Chicago · ', 'Rental unit in Chicago · ',
       'Boutique hotel in Chicago · ', 'Loft in Chicago · ',
       'Home in Chicago · ', 'Place to stay in Chicago · ',
       'Guest suite in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in Evanston · ', 'Hostel in Chicago · ',
       'Condo in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Bungalow in Chicago · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Townhouse in Chicago · ', 'Serviced apartment in Chicago · ',
       'Aparthotel in Chicago · ', 'Guesthouse in Chicago · ',
       'Condo in Chicago · 3 bedrooms · 4 beds · 3.5 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Rental unit in Pilsen, Chicago · ',
       'Rental unit in Chicago · Studio · 1 bed · 1 bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Home in Oak Park · ', 'Farm stay in Chicago · ',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1.5 baths',
       'Rental unit in Chicago Heights · 5 bedrooms · 5 beds · 1.5 baths',
       'Hostel in Chicago  · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Bed and breakfast in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Cottage in Chicago · ', 'Rental unit in Calumet Park · ',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 5 beds · 3.5 baths',
       'Rental unit in Chicago  · ',
       'Loft in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Tiny home in Chicago · ',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Loft in Chicago · Studio · 1 bed · 1 private bath',
       'Condo in Chicago · Studio · 3 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Loft in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 2.5 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1 bath',
       'Home in Bucktown, Chicago · ',
       'Condo in Chicago · 2 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · Studio · 3 beds · 2 baths',
       'Townhouse in Chicago · 3 bedrooms · 7 beds · 3.5 baths',
       'Townhouse in Chicago · 3 bedrooms · 5 beds · 2.5 baths',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Home in Oak Lawn · ',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Townhouse in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Serviced apartment in Chicago, IL · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 private bath',
       'Condo in Chicago · 2 bedrooms · 1 bed · 1 shared bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Townhouse in Chicago  · ',
       'Home in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 3 beds · 1 shared bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 4 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Townhouse in Calumet Park · ',
       'Condo in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Condo in Chicago · Studio · 1 bed · 1 bath',
       'Hotel in Chicago · Studio · 1 bed · 1 private bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Rental unit in Rogers Park · ',
       'Rental unit in Chicago · Studio · 1 bed · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · Studio · 1 bed · 1 shared bath',
       'Villa in Santa Barbara · 3 bedrooms · 4 beds · 3 baths',
       'Home in Chicago · 4 bedrooms · 3 beds · 3.5 baths',
       'Rental unit in Chicago · Studio · 2 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1.5 shared baths',
       'Villa in Chicago · ',
       'Home in Chicago · 2 bedrooms · 2 beds · 2 shared baths',
       'Rental unit in Chicago · 7 bedrooms · 1 bed · 1 bath',
       'Rental unit in Chicago · 5 bedrooms · 5 beds · 1.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Home in Chicago · 3 bedrooms · 3 beds · 3.5 baths',
       'Condo in Chicago · 9 bedrooms · 13 beds · 6 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1.5 baths',
       'Condo in Harwood Heights · ',
       'Rental unit in Chicago · Studio · 1 bed · 1 shared bath',
       'Serviced apartment in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 6 bedrooms · 1 bed · 3 baths',
       'Hotel in Chicago · ',
       'Boutique hotel in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Home in Chicago · 3 bedrooms · 4 beds · 2.5 baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 1 bath',
       'Rental unit in 芝加哥 · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · Shared half-bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 1 private bath',
       'Home in Chicago · Studio · 1 bed · 2 shared baths',
       'Bungalow in Chicago · 4 bedrooms · 3 beds · 4.5 baths',
       'Rental unit in Chicago · Studio · 2 beds · 0 baths',
       'Bungalow in Chicago · 3 bedrooms · 6 beds · 1 bath',
       'Serviced apartment in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 2 shared baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Boutique hotel in Chicago · Studio · 1 bed · 1 bath',
       'Boutique hotel in Chicago · Studio · 1 bed · 1 shared bath',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1.5 shared baths',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1 shared bath',
       'Condo in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 1 bed · 2 shared baths',
       'Home in Chicago · 12 bedrooms · 21 beds · 12.5 baths',
       'Loft in Chicago · 1 bedroom · 1 private bath',
       'Home in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Home in Chicago · 6 bedrooms · 6 beds · 3.5 baths',
       'Home in Chicago · Studio · 1 bed · 1 bath',
       'Condo in Chicago · 8 bedrooms · 20 beds · 6 baths',
       'Rental unit in Chicago · 6 bedrooms · 11 beds · 6 baths',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Bungalow in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Loft in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 1.5 baths',
       'Condo in Evergreen Park · ',
       'Rental unit in Chicago · 4 bedrooms · 5 beds · 2 baths',
       'Bungalow in Chicago · 2 bedrooms · 1 bed · 1.5 shared baths',
       'Condo in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Tiny home in Chicago · 1 bed · Half-bath',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Home in Chicago · 2 bedrooms · 3 beds · 2.5 baths',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1 shared bath',
       'Home in Chicago · 4 bedrooms · 5 beds · 3 baths',
       'Townhouse in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Home in Chicago · 3 bedrooms · 5 beds · 3.5 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Loft in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Condo in Chicago · 2 bedrooms · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 2.5 baths',
       'Rental unit in Chicago · Studio · 1 bed · 1 private bath',
       'Serviced apartment in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Serviced apartment in Chicago · Studio · 1 bed · 1 bath',
       'Serviced apartment in Chicago · Studio · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Boat in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 8 bedrooms · 8 beds · 3 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Condo in Chicago · 1 bedroom · 1 shared bath',
       'Rental unit in Chicago · Studio · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 1 bed · 2 baths',
       'Townhouse in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bath',
       'Home in Chicago · 6 bedrooms · 4 beds · 6 baths',
       'Condo in Chicago · 2 bedrooms · 1 bed · 2 baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Loft in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'casa particular in Chicago · ',
       'Bed and breakfast in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Loft in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 3 beds · 1.5 baths',
       'Rental unit in Chicago · 1 bedroom · 1 private bath',
       'Guest suite in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 3 bedrooms · 3 beds · 3.5 baths',
       'casa particular in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Hotel in Chicago · Studio · 1 bed · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 2 baths',
       'Home in Chicago · 1 bedroom · 1.5 shared baths',
       'Townhouse in Chicago · 3 bedrooms · 6 beds · 2.5 baths',
       'Guesthouse in Chicago · 1 bedroom · 3 beds · 1 bath',
       'Vacation home in Chicago · ',
       'Rental unit in Chicago · 11 bedrooms · 20 beds · 10 baths',
       'Rental unit in Chicago · 5 bedrooms · 6 beds · 2 baths',
       'Rental unit in Chicago · 4 bedrooms · 6 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Rental unit in Oak Park · ',
       'Townhouse in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Villa in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in Chicago · 3 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 1 bedroom · 3 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 1 shared bath',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Loft in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Vacation home in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Bed and breakfast in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Bed and breakfast in Chicago · 3 bedrooms · 3 beds · 3 shared baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Hotel in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Home in Harwood Heights · ',
       'Home in Chicago · 4 bedrooms · 5 beds · 2 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 4 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Rental unit in Chicago · 4 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · 4 bedrooms · 6 beds · 2 baths',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Condo in Chicago · 2 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Loft in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Townhouse in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 1.5 baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Guesthouse in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 5 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1 shared bath',
       'Home in Chicago · 5 bedrooms · 8 beds · 4 baths',
       'Place to stay in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 4 bedrooms · 4 beds · 3.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 2 baths',
       'Condo in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Home in Berwyn · 5 bedrooms · 7 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 7 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 3.5 baths',
       'Home in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Home in The Bronx · ',
       'Rental unit in Chicago · 1 bedroom · 6 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 0 baths',
       'Home in Chicago · 1 bedroom · 3 beds · 1 shared bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 1.5 shared baths',
       'Home in Chicago · 6 bedrooms · 1 bed · 3 shared baths',
       'Home in Chicago · 1 bedroom · 3 beds · 1.5 shared baths',
       'Townhouse in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Home in Chicago · 3 bedrooms · 4 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 5 beds · 3 baths',
       'Home in Chicago · 2 bedrooms · 4 beds · 1.5 baths',
       'Cabin in Chicago · ',
       'Home in Chicago · 4 bedrooms · 6 beds · 3.5 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Home in Chicago · 4 bedrooms · 5 beds · 2.5 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 2 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Loft in Chicago · 3 bedrooms · 6 beds · 2.5 baths',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 shared baths',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Townhouse in Chicago · 3 bedrooms · 5 beds · 3.5 baths',
       'Bungalow in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 4 beds · 3 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 1.5 baths',
       'Boutique hotel in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in Chicago · 5 bedrooms · 5 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 7 beds · 3.5 baths',
       'Condo in Norridge · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 1 bedroom · 4 beds · 1.5 shared baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Hotel in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Villa in Chicago · 5 bedrooms · 7 beds · 6 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Condo in Chicago · 6 bedrooms · 6 beds · 2.5 baths',
       'Boutique hotel in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Condo in Chicago · 1 bedroom · 4 beds · 1 bath',
       'Condo in Chicago · 6 bedrooms · 7 beds · 2.5 baths',
       'Condo in Chicago · 9 bedrooms · 10 beds · 3.5 baths',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 1 bath',
       'minsu in Chicago · ',
       'Bed and breakfast in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Guesthouse in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 6 bedrooms · 6 beds · 6 baths',
       'Rental unit in Chicago · 8 bedrooms · 8 beds · 8 baths',
       'Rental unit in Chicago · 10 bedrooms · 10 beds · 10 baths',
       'Bungalow in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Rental unit in Norridge · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Rental unit in Chicago · 6 bedrooms · 6 beds · 5.5 baths',
       'Rental unit in Chicago · 9 bedrooms · 9 beds · 8.5 baths',
       'Rental unit in Chicago · 9 bedrooms · 9 beds · 7 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Condo in Chicago · 2 bedrooms · 4 beds · 1 bath',
       'Rental unit in Chicago · 7 bedrooms · 7 beds · 8 baths',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1 shared bath',
       'Home in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 3.5 baths',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Townhouse in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Guesthouse in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Home in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Rental unit in Chicago · 5 bedrooms · 24 beds · 6 baths',
       'Rental unit in Chicago · 4 bedrooms · 8 beds · 3 baths',
       'Rental unit in Chicago · 7 bedrooms · 16 beds · 4.5 baths',
       'Tent in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Home in Chicago · 5 bedrooms · 5 beds · 3 baths',
       'Home in Chicago · 3 bedrooms · 5 beds · 2.5 baths',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 bath',
       'Townhouse in Chicago · 4 bedrooms · 4 beds · 3 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 2 baths',
       'Rental unit in Norridge · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 5 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 8 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 1 shared bath',
       'Home in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Rental unit in Chicago · 2 bedrooms · 5 beds · 1 bath',
       'Hotel in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Hotel in Chicago · 2 bedrooms · 4 beds · 2 baths',
       'Hotel in Chicago · 3 bedrooms · 6 beds · 3 baths',
       'Hotel in Chicago · 4 bedrooms · 8 beds · 4 baths',
       'Home in Chicago · 4 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Hostel in Chicago · 1 bedroom · 4 beds · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 3 baths',
       'Home in Chicago · 4 bedrooms · 9 beds · 2.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 6 beds · 4 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 4 baths',
       'Home in Chicago · 4 bedrooms · 7 beds · 3.5 baths',
       'Condo in Chicago · 4 bedrooms · 8 beds · 2 baths',

In [356]:
type=df['name'].str.split('·', expand=True)

In [357]:
type

,0,1,2,3,4
0,Condo in Chicago,★4.99,1 bedroom,1 bed,1 shared bath
1,Rental unit in Chicago,★4.70,1 bedroom,1 bed,1 bath
2,Rental unit in Chicago,★4.65,2 bedrooms,2 beds,1 bath
3,Boutique hotel in Chicago,★4.93,1 bedroom,1 bed,1 private bath
4,Rental unit in Chicago,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...
6778,Condo in New Orleans,★New,1 bedroom,2 beds,1 bath
6779,Rental unit in New Orleans,★New,1 bedroom,1 bed,1 bath
6780,Home in New Orleans,★New,2 bedrooms,3 beds,2 baths
6781,Home in New Orleans,★New,3 bedrooms,3 beds,2 baths
6782,Rental unit in New Orleans,★New,4 bedrooms,5 beds,2 baths

In [358]:
type[0].unique()

array(['Condo in Chicago ', 'Rental unit in Chicago ',
       'Boutique hotel in Chicago ', 'Loft in Chicago ',
       'Home in Chicago ', 'Place to stay in Chicago ',
       'Guest suite in Chicago ', 'Rental unit in Evanston ',
       'Hostel in Chicago ', 'Bungalow in Chicago ',
       'Townhouse in Chicago ', 'Serviced apartment in Chicago ',
       'Aparthotel in Chicago ', 'Guesthouse in Chicago ',
       'Rental unit in Pilsen, Chicago ', 'Home in Oak Park ',
       'Farm stay in Chicago ', 'Rental unit in Chicago Heights ',
       'Hostel in Chicago  ', 'Bed and breakfast in Chicago ',
       'Cottage in Chicago ', 'Rental unit in Calumet Park ',
       'Rental unit in Chicago  ', 'Tiny home in Chicago ',
       'Home in Bucktown, Chicago ', 'Home in Oak Lawn ',
       'Serviced apartment in Chicago, IL ', 'Townhouse in Chicago  ',
       'Townhouse in Calumet Park ', 'Hotel in Chicago ',
       'Rental unit in Rogers Park ', 'Villa in Santa Barbara ',
       'Villa in Chicago ', 'Condo in Harwood Heights ',
       'Rental unit in 芝加哥 ', 'Condo in Evergreen Park ',
       'Boat in Chicago ', 'casa particular in Chicago ',
       'Vacation home in Chicago ', 'Rental unit in Oak Park ',
       'Home in Harwood Heights ', 'Home in Berwyn ',
       'Home in The Bronx ', 'Cabin in Chicago ', 'Condo in Norridge ',
       'minsu in Chicago ', 'Rental unit in Norridge ',
       'Tent in Chicago ', 'Rental unit in Riverdale ',
       'Condo in Oak Park ', 'Rental unit in Elmwood Park ',
       'Rental unit in New Orleans ', 'Guest suite in New Orleans ',
       'Home in New Orleans ', 'Boutique hotel in New Orleans ',
       'Townhouse in New Orleans ', 'Bungalow in New Orleans ',
       'Place to stay in New Orleans ', 'Vacation home in New Orleans ',
       'Guesthouse in New Orleans ', 'Condo in New Orleans ',
       'Bed and breakfast in New Orleans ', 'Home in Arabi ',
       'Serviced apartment in New Orleans ', 'Loft in New Orleans ',
       'Cottage in New Orleans ', 'Hostel in New Orleans ',
       'Home in  Uptown, New Orleans ', 'Villa in Waggaman ',
       'Hotel in New Orleans ', 'Religious building in New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans  ',
       'Resort in New Orleans ', 'Villa in New Orleans ',
       'Earthen home in New Orleans ', 'Floor in New Orleans ',
       'Home in New Orleans, Louisiana, US ', 'Cabin in New Orleans ',
       'Farm stay in New Orleans ', 'Rental unit in New orleans ',
       'Tiny home in New Orleans ',
       'Rental unit in New Orleans, Louisiana ',
       'Houseboat in New Orleans ', 'Camper/RV in New Orleans ',
       'Villa in New Orleans, ', 'Guest suite in New Orleans  ',
       'Home in New Orleans  ', 'Home in New orleans ',
       'Campsite in New Orleans ', 'casa particular in New Orleans ',
       'Tiny home in Gretna ', 'Home in Gretna ', 'Home in Terrytown '],
      dtype=object)

In [359]:
type[1].unique()

array([' ★4.99 ', ' ★4.70 ', ' ★4.65 ', ' ★4.93 ', ' ★4.29 ', ' ★4.30 ',
       ' ★4.77 ', ' ★4.88 ', ' ★5.0 ', ' ★4.78 ', ' ★4.95 ', ' ★4.90 ',
       ' ★4.91 ', ' ★4.84 ', ' ★4.74 ', ' ★4.96 ', ' ★4.85 ', ' ★4.52 ',
       ' ★4.72 ', ' ★4.81 ', ' ★4.92 ', ' ★4.54 ', ' ★4.98 ', ' ★4.94 ',
       ' ★4.87 ', ' ★4.66 ', ' ★4.26 ', ' 2 bedrooms ', ' ★4.97 ',
       ' ★4.68 ', ' ★4.17 ', ' ★4.36 ', ' ★4.0 ', ' ★4.67 ', ' ★4.31 ',
       ' ★4.64 ', ' ★4.43 ', ' ★4.61 ', ' ★4.60 ', ' ★4.40 ', ' ★New ',
       ' ★4.89 ', ' ★4.83 ', ' ★4.82 ', ' ★4.75 ', ' ★4.71 ', ' ★4.79 ',
       ' ★4.48 ', ' ★4.58 ', ' 1 bedroom ', ' ★4.69 ', ' ★4.47 ',
       ' ★4.53 ', ' ★4.80 ', ' ★3.67 ', ' ★4.25 ', ' ★4.73 ', ' ★4.57 ',
       ' ★4.49 ', ' ★4.86 ', ' ★4.55 ', ' ★4.76 ', ' ★4.38 ',
       ' 3 bedrooms ', ' ★4.44 ', ' ★4.56 ', ' ★4.63 ', ' ★4.41 ',
       ' ★4.62 ', ' ★4.45 ', ' Studio ', ' ★4.24 ', ' ★4.37 ', ' ★4.46 ',
       ' ★4.51 ', ' ★4.59 ', ' ★4.33 ', ' ★4.42 ', ' 5 bedrooms ',
       ' ★4.50 ', ' ★4.16 ', ' ★4.20 ', ' ★3.25 ', ' ★3.75 ', ' ★3.71 ',
       ' ★4.27 ', ' 4 bedrooms ', ' ★4.32 ', ' ★4.35 ', ' ★4.28 ',
       ' ★4.22 ', ' ★0.0 ', ' ★3.70 ', ' ★4.39 ', ' ★4.34 ',
       ' 7 bedrooms ', ' 9 bedrooms ', ' ★4.15 ', ' 6 bedrooms ',
       ' ★4.18 ', ' ★4.13 ', ' ★3.79 ', ' ★4.11 ', ' ★3.0 ', ' ★3.77 ',
       ' ★3.33 ', ' ★3.98 ', ' ★4.12 ', ' ★4.09 ', ' 12 bedrooms ',
       ' ★3.88 ', ' 8 bedrooms ', ' ★3.90 ', ' ★3.40 ', ' 1 bed ',
       ' ★4.14 ', ' ★4.04 ', ' ★3.80 ', ' ★4.08 ', ' ★4.19 ', ' ★4.06 ',
       ' ★4.05 ', ' 11 bedrooms ', ' ★3.60 ', ' ★4.21 ', ' ★3.47 ',
       ' ★3.94 ', ' ★3.58 ', ' ★3.86 ', ' ★2.50 ', ' ★3.95 ', ' ★3.50 ',
       ' ★3.29 ', ' ★4.10 ', ' 10 bedrooms ', ' ★3.78 ', ' ★3.89 ',
       ' ★3.11 ', ' ★3.36 ', ' ★3.43 ', ' ★3.83 ', ' ★2.33 ',
       ' 15 bedrooms ', ' ★4.07 ', ' ★4.03 ', ' ★4.23 ', ' ★3.91 ',
       ' 3 beds ', ' ★2.67 ', ' ★3.39 ', ' ★3.63 ', ' ★3.96 ', ' ★3.69 ',
       ' 23 bedrooms ', ' ★3.56 ', ' ★2.86 ', ' ★3.85 ', ' ★3.87 ',
       ' 25 bedrooms ', ' 19 bedrooms '], dtype=object)

In [367]:
type[type[2]=='bedroom']

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [371]:
type.loc[25,2]

25     2 bedrooms
25         Studio
Name: 2, dtype: object

In [372]:
type[1].dtypes

dtype('O')

In [373]:
type.dtypes

0    object
1    object
2    object
3    object
4    object
dtype: object

In [375]:
type[1]=type[1].str.replace('bedrooms','beds')

In [377]:
type[1].unique()

array([' ★4.99 ', ' ★4.70 ', ' ★4.65 ', ' ★4.93 ', ' ★4.29 ', ' ★4.30 ',
       ' ★4.77 ', ' ★4.88 ', ' ★5.0 ', ' ★4.78 ', ' ★4.95 ', ' ★4.90 ',
       ' ★4.91 ', ' ★4.84 ', ' ★4.74 ', ' ★4.96 ', ' ★4.85 ', ' ★4.52 ',
       ' ★4.72 ', ' ★4.81 ', ' ★4.92 ', ' ★4.54 ', ' ★4.98 ', ' ★4.94 ',
       ' ★4.87 ', ' ★4.66 ', ' ★4.26 ', ' 2 beds ', ' ★4.97 ', ' ★4.68 ',
       ' ★4.17 ', ' ★4.36 ', ' ★4.0 ', ' ★4.67 ', ' ★4.31 ', ' ★4.64 ',
       ' ★4.43 ', ' ★4.61 ', ' ★4.60 ', ' ★4.40 ', ' ★New ', ' ★4.89 ',
       ' ★4.83 ', ' ★4.82 ', ' ★4.75 ', ' ★4.71 ', ' ★4.79 ', ' ★4.48 ',
       ' ★4.58 ', ' 1 bedroom ', ' ★4.69 ', ' ★4.47 ', ' ★4.53 ',
       ' ★4.80 ', ' ★3.67 ', ' ★4.25 ', ' ★4.73 ', ' ★4.57 ', ' ★4.49 ',
       ' ★4.86 ', ' ★4.55 ', ' ★4.76 ', ' ★4.38 ', ' 3 beds ', ' ★4.44 ',
       ' ★4.56 ', ' ★4.63 ', ' ★4.41 ', ' ★4.62 ', ' ★4.45 ', ' Studio ',
       ' ★4.24 ', ' ★4.37 ', ' ★4.46 ', ' ★4.51 ', ' ★4.59 ', ' ★4.33 ',
       ' ★4.42 ', ' 5 beds ', ' ★4.50 ', ' ★4.16 ', ' ★4.20 ', ' ★3.25 ',
       ' ★3.75 ', ' ★3.71 ', ' ★4.27 ', ' 4 beds ', ' ★4.32 ', ' ★4.35 ',
       ' ★4.28 ', ' ★4.22 ', ' ★0.0 ', ' ★3.70 ', ' ★4.39 ', ' ★4.34 ',
       ' 7 beds ', ' 9 beds ', ' ★4.15 ', ' 6 beds ', ' ★4.18 ',
       ' ★4.13 ', ' ★3.79 ', ' ★4.11 ', ' ★3.0 ', ' ★3.77 ', ' ★3.33 ',
       ' ★3.98 ', ' ★4.12 ', ' ★4.09 ', ' 12 beds ', ' ★3.88 ',
       ' 8 beds ', ' ★3.90 ', ' ★3.40 ', ' 1 bed ', ' ★4.14 ', ' ★4.04 ',
       ' ★3.80 ', ' ★4.08 ', ' ★4.19 ', ' ★4.06 ', ' ★4.05 ', ' 11 beds ',
       ' ★3.60 ', ' ★4.21 ', ' ★3.47 ', ' ★3.94 ', ' ★3.58 ', ' ★3.86 ',
       ' ★2.50 ', ' ★3.95 ', ' ★3.50 ', ' ★3.29 ', ' ★4.10 ', ' 10 beds ',
       ' ★3.78 ', ' ★3.89 ', ' ★3.11 ', ' ★3.36 ', ' ★3.43 ', ' ★3.83 ',
       ' ★2.33 ', ' 15 beds ', ' ★4.07 ', ' ★4.03 ', ' ★4.23 ', ' ★3.91 ',
       ' ★2.67 ', ' ★3.39 ', ' ★3.63 ', ' ★3.96 ', ' ★3.69 ', ' 23 beds ',
       ' ★3.56 ', ' ★2.86 ', ' ★3.85 ', ' ★3.87 ', ' 25 beds ',
       ' 19 beds '], dtype=object)

In [382]:
beds=['bedroom','beds']
type[type[1].isin(beds)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [383]:
type[type[0].isin('芝加哥')]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [384]:
chica='芝加哥'
type[type[0].isin(chica)]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [385]:
df['name']

0       Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...
1       Rental unit in Chicago · ★4.70 · 1 bedroom · 1...
2       Rental unit in Chicago · ★4.65 · 2 bedrooms · ...
3       Boutique hotel in Chicago · ★4.93 · 1 bedroom ...
4       Rental unit in Chicago · ★4.29 · 1 bedroom · 1...
                              ...
6778    Condo in New Orleans · ★New · 1 bedroom · 2 be...
6779    Rental unit in New Orleans · ★New · 1 bedroom ...
6780    Home in New Orleans · ★New · 2 bedrooms · 3 be...
6781    Home in New Orleans · ★New · 3 bedrooms · 3 be...
6782    Rental unit in New Orleans · ★New · 4 bedrooms...
Name: name, Length: 15311, dtype: object

In [389]:
df[df['name'] == 'Rental unit in 芝加哥 ']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license]
Index: []

In [390]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote..."
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282"
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025"
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037"

In [391]:
type

,0,1,2,3,4
0,Condo in Chicago,★4.99,1 bedroom,1 bed,1 shared bath
1,Rental unit in Chicago,★4.70,1 bedroom,1 bed,1 bath
2,Rental unit in Chicago,★4.65,2 bedrooms,2 beds,1 bath
3,Boutique hotel in Chicago,★4.93,1 bedroom,1 bed,1 private bath
4,Rental unit in Chicago,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...
6778,Condo in New Orleans,★New,1 bedroom,2 beds,1 bath
6779,Rental unit in New Orleans,★New,1 bedroom,1 bed,1 bath
6780,Home in New Orleans,★New,2 bedrooms,3 beds,2 baths
6781,Home in New Orleans,★New,3 bedrooms,3 beds,2 baths
6782,Rental unit in New Orleans,★New,4 bedrooms,5 beds,2 baths

In [392]:
type[0].unique()

array(['Condo in Chicago ', 'Rental unit in Chicago ',
       'Boutique hotel in Chicago ', 'Loft in Chicago ',
       'Home in Chicago ', 'Place to stay in Chicago ',
       'Guest suite in Chicago ', 'Rental unit in Evanston ',
       'Hostel in Chicago ', 'Bungalow in Chicago ',
       'Townhouse in Chicago ', 'Serviced apartment in Chicago ',
       'Aparthotel in Chicago ', 'Guesthouse in Chicago ',
       'Rental unit in Pilsen, Chicago ', 'Home in Oak Park ',
       'Farm stay in Chicago ', 'Rental unit in Chicago Heights ',
       'Hostel in Chicago  ', 'Bed and breakfast in Chicago ',
       'Cottage in Chicago ', 'Rental unit in Calumet Park ',
       'Rental unit in Chicago  ', 'Tiny home in Chicago ',
       'Home in Bucktown, Chicago ', 'Home in Oak Lawn ',
       'Serviced apartment in Chicago, IL ', 'Townhouse in Chicago  ',
       'Townhouse in Calumet Park ', 'Hotel in Chicago ',
       'Rental unit in Rogers Park ', 'Villa in Santa Barbara ',
       'Villa in Chicago ', 'Condo in Harwood Heights ',
       'Rental unit in 芝加哥 ', 'Condo in Evergreen Park ',
       'Boat in Chicago ', 'casa particular in Chicago ',
       'Vacation home in Chicago ', 'Rental unit in Oak Park ',
       'Home in Harwood Heights ', 'Home in Berwyn ',
       'Home in The Bronx ', 'Cabin in Chicago ', 'Condo in Norridge ',
       'minsu in Chicago ', 'Rental unit in Norridge ',
       'Tent in Chicago ', 'Rental unit in Riverdale ',
       'Condo in Oak Park ', 'Rental unit in Elmwood Park ',
       'Rental unit in New Orleans ', 'Guest suite in New Orleans ',
       'Home in New Orleans ', 'Boutique hotel in New Orleans ',
       'Townhouse in New Orleans ', 'Bungalow in New Orleans ',
       'Place to stay in New Orleans ', 'Vacation home in New Orleans ',
       'Guesthouse in New Orleans ', 'Condo in New Orleans ',
       'Bed and breakfast in New Orleans ', 'Home in Arabi ',
       'Serviced apartment in New Orleans ', 'Loft in New Orleans ',
       'Cottage in New Orleans ', 'Hostel in New Orleans ',
       'Home in  Uptown, New Orleans ', 'Villa in Waggaman ',
       'Hotel in New Orleans ', 'Religious building in New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans ',
       'Cottage in ByWater-Marigny, New Orleans  ',
       'Resort in New Orleans ', 'Villa in New Orleans ',
       'Earthen home in New Orleans ', 'Floor in New Orleans ',
       'Home in New Orleans, Louisiana, US ', 'Cabin in New Orleans ',
       'Farm stay in New Orleans ', 'Rental unit in New orleans ',
       'Tiny home in New Orleans ',
       'Rental unit in New Orleans, Louisiana ',
       'Houseboat in New Orleans ', 'Camper/RV in New Orleans ',
       'Villa in New Orleans, ', 'Guest suite in New Orleans  ',
       'Home in New Orleans  ', 'Home in New orleans ',
       'Campsite in New Orleans ', 'casa particular in New Orleans ',
       'Tiny home in Gretna ', 'Home in Gretna ', 'Home in Terrytown '],
      dtype=object)

In [393]:
type[0]=type[0].str.strip()

In [397]:
type=type.rename(columns={0:'name'})

In [398]:
type

,name,1,2,3,4
0,Condo in Chicago,★4.99,1 bedroom,1 bed,1 shared bath
1,Rental unit in Chicago,★4.70,1 bedroom,1 bed,1 bath
2,Rental unit in Chicago,★4.65,2 bedrooms,2 beds,1 bath
3,Boutique hotel in Chicago,★4.93,1 bedroom,1 bed,1 private bath
4,Rental unit in Chicago,★4.29,1 bedroom,1 bed,1 bath
...,...,...,...,...,...
6778,Condo in New Orleans,★New,1 bedroom,2 beds,1 bath
6779,Rental unit in New Orleans,★New,1 bedroom,1 bed,1 bath
6780,Home in New Orleans,★New,2 bedrooms,3 beds,2 baths
6781,Home in New Orleans,★New,3 bedrooms,3 beds,2 baths
6782,Rental unit in New Orleans,★New,4 bedrooms,5 beds,2 baths

In [403]:
df=df.rename(columns={'name':'site_name'})

In [404]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote..."
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282"
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025"
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037"

In [448]:
df['name']=type['name']

In [406]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans

In [407]:
type[1].unique()

array(['★4.99', '★4.70', '★4.65', '★4.93', '★4.29', '★4.30', '★4.77',
       '★4.88', '★5.0', '★4.78', '★4.95', '★4.90', '★4.91', '★4.84',
       '★4.74', '★4.96', '★4.85', '★4.52', '★4.72', '★4.81', '★4.92',
       '★4.54', '★4.98', '★4.94', '★4.87', '★4.66', '★4.26', '2 beds',
       '★4.97', '★4.68', '★4.17', '★4.36', '★4.0', '★4.67', '★4.31',
       '★4.64', '★4.43', '★4.61', '★4.60', '★4.40', '★New', '★4.89',
       '★4.83', '★4.82', '★4.75', '★4.71', '★4.79', '★4.48', '★4.58',
       '1 bedroom', '★4.69', '★4.47', '★4.53', '★4.80', '★3.67', '★4.25',
       '★4.73', '★4.57', '★4.49', '★4.86', '★4.55', '★4.76', '★4.38',
       '3 beds', '★4.44', '★4.56', '★4.63', '★4.41', '★4.62', '★4.45',
       'Studio', '★4.24', '★4.37', '★4.46', '★4.51', '★4.59', '★4.33',
       '★4.42', '5 beds', '★4.50', '★4.16', '★4.20', '★3.25', '★3.75',
       '★3.71', '★4.27', '4 beds', '★4.32', '★4.35', '★4.28', '★4.22',
       '★0.0', '★3.70', '★4.39', '★4.34', '7 beds', '9 beds', '★4.15',
       '6 beds', '★4.18', '★4.13', '★3.79', '★4.11', '★3.0', '★3.77',
       '★3.33', '★3.98', '★4.12', '★4.09', '12 beds', '★3.88', '8 beds',
       '★3.90', '★3.40', '1 bed', '★4.14', '★4.04', '★3.80', '★4.08',
       '★4.19', '★4.06', '★4.05', '11 beds', '★3.60', '★4.21', '★3.47',
       '★3.94', '★3.58', '★3.86', '★2.50', '★3.95', '★3.50', '★3.29',
       '★4.10', '10 beds', '★3.78', '★3.89', '★3.11', '★3.36', '★3.43',
       '★3.83', '★2.33', '15 beds', '★4.07', '★4.03', '★4.23', '★3.91',
       '★2.67', '★3.39', '★3.63', '★3.96', '★3.69', '23 beds', '★3.56',
       '★2.86', '★3.85', '★3.87', '25 beds', '19 beds'], dtype=object)

In [449]:
df['rating']=type[1]

In [409]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago,★4.99
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago,★4.70
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago,★4.65
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,★4.93
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago,★4.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,★New
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,★New
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,★New
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,★New
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,★New

In [450]:
df['rating']=df['rating'].str.replace('★','')

In [451]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago,4.99
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago,4.65
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,New
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,New
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,New
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,New
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,New

In [452]:
df['rating']=df['rating'].str.replace('New','0')

In [453]:
df['rating'].unique()

array(['4.99', '4.70', '4.65', '4.93', '4.29', '4.30', '4.77', '4.88',
       '5.0', '4.78', '4.95', '4.90', '4.91', '4.84', '4.74', '4.96',
       '4.85', '4.52', '4.72', '4.81', '4.92', '4.54', '4.98', '4.94',
       '4.87', '4.66', '4.26', '2 beds', '4.97', '4.68', '4.17', '4.36',
       '4.0', '4.67', '4.31', '4.64', '4.43', '4.61', '4.60', '4.40', '0',
       '4.89', '4.83', '4.82', '4.75', '4.71', '4.79', '4.48', '4.58',
       '1 bedroom', '4.69', '4.47', '4.53', '4.80', '3.67', '4.25',
       '4.73', '4.57', '4.49', '4.86', '4.55', '4.76', '4.38', '3 beds',
       '4.44', '4.56', '4.63', '4.41', '4.62', '4.45', 'Studio', '4.24',
       '4.37', '4.46', '4.51', '4.59', '4.33', '4.42', '5 beds', '4.50',
       '4.16', '4.20', '3.25', '3.75', '3.71', '4.27', '4 beds', '4.32',
       '4.35', '4.28', '4.22', '0.0', '3.70', '4.39', '4.34', '7 beds',
       '9 beds', '4.15', '6 beds', '4.18', '4.13', '3.79', '4.11', '3.0',
       '3.77', '3.33', '3.98', '4.12', '4.09', '12 beds', '3.88',
       '8 beds', '3.90', '3.40', '1 bed', '4.14', '4.04', '3.80', '4.08',
       '4.19', '4.06', '4.05', '11 beds', '3.60', '4.21', '3.47', '3.94',
       '3.58', '3.86', '2.50', '3.95', '3.50', '3.29', '4.10', '10 beds',
       '3.78', '3.89', '3.11', '3.36', '3.43', '3.83', '2.33', '15 beds',
       '4.07', '4.03', '4.23', '3.91', '2.67', '3.39', '3.63', '3.96',
       '3.69', '23 beds', '3.56', '2.86', '3.85', '3.87', '25 beds',
       '19 beds'], dtype=object)

In [454]:
df['rating']=df['rating'].str.replace('1 bedroom','0')
df['rating']=df['rating'].str.replace('3 beds','0')
df['rating']=df['rating'].str.replace('Studio','0')
df['rating']=df['rating'].str.replace('5 beds','0')
df['rating']=df['rating'].str.replace('4 beds','0')
df['rating']=df['rating'].str.replace('7 beds','0')
df['rating']=df['rating'].str.replace('12 beds','0')

In [455]:
df['rating'].unique()

array(['4.99', '4.70', '4.65', '4.93', '4.29', '4.30', '4.77', '4.88',
       '5.0', '4.78', '4.95', '4.90', '4.91', '4.84', '4.74', '4.96',
       '4.85', '4.52', '4.72', '4.81', '4.92', '4.54', '4.98', '4.94',
       '4.87', '4.66', '4.26', '2 beds', '4.97', '4.68', '4.17', '4.36',
       '4.0', '4.67', '4.31', '4.64', '4.43', '4.61', '4.60', '4.40', '0',
       '4.89', '4.83', '4.82', '4.75', '4.71', '4.79', '4.48', '4.58',
       '4.69', '4.47', '4.53', '4.80', '3.67', '4.25', '4.73', '4.57',
       '4.49', '4.86', '4.55', '4.76', '4.38', '4.44', '4.56', '4.63',
       '4.41', '4.62', '4.45', '4.24', '4.37', '4.46', '4.51', '4.59',
       '4.33', '4.42', '4.50', '4.16', '4.20', '3.25', '3.75', '3.71',
       '4.27', '4.32', '4.35', '4.28', '4.22', '0.0', '3.70', '4.39',
       '4.34', '9 beds', '4.15', '6 beds', '4.18', '4.13', '3.79', '4.11',
       '3.0', '3.77', '3.33', '3.98', '4.12', '4.09', '3.88', '8 beds',
       '3.90', '3.40', '1 bed', '4.14', '4.04', '3.80', '4.08', '4.19',
       '4.06', '4.05', '11 beds', '3.60', '4.21', '3.47', '3.94', '3.58',
       '3.86', '2.50', '3.95', '3.50', '3.29', '4.10', '10 beds', '3.78',
       '3.89', '3.11', '3.36', '3.43', '3.83', '2.33', '10', '4.07',
       '4.03', '4.23', '3.91', '2.67', '3.39', '3.63', '3.96', '3.69',
       '20', '3.56', '2.86', '3.85', '3.87', '19 beds'], dtype=object)

In [456]:
df['rating']=df['rating'].str.replace('2 beds','0')
df['rating']=df['rating'].str.replace('11 beds','0')
df['rating']=df['rating'].str.replace('6 beds','0')
df['rating']=df['rating'].str.replace('9 beds','0')
df['rating']=df['rating'].str.replace('19 beds','0')
df['rating']=df['rating'].str.replace('10 beds','0')
df['rating']=df['rating'].str.replace('1 bed','0')

In [457]:
df['rating']

0       4.99
1       4.70
2       4.65
3       4.93
4       4.29
        ...
6778       0
6779       0
6780       0
6781       0
6782       0
Name: rating, Length: 15311, dtype: object

In [421]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago,4.99
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago,4.65
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0

In [422]:
df['room_type']=df['room_type'].str.strip()

In [423]:
df['neighbourhood']=df['neighbourhood'].str.strip()

In [424]:
df['name'].unique()

array(['Condo in Chicago', 'Rental unit in Chicago',
       'Boutique hotel in Chicago', 'Loft in Chicago', 'Home in Chicago',
       'Place to stay in Chicago', 'Guest suite in Chicago',
       'Rental unit in Evanston', 'Hostel in Chicago',
       'Bungalow in Chicago', 'Townhouse in Chicago',
       'Serviced apartment in Chicago', 'Aparthotel in Chicago',
       'Guesthouse in Chicago', 'Rental unit in Pilsen, Chicago',
       'Home in Oak Park', 'Farm stay in Chicago',
       'Rental unit in Chicago Heights', 'Bed and breakfast in Chicago',
       'Cottage in Chicago', 'Rental unit in Calumet Park',
       'Tiny home in Chicago', 'Home in Bucktown, Chicago',
       'Home in Oak Lawn', 'Serviced apartment in Chicago, IL',
       'Townhouse in Calumet Park', 'Hotel in Chicago',
       'Rental unit in Rogers Park', 'Villa in Santa Barbara',
       'Villa in Chicago', 'Condo in Harwood Heights',
       'Rental unit in 芝加哥', 'Condo in Evergreen Park', 'Boat in Chicago',
       'casa particular in Chicago', 'Vacation home in Chicago',
       'Rental unit in Oak Park', 'Home in Harwood Heights',
       'Home in Berwyn', 'Home in The Bronx', 'Cabin in Chicago',
       'Condo in Norridge', 'minsu in Chicago', 'Rental unit in Norridge',
       'Tent in Chicago', 'Rental unit in Riverdale', 'Condo in Oak Park',
       'Rental unit in Elmwood Park', 'Rental unit in New Orleans',
       'Guest suite in New Orleans', 'Home in New Orleans',
       'Boutique hotel in New Orleans', 'Townhouse in New Orleans',
       'Bungalow in New Orleans', 'Place to stay in New Orleans',
       'Vacation home in New Orleans', 'Guesthouse in New Orleans',
       'Condo in New Orleans', 'Bed and breakfast in New Orleans',
       'Home in Arabi', 'Serviced apartment in New Orleans',
       'Loft in New Orleans', 'Cottage in New Orleans',
       'Hostel in New Orleans', 'Home in  Uptown, New Orleans',
       'Villa in Waggaman', 'Hotel in New Orleans',
       'Religious building in New Orleans',
       'Cottage in ByWater-Marigny, New Orleans', 'Resort in New Orleans',
       'Villa in New Orleans', 'Earthen home in New Orleans',
       'Floor in New Orleans', 'Home in New Orleans, Louisiana, US',
       'Cabin in New Orleans', 'Farm stay in New Orleans',
       'Rental unit in New orleans', 'Tiny home in New Orleans',
       'Rental unit in New Orleans, Louisiana',
       'Houseboat in New Orleans', 'Camper/RV in New Orleans',
       'Villa in New Orleans,', 'Home in New orleans',
       'Campsite in New Orleans', 'casa particular in New Orleans',
       'Tiny home in Gretna', 'Home in Gretna', 'Home in Terrytown'],
      dtype=object)

In [426]:
df[df['name']=='Chicago']

Empty DataFrame
Columns: [id, site_name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license, name, rating]
Index: []

In [430]:
data1[data1['name']=='Chicago']

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license]
Index: []

In [432]:
df['name']=df['name'].str.replace(', IL','')

In [433]:
df['name'].unique()

array(['Condo in Chicago', 'Rental unit in Chicago',
       'Boutique hotel in Chicago', 'Loft in Chicago', 'Home in Chicago',
       'Place to stay in Chicago', 'Guest suite in Chicago',
       'Rental unit in Evanston', 'Hostel in Chicago',
       'Bungalow in Chicago', 'Townhouse in Chicago',
       'Serviced apartment in Chicago', 'Aparthotel in Chicago',
       'Guesthouse in Chicago', 'Rental unit in Pilsen, Chicago',
       'Home in Oak Park', 'Farm stay in Chicago',
       'Rental unit in Chicago Heights', 'Bed and breakfast in Chicago',
       'Cottage in Chicago', 'Rental unit in Calumet Park',
       'Tiny home in Chicago', 'Home in Bucktown, Chicago',
       'Home in Oak Lawn', 'Townhouse in Calumet Park',
       'Hotel in Chicago', 'Rental unit in Rogers Park',
       'Villa in Santa Barbara', 'Villa in Chicago',
       'Condo in Harwood Heights', 'Rental unit in 芝加哥',
       'Condo in Evergreen Park', 'Boat in Chicago',
       'casa particular in Chicago', 'Vacation home in Chicago',
       'Rental unit in Oak Park', 'Home in Harwood Heights',
       'Home in Berwyn', 'Home in The Bronx', 'Cabin in Chicago',
       'Condo in Norridge', 'minsu in Chicago', 'Rental unit in Norridge',
       'Tent in Chicago', 'Rental unit in Riverdale', 'Condo in Oak Park',
       'Rental unit in Elmwood Park', 'Rental unit in New Orleans',
       'Guest suite in New Orleans', 'Home in New Orleans',
       'Boutique hotel in New Orleans', 'Townhouse in New Orleans',
       'Bungalow in New Orleans', 'Place to stay in New Orleans',
       'Vacation home in New Orleans', 'Guesthouse in New Orleans',
       'Condo in New Orleans', 'Bed and breakfast in New Orleans',
       'Home in Arabi', 'Serviced apartment in New Orleans',
       'Loft in New Orleans', 'Cottage in New Orleans',
       'Hostel in New Orleans', 'Home in  Uptown, New Orleans',
       'Villa in Waggaman', 'Hotel in New Orleans',
       'Religious building in New Orleans',
       'Cottage in ByWater-Marigny, New Orleans', 'Resort in New Orleans',
       'Villa in New Orleans', 'Earthen home in New Orleans',
       'Floor in New Orleans', 'Home in New Orleans, Louisiana, US',
       'Cabin in New Orleans', 'Farm stay in New Orleans',
       'Rental unit in New orleans', 'Tiny home in New Orleans',
       'Rental unit in New Orleans, Louisiana',
       'Houseboat in New Orleans', 'Camper/RV in New Orleans',
       'Villa in New Orleans,', 'Home in New orleans',
       'Campsite in New Orleans', 'casa particular in New Orleans',
       'Tiny home in Gretna', 'Home in Gretna', 'Home in Terrytown'],
      dtype=object)

In [434]:
df.dtypes

id                                  int64
site_name                          object
host_id                             int64
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
name                               object
rating                             object
dtype: object

In [437]:
df['rating'].str.astype(float)

AttributeError: 'StringMethods' object has no attribute 'astype'

In [460]:
df['rating'].unique()

array(['4.99', '4.70', '4.65', '4.93', '4.29', '4.30', '4.77', '4.88',
       '5.0', '4.78', '4.95', '4.90', '4.91', '4.84', '4.74', '4.96',
       '4.85', '4.52', '4.72', '4.81', '4.92', '4.54', '4.98', '4.94',
       '4.87', '4.66', '4.26', '0', '4.97', '4.68', '4.17', '4.36', '4.0',
       '4.67', '4.31', '4.64', '4.43', '4.61', '4.60', '4.40', '4.89',
       '4.83', '4.82', '4.75', '4.71', '4.79', '4.48', '4.58', '4.69',
       '4.47', '4.53', '4.80', '3.67', '4.25', '4.73', '4.57', '4.49',
       '4.86', '4.55', '4.76', '4.38', '4.44', '4.56', '4.63', '4.41',
       '4.62', '4.45', '4.24', '4.37', '4.46', '4.51', '4.59', '4.33',
       '4.42', '4.50', '4.16', '4.20', '3.25', '3.75', '3.71', '4.27',
       '4.32', '4.35', '4.28', '4.22', '0.0', '3.70', '4.39', '4.34',
       '4.15', '4.18', '4.13', '3.79', '4.11', '3.0', '3.77', '3.33',
       '3.98', '4.12', '4.09', '3.88', '3.90', '3.40', '4.14', '4.04',
       '3.80', '4.08', '4.19', '4.06', '4.05', '3.60', '4.21', '3.47',
       '3.94', '3.58', '3.86', '2.50', '3.95', '3.50', '3.29', '4.10',
       '3.78', '3.89', '3.11', '3.36', '3.43', '3.83', '2.33', '10',
       '4.07', '4.03', '4.23', '3.91', '2.67', '3.39', '3.63', '3.96',
       '3.69', '20', '3.56', '2.86', '3.85', '3.87'], dtype=object)

In [459]:
df['rating']=df['rating'].str.replace('8 beds','0')

In [441]:
df['rating'].str.astype(float)

AttributeError: 'StringMethods' object has no attribute 'astype'

In [444]:
df['rating']/100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [446]:
df=df.drop(columns=['rating'])

In [447]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans

In [462]:
df['rating'].unique()

array(['4.99', '4.70', '4.65', '4.93', '4.29', '4.30', '4.77', '4.88',
       '5.0', '4.78', '4.95', '4.90', '4.91', '4.84', '4.74', '4.96',
       '4.85', '4.52', '4.72', '4.81', '4.92', '4.54', '4.98', '4.94',
       '4.87', '4.66', '4.26', '0', '4.97', '4.68', '4.17', '4.36', '4.0',
       '4.67', '4.31', '4.64', '4.43', '4.61', '4.60', '4.40', '4.89',
       '4.83', '4.82', '4.75', '4.71', '4.79', '4.48', '4.58', '4.69',
       '4.47', '4.53', '4.80', '3.67', '4.25', '4.73', '4.57', '4.49',
       '4.86', '4.55', '4.76', '4.38', '4.44', '4.56', '4.63', '4.41',
       '4.62', '4.45', '4.24', '4.37', '4.46', '4.51', '4.59', '4.33',
       '4.42', '4.50', '4.16', '4.20', '3.25', '3.75', '3.71', '4.27',
       '4.32', '4.35', '4.28', '4.22', '0.0', '3.70', '4.39', '4.34',
       '4.15', '4.18', '4.13', '3.79', '4.11', '3.0', '3.77', '3.33',
       '3.98', '4.12', '4.09', '3.88', '3.90', '3.40', '4.14', '4.04',
       '3.80', '4.08', '4.19', '4.06', '4.05', '3.60', '4.21', '3.47',
       '3.94', '3.58', '3.86', '2.50', '3.95', '3.50', '3.29', '4.10',
       '3.78', '3.89', '3.11', '3.36', '3.43', '3.83', '2.33', '10',
       '4.07', '4.03', '4.23', '3.91', '2.67', '3.39', '3.63', '3.96',
       '3.69', '20', '3.56', '2.86', '3.85', '3.87'], dtype=object)

In [464]:
round(df['rating'],1)

TypeError: can't multiply sequence by non-int of type 'float'

In [465]:
df['rating'].dtypes

dtype('O')

In [469]:
df['rating'].str.astype(float)

AttributeError: 'StringMethods' object has no attribute 'astype'

In [470]:
df.dtypes

id                                  int64
site_name                          object
host_id                             int64
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
name                               object
rating                             object
dtype: object

In [472]:
df['rating']=df['rating'].str.strip()

In [475]:
df['rating']=df['rating'].astype(float)

In [476]:
df['rating'].unique()

array([ 4.99,  4.7 ,  4.65,  4.93,  4.29,  4.3 ,  4.77,  4.88,  5.  ,
        4.78,  4.95,  4.9 ,  4.91,  4.84,  4.74,  4.96,  4.85,  4.52,
        4.72,  4.81,  4.92,  4.54,  4.98,  4.94,  4.87,  4.66,  4.26,
        0.  ,  4.97,  4.68,  4.17,  4.36,  4.  ,  4.67,  4.31,  4.64,
        4.43,  4.61,  4.6 ,  4.4 ,  4.89,  4.83,  4.82,  4.75,  4.71,
        4.79,  4.48,  4.58,  4.69,  4.47,  4.53,  4.8 ,  3.67,  4.25,
        4.73,  4.57,  4.49,  4.86,  4.55,  4.76,  4.38,  4.44,  4.56,
        4.63,  4.41,  4.62,  4.45,  4.24,  4.37,  4.46,  4.51,  4.59,
        4.33,  4.42,  4.5 ,  4.16,  4.2 ,  3.25,  3.75,  3.71,  4.27,
        4.32,  4.35,  4.28,  4.22,  3.7 ,  4.39,  4.34,  4.15,  4.18,
        4.13,  3.79,  4.11,  3.  ,  3.77,  3.33,  3.98,  4.12,  4.09,
        3.88,  3.9 ,  3.4 ,  4.14,  4.04,  3.8 ,  4.08,  4.19,  4.06,
        4.05,  3.6 ,  4.21,  3.47,  3.94,  3.58,  3.86,  2.5 ,  3.95,
        3.5 ,  3.29,  4.1 ,  3.78,  3.89,  3.11,  3.36,  3.43,  3.83,
        2.33, 10.  ,  4.07,  4.03,  4.23,  3.91,  2.67,  3.39,  3.63,
        3.96,  3.69, 20.  ,  3.56,  2.86,  3.85,  3.87])

In [479]:
round(df['rating'],0).unique()

array([ 5.,  4.,  0.,  3.,  2., 10., 20.])

In [482]:
df['rating'].replace('.','').unique()

array([ 4.99,  4.7 ,  4.65,  4.93,  4.29,  4.3 ,  4.77,  4.88,  5.  ,
        4.78,  4.95,  4.9 ,  4.91,  4.84,  4.74,  4.96,  4.85,  4.52,
        4.72,  4.81,  4.92,  4.54,  4.98,  4.94,  4.87,  4.66,  4.26,
        0.  ,  4.97,  4.68,  4.17,  4.36,  4.  ,  4.67,  4.31,  4.64,
        4.43,  4.61,  4.6 ,  4.4 ,  4.89,  4.83,  4.82,  4.75,  4.71,
        4.79,  4.48,  4.58,  4.69,  4.47,  4.53,  4.8 ,  3.67,  4.25,
        4.73,  4.57,  4.49,  4.86,  4.55,  4.76,  4.38,  4.44,  4.56,
        4.63,  4.41,  4.62,  4.45,  4.24,  4.37,  4.46,  4.51,  4.59,
        4.33,  4.42,  4.5 ,  4.16,  4.2 ,  3.25,  3.75,  3.71,  4.27,
        4.32,  4.35,  4.28,  4.22,  3.7 ,  4.39,  4.34,  4.15,  4.18,
        4.13,  3.79,  4.11,  3.  ,  3.77,  3.33,  3.98,  4.12,  4.09,
        3.88,  3.9 ,  3.4 ,  4.14,  4.04,  3.8 ,  4.08,  4.19,  4.06,
        4.05,  3.6 ,  4.21,  3.47,  3.94,  3.58,  3.86,  2.5 ,  3.95,
        3.5 ,  3.29,  4.1 ,  3.78,  3.89,  3.11,  3.36,  3.43,  3.83,
        2.33, 10.  ,  4.07,  4.03,  4.23,  3.91,  2.67,  3.39,  3.63,
        3.96,  3.69, 20.  ,  3.56,  2.86,  3.85,  3.87])

In [483]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago,4.99
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago,4.65
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00

In [484]:
df['name'].unique()

array(['Condo in Chicago', 'Rental unit in Chicago',
       'Boutique hotel in Chicago', 'Loft in Chicago', 'Home in Chicago',
       'Place to stay in Chicago', 'Guest suite in Chicago',
       'Rental unit in Evanston', 'Hostel in Chicago',
       'Bungalow in Chicago', 'Townhouse in Chicago',
       'Serviced apartment in Chicago', 'Aparthotel in Chicago',
       'Guesthouse in Chicago', 'Rental unit in Pilsen, Chicago',
       'Home in Oak Park', 'Farm stay in Chicago',
       'Rental unit in Chicago Heights', 'Bed and breakfast in Chicago',
       'Cottage in Chicago', 'Rental unit in Calumet Park',
       'Tiny home in Chicago', 'Home in Bucktown, Chicago',
       'Home in Oak Lawn', 'Serviced apartment in Chicago, IL',
       'Townhouse in Calumet Park', 'Hotel in Chicago',
       'Rental unit in Rogers Park', 'Villa in Santa Barbara',
       'Villa in Chicago', 'Condo in Harwood Heights',
       'Rental unit in 芝加哥', 'Condo in Evergreen Park', 'Boat in Chicago',
       'casa particular in Chicago', 'Vacation home in Chicago',
       'Rental unit in Oak Park', 'Home in Harwood Heights',
       'Home in Berwyn', 'Home in The Bronx', 'Cabin in Chicago',
       'Condo in Norridge', 'minsu in Chicago', 'Rental unit in Norridge',
       'Tent in Chicago', 'Rental unit in Riverdale', 'Condo in Oak Park',
       'Rental unit in Elmwood Park', 'Rental unit in New Orleans',
       'Guest suite in New Orleans', 'Home in New Orleans',
       'Boutique hotel in New Orleans', 'Townhouse in New Orleans',
       'Bungalow in New Orleans', 'Place to stay in New Orleans',
       'Vacation home in New Orleans', 'Guesthouse in New Orleans',
       'Condo in New Orleans', 'Bed and breakfast in New Orleans',
       'Home in Arabi', 'Serviced apartment in New Orleans',
       'Loft in New Orleans', 'Cottage in New Orleans',
       'Hostel in New Orleans', 'Home in  Uptown, New Orleans',
       'Villa in Waggaman', 'Hotel in New Orleans',
       'Religious building in New Orleans',
       'Cottage in ByWater-Marigny, New Orleans', 'Resort in New Orleans',
       'Villa in New Orleans', 'Earthen home in New Orleans',
       'Floor in New Orleans', 'Home in New Orleans, Louisiana, US',
       'Cabin in New Orleans', 'Farm stay in New Orleans',
       'Rental unit in New orleans', 'Tiny home in New Orleans',
       'Rental unit in New Orleans, Louisiana',
       'Houseboat in New Orleans', 'Camper/RV in New Orleans',
       'Villa in New Orleans,', 'Home in New orleans',
       'Campsite in New Orleans', 'casa particular in New Orleans',
       'Tiny home in Gretna', 'Home in Gretna', 'Home in Terrytown'],
      dtype=object)

In [499]:
city=df['name'].str.split('in', expand=True)

In [500]:
city=city.rename(columns={0:'name',1:'city'})

In [490]:
city

                 name          city     2
0              Condo        Chicago  None
1        Rental unit        Chicago  None
2        Rental unit        Chicago  None
3     Boutique hotel        Chicago  None
4        Rental unit        Chicago  None
...               ...           ...   ...
6778           Condo    New Orleans  None
6779     Rental unit    New Orleans  None
6780            Home    New Orleans  None
6781            Home    New Orleans  None
6782     Rental unit    New Orleans  None

[15311 rows x 3 columns]

In [501]:
city['name'].unique()

array(['Condo ', 'Rental unit ', 'Boutique hotel ', 'Loft ', 'Home ',
       'Place to stay ', 'Guest suite ', 'Hostel ', 'Bungalow ',
       'Townhouse ', 'Serviced apartment ', 'Aparthotel ', 'Guesthouse ',
       'Farm stay ', 'Bed and breakfast ', 'Cottage ', 'T', 'Hotel ',
       'Villa ', 'Boat ', 'casa particular ', 'Vacation home ', 'Cab',
       'm', 'Tent ', 'Religious build', 'Resort ', 'Earthen home ',
       'Floor ', 'Houseboat ', 'Camper/RV ', 'Campsite '], dtype=object)

In [502]:
city['city'].unique()

array([' Chicago', ' Evanston', ' Pilsen, Chicago', ' Oak Park',
       ' Chicago Heights', ' Calumet Park', 'y home ',
       ' Bucktown, Chicago', ' Oak Lawn', ' Chicago, IL', ' Rogers Park',
       ' Santa Barbara', ' Harwood Heights', ' 芝加哥', ' Evergreen Park',
       ' Berwyn', ' The Bronx', ' ', ' Norridge', 'su ', ' Riverdale',
       ' Elmwood Park', ' New Orleans', ' Arabi', '  Uptown, New Orleans',
       ' Waggaman', 'g ', ' ByWater-Marigny, New Orleans',
       ' New Orleans, Louisiana, US', ' New orleans',
       ' New Orleans, Louisiana', ' New Orleans,', ' Gretna',
       ' Terrytown'], dtype=object)

array([' Chicago', ' Evanston', ' Pilsen, Chicago', ' Oak Park',
       ' Chicago Heights', ' Calumet Park', 'y home ',
       ' Bucktown, Chicago', ' Oak Lawn', ' Rogers Park',
       ' Santa Barbara', ' Harwood Heights', ' 芝加哥', ' Evergreen Park',
       ' Berwyn', ' The Bronx', ' ', ' Norridge', 'su ', ' Riverdale',
       ' Elmwood Park', ' New Orleans', ' Arabi', '  Uptown, New Orleans',
       ' Waggaman', 'g ', ' ByWater-Marigny, New Orleans',
       ' New Orleans, Louisiana, US', ' New orleans',
       ' New Orleans, Louisiana', ' New Orleans,', ' Gretna',
       ' Terrytown'], dtype=object)

In [503]:
city

                 name          city     2
0              Condo        Chicago  None
1        Rental unit        Chicago  None
2        Rental unit        Chicago  None
3     Boutique hotel        Chicago  None
4        Rental unit        Chicago  None
...               ...           ...   ...
6778           Condo    New Orleans  None
6779     Rental unit    New Orleans  None
6780            Home    New Orleans  None
6781            Home    New Orleans  None
6782     Rental unit    New Orleans  None

[15311 rows x 3 columns]

In [504]:
city[2].unique()

array([None, ' Chicago', ' New Orleans', ' Gretna'], dtype=object)

In [505]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,227,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago,4.99
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,505,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,72,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago,4.65
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,15,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,42,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,0,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,0,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,0,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,0,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,0,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00

In [506]:
df['new_name']=city['name']
df['city']=city['city']

In [507]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,new_name,city
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans

In [508]:
df=df.rename(columns={'new_name':'type'})

In [509]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2023-09-03,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2023-08-30,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,2023-08-29,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,2023-05-21,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,2023-04-22,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans

In [510]:
df[2]=city[2]

In [511]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city,2
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,None
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,None
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,None
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,None
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,None
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,None
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,None
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,None
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,None

In [512]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city,2
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,None
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,None
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,None
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,None
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,None
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,None
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,None
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,None
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,None

In [513]:
df['type']=df['type'].str.strip()

In [514]:
df['city']=df['city'].str.strip()

In [515]:
df[2]=df[2].str.strip()

In [516]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city,2
0,2384,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,None
1,7126,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,None
2,10945,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,None
3,12140,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,None
4,24833,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,970848339775836367,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,None
6779,971022630551974985,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,None
6780,971622427724347438,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,None
6781,971690279215450436,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,None
6782,971756233356699947,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,None

In [517]:
df.to_csv('Airbnb_trial.csv', index=False)

In [518]:
df['type'].unique()

array(['Condo', 'Rental unit', 'Boutique hotel', 'Loft', 'Home',
       'Place to stay', 'Guest suite', 'Hostel', 'Bungalow', 'Townhouse',
       'Serviced apartment', 'Aparthotel', 'Guesthouse', 'Farm stay',
       'Bed and breakfast', 'Cottage', 'T', 'Hotel', 'Villa', 'Boat',
       'casa particular', 'Vacation home', 'Cab', 'm', 'Tent',
       'Religious build', 'Resort', 'Earthen home', 'Floor', 'Houseboat',
       'Camper/RV', 'Campsite'], dtype=object)

In [525]:
df['type']=df['type'].str.replace('Tiny','Tiny home')

In [526]:
df['type']=df['type'].str.replace('minsu','m')

In [527]:
df['type'].unique()

array(['Condo', 'Rental unit', 'Boutique hotel', 'Loft', 'Home',
       'Place to stay', 'Guest suite', 'Hostel', 'Bungalow',
       'Tiny homeownhouse', 'Serviced apartment', 'Aparthotel',
       'Guesthouse', 'Farm stay', 'Bed and breakfast', 'Cottage',
       'Tiny home', 'Hotel', 'Villa', 'Boat', 'casa particular',
       'Vacation home', 'Cab', 'm', 'Tiny homeent', 'Religious build',
       'Resort', 'Earthen home', 'Floor', 'Houseboat', 'Camper/RV',
       'Campsite'], dtype=object)

In [528]:
df=pd.read_csv('Airbnb_trial.csv')

In [529]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city
0,2.384000e+03,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,9/3/2023,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago
1,7.126000e+03,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,8/30/2023,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago
2,1.094500e+04,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,8/29/2023,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago
3,1.214000e+04,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,5/21/2023,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago
4,2.483300e+04,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,4/22/2023,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15306,9.708480e+17,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans
15307,9.710230e+17,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans
15308,9.716220e+17,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans
15309,9.716900e+17,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans
15310,9.717560e+17,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans

In [530]:
df['city'].unique()

array(['Chicago', 'Evanston', 'Oak Park', 'Chicago Heights',
       'Calumet Park', 'Oak Lawn', 'Rogers Park', 'Santa Barbara',
       'Harwood Heights', 'Evergreen Park', 'Berwyn', 'The Bronx',
       'Norridge', 'Riverdale', 'Elmwood Park', 'New Orleans', 'Arabi',
       'Waggaman', 'New orleans', 'New Orleans,', 'Gretna', 'Terrytown'],
      dtype=object)

In [532]:
df.duplicated().sum()

18

In [533]:
df.drop_duplicates()

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city
0,2.384000e+03,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,9/3/2023,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago
1,7.126000e+03,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,8/30/2023,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago
2,1.094500e+04,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,8/29/2023,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago
3,1.214000e+04,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,5/21/2023,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago
4,2.483300e+04,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,4/22/2023,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15306,9.708480e+17,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans
15307,9.710230e+17,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans
15308,9.716220e+17,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans
15309,9.716900e+17,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans
15310,9.717560e+17,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans

In [534]:
df[df.drop_duplicates()]

ValueError: Boolean array expected for the condition, not object

In [538]:
df[df.duplicated]

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city
13789,7.142700e+17,Resort in New Orleans · 1 bedroom · 2 beds · 1...,475537750,Austin,Central Business District,29.952429,-90.066950,Private room,213,30,...,NaN,NaN,20,0,0,"Exempt: This listing is a licensed hotel, mote...",Resort in New Orleans,0.0,Resort,New Orleans
13792,7.142700e+17,Resort in New Orleans · 1 bedroom · 2 beds · 1...,475537750,Austin,Central Business District,29.952429,-90.066950,Private room,213,30,...,NaN,NaN,20,0,0,"Exempt: This listing is a licensed hotel, mote...",Resort in New Orleans,0.0,Resort,New Orleans
13793,7.142700e+17,Resort in New Orleans · 1 bedroom · 2 beds · 1...,475537750,Austin,Central Business District,29.952429,-90.066950,Private room,213,30,...,NaN,NaN,20,0,0,"Exempt: This listing is a licensed hotel, mote...",Resort in New Orleans,0.0,Resort,New Orleans
13796,7.142710e+17,Resort in New Orleans · 2 bedrooms · 3 beds · ...,475537750,Austin,Central Business District,29.952429,-90.066950,Private room,340,30,...,NaN,NaN,20,0,0,"Exempt: This listing is a licensed hotel, mote...",Resort in New Orleans,0.0,Resort,New Orleans
13832,7.167420e+17,Resort in New Orleans · 1 bedroom · 2 beds · 1...,475554662,Luka,Central City,29.934764,-90.080046,Private room,270,30,...,NaN,NaN,12,0,0,"Exempt: This listing is a licensed hotel, mote...",Resort in New Orleans,0.0,Resort,New Orleans
14675,8.528970e+17,Condo in New Orleans · Studio · 2 beds · 1 bath,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,96,30,...,NaN,NaN,25,116,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14677,8.528970e+17,Condo in New Orleans · Studio · 2 beds · 1 bath,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,96,30,...,NaN,NaN,25,116,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14680,8.528970e+17,Condo in New Orleans · 1 bedroom · 2 beds · 1 ...,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,155,30,...,NaN,NaN,25,151,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14681,8.528970e+17,Condo in New Orleans · 1 bedroom · 2 beds · 1 ...,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,155,30,...,NaN,NaN,25,151,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14682,8.528970e+17,Condo in New Orleans · 1 bedroom · 2 beds · 1 ...,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,155,30,...,NaN,NaN,25,151,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14685,8.528980e+17,Condo in New Orleans · 2 bedrooms · 4 beds · 2...,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,176,30,...,NaN,NaN,25,101,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14686,8.528980e+17,Condo in New Orleans · 2 bedrooms · 4 beds · 2...,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,176,30,...,NaN,NaN,25,101,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14687,8.528980e+17,Condo in New Orleans · 2 bedrooms · 4 beds · 2...,482174715,Suite Life,Central Business District,29.950932,-90.067855,Entire home/apt,176,30,...,NaN,NaN,25,101,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14690,8.528990e+17,Condo in New Orleans · Studio · 1 bed · 1 bath,482174715,Suite Life,Central City,29.934921,-90.080256,Entire home/apt,78,30,...,NaN,NaN,25,164,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14694,8.529000e+17,Condo in New Orleans · 1 bedroom · 2 beds · 1 ...,482174715,Suite Life,Central City,29.934921,-90.080256,Entire home/apt,85,30,...,NaN,NaN,25,134,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14695,8.529000e+17,Condo in New Orleans · 1 bedroom · 2 beds · 1 ...,482174715,Suite Life,Central City,29.934921,-90.080256,Entire home/apt,85,30,...,NaN,NaN,25,134,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14696,8.529000e+17,Condo in New Orleans · 1 bedroom · 2 beds · 1 ...,482174715,Suite Life,Central City,29.934921,-90.080256,Entire home/apt,85,30,...,NaN,NaN,25,134,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans
14697,8.529000e+17,Condo in New Orleans · 1 bedroom · 2 beds · 1 ...,482174715,Suite Life,Central City,29.934921,-90.080256,Entire home/apt,85,30,...,NaN,NaN,25,134,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.0,Condo,New Orleans

In [537]:
df.duplicated().sum()

18

In [539]:
df=df.drop_duplicates()

In [540]:
df.duplicated().sum()

0

In [541]:
df['site_name']

0        Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...
1        Rental unit in Chicago · ★4.70 · 1 bedroom · 1...
2        Rental unit in Chicago · ★4.65 · 2 bedrooms · ...
3        Boutique hotel in Chicago · ★4.93 · 1 bedroom ...
4        Rental unit in Chicago · ★4.29 · 1 bedroom · 1...
                               ...
15306    Condo in New Orleans · ★New · 1 bedroom · 2 be...
15307    Rental unit in New Orleans · ★New · 1 bedroom ...
15308    Home in New Orleans · ★New · 2 bedrooms · 3 be...
15309    Home in New Orleans · ★New · 3 bedrooms · 3 be...
15310    Rental unit in New Orleans · ★New · 4 bedrooms...
Name: site_name, Length: 15293, dtype: object

In [544]:
new=df['site_name'].str.split('★', expand=True)

In [545]:
new

,0,1
0,Condo in Chicago ·,4.99 · 1 bedroom · 1 bed · 1 shared bath
1,Rental unit in Chicago ·,4.70 · 1 bedroom · 1 bed · 1 bath
2,Rental unit in Chicago ·,4.65 · 2 bedrooms · 2 beds · 1 bath
3,Boutique hotel in Chicago ·,4.93 · 1 bedroom · 1 bed · 1 private bath
4,Rental unit in Chicago ·,4.29 · 1 bedroom · 1 bed · 1 bath
...,...,...
15306,Condo in New Orleans ·,New · 1 bedroom · 2 beds · 1 bath
15307,Rental unit in New Orleans ·,New · 1 bedroom · 1 bed · 1 bath
15308,Home in New Orleans ·,New · 2 bedrooms · 3 beds · 2 baths
15309,Home in New Orleans ·,New · 3 bedrooms · 3 beds · 2 baths
15310,Rental unit in New Orleans ·,New · 4 bedrooms · 5 beds · 2 baths

In [546]:
new.0.unique()

SyntaxError: invalid syntax (815311391.py, line 1)

In [552]:
new[0].unique()

array(['Condo in Chicago · ', 'Rental unit in Chicago · ',
       'Boutique hotel in Chicago · ', 'Loft in Chicago · ',
       'Home in Chicago · ', 'Place to stay in Chicago · ',
       'Guest suite in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in Evanston · ', 'Hostel in Chicago · ',
       'Condo in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Bungalow in Chicago · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Townhouse in Chicago · ', 'Serviced apartment in Chicago · ',
       'Aparthotel in Chicago · ', 'Guesthouse in Chicago · ',
       'Condo in Chicago · 3 bedrooms · 4 beds · 3.5 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Rental unit in Pilsen, Chicago · ',
       'Rental unit in Chicago · Studio · 1 bed · 1 bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Home in Oak Park · ', 'Farm stay in Chicago · ',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1.5 baths',
       'Rental unit in Chicago Heights · 5 bedrooms · 5 beds · 1.5 baths',
       'Hostel in Chicago  · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Bed and breakfast in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Cottage in Chicago · ', 'Rental unit in Calumet Park · ',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 5 beds · 3.5 baths',
       'Rental unit in Chicago  · ',
       'Loft in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Tiny home in Chicago · ',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Loft in Chicago · Studio · 1 bed · 1 private bath',
       'Condo in Chicago · Studio · 3 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Loft in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 2.5 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1 bath',
       'Home in Bucktown, Chicago · ',
       'Condo in Chicago · 2 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · Studio · 3 beds · 2 baths',
       'Townhouse in Chicago · 3 bedrooms · 7 beds · 3.5 baths',
       'Townhouse in Chicago · 3 bedrooms · 5 beds · 2.5 baths',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Home in Oak Lawn · ',
       'Condo in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Townhouse in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Serviced apartment in Chicago, IL · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1 private bath',
       'Condo in Chicago · 2 bedrooms · 1 bed · 1 shared bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Townhouse in Chicago  · ',
       'Home in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 3 beds · 1 shared bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 4 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Townhouse in Calumet Park · ',
       'Condo in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Condo in Chicago · Studio · 1 bed · 1 bath',
       'Hotel in Chicago · Studio · 1 bed · 1 private bath',
       'Home in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Rental unit in Rogers Park · ',
       'Rental unit in Chicago · Studio · 1 bed · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · Studio · 1 bed · 1 shared bath',
       'Villa in Santa Barbara · 3 bedrooms · 4 beds · 3 baths',
       'Home in Chicago · 4 bedrooms · 3 beds · 3.5 baths',
       'Rental unit in Chicago · Studio · 2 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1.5 shared baths',
       'Villa in Chicago · ',
       'Home in Chicago · 2 bedrooms · 2 beds · 2 shared baths',
       'Rental unit in Chicago · 7 bedrooms · 1 bed · 1 bath',
       'Rental unit in Chicago · 5 bedrooms · 5 beds · 1.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Home in Chicago · 3 bedrooms · 3 beds · 3.5 baths',
       'Condo in Chicago · 9 bedrooms · 13 beds · 6 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1.5 baths',
       'Condo in Harwood Heights · ',
       'Rental unit in Chicago · Studio · 1 bed · 1 shared bath',
       'Serviced apartment in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 6 bedrooms · 1 bed · 3 baths',
       'Hotel in Chicago · ',
       'Boutique hotel in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Home in Chicago · 3 bedrooms · 4 beds · 2.5 baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 1 bath',
       'Rental unit in 芝加哥 · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · Shared half-bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 1 private bath',
       'Home in Chicago · Studio · 1 bed · 2 shared baths',
       'Bungalow in Chicago · 4 bedrooms · 3 beds · 4.5 baths',
       'Rental unit in Chicago · Studio · 2 beds · 0 baths',
       'Bungalow in Chicago · 3 bedrooms · 6 beds · 1 bath',
       'Serviced apartment in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 2 shared baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Boutique hotel in Chicago · Studio · 1 bed · 1 bath',
       'Boutique hotel in Chicago · Studio · 1 bed · 1 shared bath',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1.5 shared baths',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Rental unit in Chicago · 2 bedrooms · 4 beds · 1 shared bath',
       'Condo in Chicago · 3 bedrooms · 4 beds · 2 baths',
       'Home in Chicago · 2 bedrooms · 1 bed · 2 shared baths',
       'Home in Chicago · 12 bedrooms · 21 beds · 12.5 baths',
       'Loft in Chicago · 1 bedroom · 1 private bath',
       'Home in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Home in Chicago · 6 bedrooms · 6 beds · 3.5 baths',
       'Home in Chicago · Studio · 1 bed · 1 bath',
       'Condo in Chicago · 8 bedrooms · 20 beds · 6 baths',
       'Rental unit in Chicago · 6 bedrooms · 11 beds · 6 baths',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Bungalow in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Loft in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 1.5 baths',
       'Condo in Evergreen Park · ',
       'Rental unit in Chicago · 4 bedrooms · 5 beds · 2 baths',
       'Bungalow in Chicago · 2 bedrooms · 1 bed · 1.5 shared baths',
       'Condo in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Tiny home in Chicago · 1 bed · Half-bath',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Home in Chicago · 2 bedrooms · 3 beds · 2.5 baths',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 1 shared bath',
       'Home in Chicago · 4 bedrooms · 5 beds · 3 baths',
       'Townhouse in Chicago · 1 bedroom · 1 bed · 2 shared baths',
       'Home in Chicago · 3 bedrooms · 5 beds · 3.5 baths',
       'Home in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Loft in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Condo in Chicago · 2 bedrooms · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Rental unit in Chicago · 2 bedrooms · 1 bed · 2.5 baths',
       'Rental unit in Chicago · Studio · 1 bed · 1 private bath',
       'Serviced apartment in Chicago · 2 bedrooms · 3 beds · 2 baths',
       'Serviced apartment in Chicago · Studio · 1 bed · 1 bath',
       'Serviced apartment in Chicago · Studio · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Serviced apartment in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Boat in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 4 beds · 2 baths',
       'Rental unit in Chicago · 8 bedrooms · 8 beds · 3 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Condo in Chicago · 1 bedroom · 1 shared bath',
       'Rental unit in Chicago · Studio · 1 bath',
       'Serviced apartment in Chicago · 2 bedrooms · 1 bed · 2 baths',
       'Townhouse in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bath',
       'Home in Chicago · 6 bedrooms · 4 beds · 6 baths',
       'Condo in Chicago · 2 bedrooms · 1 bed · 2 baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Loft in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'casa particular in Chicago · ',
       'Bed and breakfast in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Loft in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 3 beds · 1.5 baths',
       'Rental unit in Chicago · 1 bedroom · 1 private bath',
       'Guest suite in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 3 bedrooms · 3 beds · 3.5 baths',
       'casa particular in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Hotel in Chicago · Studio · 1 bed · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 2 baths',
       'Home in Chicago · 1 bedroom · 1.5 shared baths',
       'Townhouse in Chicago · 3 bedrooms · 6 beds · 2.5 baths',
       'Guesthouse in Chicago · 1 bedroom · 3 beds · 1 bath',
       'Vacation home in Chicago · ',
       'Rental unit in Chicago · 11 bedrooms · 20 beds · 10 baths',
       'Rental unit in Chicago · 5 bedrooms · 6 beds · 2 baths',
       'Rental unit in Chicago · 4 bedrooms · 6 beds · 2 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Rental unit in Oak Park · ',
       'Townhouse in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Villa in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in Chicago · 3 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 1 bedroom · 3 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 3 beds · 1 shared bath',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Loft in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Vacation home in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Bed and breakfast in Chicago · 3 bedrooms · 2 beds · 2 baths',
       'Bed and breakfast in Chicago · 3 bedrooms · 3 beds · 3 shared baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Hotel in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Home in Harwood Heights · ',
       'Home in Chicago · 4 bedrooms · 5 beds · 2 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 4 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Rental unit in Chicago · 4 bedrooms · 3 beds · 2 baths',
       'Condo in Chicago · 4 bedrooms · 6 beds · 2 baths',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Condo in Chicago · 2 bedrooms · 1 bed · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Loft in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Townhouse in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Home in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Townhouse in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 1.5 baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Condo in Chicago · 3 bedrooms · 3 beds · 2.5 baths',
       'Guesthouse in Chicago · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 5 beds · 1 bath',
       'Rental unit in Chicago · 2 bedrooms · 3 beds · 1 shared bath',
       'Home in Chicago · 5 bedrooms · 8 beds · 4 baths',
       'Place to stay in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 4 bedrooms · 4 beds · 3.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 2 baths',
       'Condo in Chicago · 4 bedrooms · 4 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 1.5 baths',
       'Home in Berwyn · 5 bedrooms · 7 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 7 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 3.5 baths',
       'Home in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Home in The Bronx · ',
       'Rental unit in Chicago · 1 bedroom · 6 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 0 baths',
       'Home in Chicago · 1 bedroom · 3 beds · 1 shared bath',
       'Home in Chicago · 2 bedrooms · 2 beds · 1.5 shared baths',
       'Home in Chicago · 6 bedrooms · 1 bed · 3 shared baths',
       'Home in Chicago · 1 bedroom · 3 beds · 1.5 shared baths',
       'Townhouse in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Home in Chicago · 3 bedrooms · 4 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 5 beds · 3 baths',
       'Home in Chicago · 2 bedrooms · 4 beds · 1.5 baths',
       'Cabin in Chicago · ',
       'Home in Chicago · 4 bedrooms · 6 beds · 3.5 baths',
       'Condo in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Home in Chicago · 4 bedrooms · 5 beds · 2.5 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 2 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 3 beds · 2 baths',
       'Loft in Chicago · 3 bedrooms · 6 beds · 2.5 baths',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 shared baths',
       'Serviced apartment in Chicago · 1 bedroom · 1 bed · 0 baths',
       'Townhouse in Chicago · 3 bedrooms · 5 beds · 3.5 baths',
       'Bungalow in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Condo in Chicago · 4 bedrooms · 4 beds · 3 baths',
       'Home in Chicago · 5 bedrooms · 6 beds · 1.5 baths',
       'Boutique hotel in Chicago · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in Chicago · 5 bedrooms · 5 beds · 2 baths',
       'Home in Chicago · 5 bedrooms · 7 beds · 3.5 baths',
       'Condo in Norridge · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 1 bedroom · 4 beds · 1.5 shared baths',
       'Guest suite in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Hotel in Chicago · 1 bedroom · 2 beds · 1 shared bath',
       'Villa in Chicago · 5 bedrooms · 7 beds · 6 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Condo in Chicago · 6 bedrooms · 6 beds · 2.5 baths',
       'Boutique hotel in Chicago · 1 bedroom · 1 bed · 1 shared bath',
       'Condo in Chicago · 1 bedroom · 4 beds · 1 bath',
       'Condo in Chicago · 6 bedrooms · 7 beds · 2.5 baths',
       'Condo in Chicago · 9 bedrooms · 10 beds · 3.5 baths',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 1 bath',
       'minsu in Chicago · ',
       'Bed and breakfast in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Guesthouse in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in Chicago · 6 bedrooms · 6 beds · 6 baths',
       'Rental unit in Chicago · 8 bedrooms · 8 beds · 8 baths',
       'Rental unit in Chicago · 10 bedrooms · 10 beds · 10 baths',
       'Bungalow in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Condo in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Rental unit in Norridge · ',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1.5 baths',
       'Rental unit in Chicago · 6 bedrooms · 6 beds · 5.5 baths',
       'Rental unit in Chicago · 9 bedrooms · 9 beds · 8.5 baths',
       'Rental unit in Chicago · 9 bedrooms · 9 beds · 7 baths',
       'Home in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Condo in Chicago · 2 bedrooms · 4 beds · 1 bath',
       'Rental unit in Chicago · 7 bedrooms · 7 beds · 8 baths',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 1 shared bath',
       'Home in Chicago · 3 bedrooms · 3 beds · 1 bath',
       'Rental unit in Chicago · 3 bedrooms · 4 beds · 3.5 baths',
       'Guest suite in Chicago · 2 bedrooms · 2 beds · 1.5 baths',
       'Townhouse in Chicago · 2 bedrooms · 3 beds · 1 bath',
       'Guesthouse in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 1 bedroom · 1 bed · 1 private bath',
       'Home in Chicago · 1 bedroom · 2 beds · 1.5 baths',
       'Rental unit in Chicago · 5 bedrooms · 24 beds · 6 baths',
       'Rental unit in Chicago · 4 bedrooms · 8 beds · 3 baths',
       'Rental unit in Chicago · 7 bedrooms · 16 beds · 4.5 baths',
       'Tent in Chicago · ',
       'Rental unit in Chicago · 2 bedrooms · 2 beds · 2.5 baths',
       'Home in Chicago · 5 bedrooms · 5 beds · 3 baths',
       'Home in Chicago · 3 bedrooms · 5 beds · 2.5 baths',
       'Rental unit in Chicago · 1 bedroom · 3 beds · 1 bath',
       'Townhouse in Chicago · 4 bedrooms · 4 beds · 3 baths',
       'Serviced apartment in Chicago · 3 bedrooms · 3 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 1 bed · 1.5 shared baths',
       'Rental unit in Chicago · 3 bedrooms · 2 beds · 3 baths',
       'Rental unit in Chicago · 1 bedroom · 2 beds · 2 baths',
       'Rental unit in Norridge · 1 bedroom · 1 bed · 1 bath',
       'Hotel in Chicago · 1 bedroom · 1 bed · 1 bath',
       'Home in Chicago · 5 bedrooms · 5 beds · 2 baths',
       'Rental unit in Chicago · 3 bedrooms · 8 beds · 1 shared bath',
       'Rental unit in Chicago · 1 bedroom · 1 shared bath',
       'Home in Chicago · 1 bedroom · 3 beds · 1 private bath',
       'Rental unit in Chicago · 2 bedrooms · 5 beds · 1 bath',
       'Hotel in Chicago · 1 bedroom · 2 beds · 1 bath',
       'Hotel in Chicago · 2 bedrooms · 4 beds · 2 baths',
       'Hotel in Chicago · 3 bedrooms · 6 beds · 3 baths',
       'Hotel in Chicago · 4 bedrooms · 8 beds · 4 baths',
       'Home in Chicago · 4 bedrooms · 2 beds · 1 bath',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 1.5 baths',
       'Condo in Chicago · 1 bedroom · 1 bed · 2 baths',
       'Hostel in Chicago · 1 bedroom · 4 beds · 1 bath',
       'Condo in Chicago · 2 bedrooms · 3 beds · 3 baths',
       'Home in Chicago · 4 bedrooms · 9 beds · 2.5 baths',
       'Rental unit in Chicago · 4 bedrooms · 6 beds · 4 baths',
       'Rental unit in Chicago · 4 bedrooms · 4 beds · 4 baths',
       'Home in Chicago · 4 bedrooms · 7 beds · 3.5 baths',
       'Condo in Chicago · 4 bedrooms · 8 beds · 2 baths',

In [556]:
chica = new[0].str.split('Chicago',expand=True)

In [557]:
chica

                                   0     1
0                          Condo in     ·
1                    Rental unit in     ·
2                    Rental unit in     ·
3                 Boutique hotel in     ·
4                    Rental unit in     ·
...                              ...   ...
15306        Condo in New Orleans ·   None
15307  Rental unit in New Orleans ·   None
15308         Home in New Orleans ·   None
15309         Home in New Orleans ·   None
15310  Rental unit in New Orleans ·   None

[15293 rows x 2 columns]

In [558]:
chica[0].unique()

array(['Condo in ', 'Rental unit in ', 'Boutique hotel in ', 'Loft in ',
       'Home in ', 'Place to stay in ', 'Guest suite in ',
       'Rental unit in Evanston · ', 'Hostel in ', 'Bungalow in ',
       'Townhouse in ', 'Serviced apartment in ', 'Aparthotel in ',
       'Guesthouse in ', 'Rental unit in Pilsen, ', 'Home in Oak Park · ',
       'Farm stay in ', 'Bed and breakfast in ', 'Cottage in ',
       'Rental unit in Calumet Park · ', 'Tiny home in ',
       'Home in Bucktown, ', 'Home in Oak Lawn · ',
       'Townhouse in Calumet Park · ', 'Hotel in ',
       'Rental unit in Rogers Park · ',
       'Villa in Santa Barbara · 3 bedrooms · 4 beds · 3 baths',
       'Villa in ', 'Condo in Harwood Heights · ',
       'Rental unit in 芝加哥 · ', 'Condo in Evergreen Park · ', 'Boat in ',
       'casa particular in ', 'Vacation home in ',
       'Rental unit in Oak Park · ', 'Home in Harwood Heights · ',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 baths',
       'Home in Berwyn · 5 bedrooms · 7 beds · 2 baths',
       'Home in The Bronx · ', 'Cabin in ',
       'Home in Oak Park · 1 bedroom · 1 bed · 2.5 shared baths',
       'Condo in Norridge · 1 bedroom · 1 bed · 1 bath', 'minsu in ',
       'Rental unit in Norridge · ', 'Tent in ',
       'Rental unit in Norridge · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in Riverdale · ', 'Condo in Oak Park · ',
       'Condo in Oak Park · 1 bedroom · 3 beds · 1 bath',
       'Rental unit in Elmwood Park · ', 'Rental unit in New Orleans · ',
       'Guest suite in New Orleans · ', 'Home in New Orleans · ',
       'Boutique hotel in New Orleans · ',
       'Home in New Orleans · 2 bedrooms · 2 beds · 1 shared bath',
       'Townhouse in New Orleans · ', 'Bungalow in New Orleans · ',
       'Place to stay in New Orleans · ',
       'Vacation home in New Orleans · ', 'Guesthouse in New Orleans · ',
       'Rental unit in New Orleans · Studio · 1 bed · 1 bath',
       'Condo in New Orleans · ',
       'Home in New Orleans · 3 bedrooms · 3 beds · 2.5 baths',
       'Bed and breakfast in New Orleans · ',
       'Home in Arabi · 2 bedrooms · 7 beds · 1 bath',
       'Serviced apartment in New Orleans · ', 'Loft in New Orleans · ',
       'Cottage in New Orleans · ', 'Hostel in New Orleans · ',
       'Home in New Orleans · 2 bedrooms · 5 beds · 1 bath',
       'Rental unit in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Guesthouse in New Orleans · 2 bedrooms · 1 bed · 1 private bath',
       'Home in  Uptown, New Orleans · 4 bedrooms · 6 beds · 3.5 baths',
       'Boutique hotel in New Orleans · 1 bedroom · 2 beds · 1 private bath',
       'Villa in Waggaman · 15 bedrooms · 25 beds · 15 baths',
       'Home in New Orleans · 1 bedroom · 1 bed · 1.5 shared baths',
       'Hotel in New Orleans · ',
       'Rental unit in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Home in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Home in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Religious building in New Orleans · ',
       'Cottage in ByWater-Marigny, New Orleans · ',
       'Cottage in ByWater-Marigny, New Orleans  · ',
       'Resort in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Condo in New Orleans · 1 bedroom · 1 bed · 1 shared bath',
       'Home in New Orleans · 1 bedroom · 1 bed · 1 shared bath',
       'Home in New Orleans · 3 bedrooms · 2 beds · 2.5 shared baths',
       'Home in New Orleans · 2 bedrooms · 3 beds · 1 bath',
       'Bed and breakfast in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Home in Arabi · ',
       'Rental unit in New Orleans · 3 bedrooms · 3 beds · 1 bath',
       'Home in New Orleans · 3 bedrooms · 3 beds · 2 baths',
       'Serviced apartment in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Villa in New Orleans · ',
       'Home in New Orleans · 2 bedrooms · 2 beds · 2.5 baths',
       'Condo in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Rental unit in New Orleans · 6 bedrooms · 10 beds · 4.5 baths',
       'Home in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Earthen home in New Orleans · ', 'Floor in New Orleans · ',
       'Condo in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Condo in New Orleans · Studio · 2 beds · 1 bath',
       'Rental unit in New Orleans · 2 bedrooms · 3 beds · 2 baths',
       'Home in New Orleans, Louisiana, US · ', 'Cabin in New Orleans · ',
       'Farm stay in New Orleans · ',
       'Home in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Guest suite in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Home in New Orleans · 4 bedrooms · 4 beds · 1 bath',
       'Home in New Orleans · 5 bedrooms · 5 beds · 2.5 baths',
       'Bed and breakfast in New Orleans · 1 bedroom · 2 beds · 1 private bath',
       'Bed and breakfast in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Bed and breakfast in New Orleans · 2 bedrooms · 2 beds · 1 shared bath',
       'Bed and breakfast in New Orleans · 2 bedrooms · 2 beds · 1 private bath',
       'Condo in New Orleans · Studio · 1 bed · 1 bath',
       'Home in New Orleans · 2 bedrooms · 3 beds · 1.5 baths',
       'Rental unit in New Orleans · 2 bedrooms · 3 beds · 1 bath',
       'Home in New Orleans · 2 bedrooms · 1 bed · 1 private bath',
       'Home in New Orleans · 4 bedrooms · 3 beds · 2 baths',
       'Home in New Orleans · 3 bedrooms · 2 beds · 1 bath',
       'Home in New Orleans · 4 bedrooms · 8 beds · 3.5 baths',
       'Rental unit in New orleans · 2 bedrooms · 2 beds · 1 bath',
       'Home in New Orleans · 3 bedrooms · 5 beds · 2 baths',
       'Place to stay in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Tiny home in New Orleans · ',
       'Home in New Orleans · 3 bedrooms · 5 beds · 1 bath',
       'Home in New Orleans · 3 bedrooms · 3 beds · 1 bath',
       'Bed and breakfast in New Orleans · 11 bedrooms · 9 beds',
       'Condo in New Orleans · 1 bedroom · 1 bed · 1.5 baths',
       'Home in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in New Orleans · 5 bedrooms · 5 beds · 1 bath',
       'Serviced apartment in New Orleans · Studio · 1 bed · 1 bath',
       'Boutique hotel in New Orleans · 12 bedrooms · 14 beds · 6.5 shared baths',
       'Rental unit in New Orleans · 7 bedrooms · 2 beds · 1 bath',
       'Home in New Orleans · 4 bedrooms · 4 beds · 3 baths',
       'Home in New Orleans · 3 bedrooms · 6 beds · 3 baths',
       'Rental unit in New Orleans · 3 bedrooms · 3 beds · 2 baths',
       'Home in New Orleans · 4 bedrooms · 4 beds · 4 baths',
       'Townhouse in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Home in New Orleans · 4 bedrooms · 4 beds · 2 baths',
       'Rental unit in New Orleans, Louisiana · ',
       'Condo in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in New Orleans · 2 bedrooms · 4 beds · 2 baths',
       'Rental unit in New Orleans · 2 bedrooms · 2 beds · 1.5 baths',
       'Home in New Orleans · 5 bedrooms · 12 beds · 4.5 baths',
       'Houseboat in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Guest suite in New Orleans · 1 bedroom · 1 bath',
       'Camper/RV in New Orleans · 3 beds · 1 bath',
       'Home in New Orleans · 5 bedrooms · 1 bed · 4.5 shared baths',
       'Houseboat in New Orleans · 1 bedroom · 1 bed · 1 shared bath',
       'Villa in New Orleans · 4 bedrooms · 4 beds · 3.5 baths',
       'Villa in New Orleans · 5 bedrooms · 5 beds · 4.5 baths',
       'Cottage in New Orleans · 1 bedroom · 1 bed · 2 baths',
       'Home in New Orleans · 1 bedroom · 2 beds · 1 shared bath',
       'Rental unit in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Villa in New Orleans, · ',
       'Home in New Orleans · 4 bedrooms · 2 beds · 2 baths',
       'Home in New Orleans · 3 bedrooms · 2 beds · 1 private bath',
       'Townhouse in New Orleans · 3 bedrooms · 3 beds · 2.5 baths',
       'Condo in New Orleans · 1 bedroom · 2 beds · 1.5 baths',
       'Cottage in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Home in New Orleans · 3 bedrooms · 3 beds · 3.5 baths',
       'Home in New Orleans · 2 bedrooms · 2 beds · 1.5 shared baths',
       'Resort in New Orleans · 1 bedroom · 2 beds · 1 private bath',
       'Resort in New Orleans · 2 bedrooms · 3 beds · 2 baths',
       'Condo in New Orleans · 3 bedrooms · 3 beds · 2 baths',
       'Home in New Orleans · 5 bedrooms · 6 beds · 5.5 baths',
       'Townhouse in New Orleans · 2 bedrooms · 2 beds · 1.5 baths',
       'Home in New Orleans · 5 bedrooms · 8 beds · 4.5 baths',
       'Home in New Orleans · 2 bedrooms · 4 beds · 1 bath',
       'Townhouse in New Orleans · 1 bedroom · 2 beds · 1.5 baths',
       'Guesthouse in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Cottage in New Orleans · 3 bedrooms · 3 beds · 2 baths',
       'Condo in New Orleans · 2 bedrooms · 2 beds · 1.5 baths',
       'Guest suite in New Orleans  · ',
       'Serviced apartment in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Home in New Orleans · 1 bedroom · 2 beds · 1 private bath',
       'Home in New Orleans  · ',
       'Home in New Orleans · 1 bedroom · 3 beds · 1 bath',
       'Rental unit in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Home in New Orleans · 5 bedrooms · 7 beds · 3.5 baths',
       'Home in New Orleans · 3 bedrooms · 5 beds · 2.5 baths',
       'Loft in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Home in New Orleans · 1 bedroom · 4 beds · 1 shared bath',
       'Boutique hotel in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Boutique hotel in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Bed and breakfast in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Rental unit in New Orleans · 3 bedrooms · 4 beds · 2 baths',
       'Home in New Orleans · 3 bedrooms · 5 beds · 3.5 baths',
       'Home in New Orleans · 1 bedroom · 1 bed · 1.5 baths',
       'Guest suite in New Orleans · 1 bedroom · 1 bed · 1 shared bath',
       'Home in New Orleans · 5 bedrooms · 9 beds · 4 baths',
       'Rental unit in New Orleans · 3 bedrooms · 4 beds · 1 bath',
       'Rental unit in New Orleans · 1 bedroom · 1 bed · 1 shared bath',
       'Home in New Orleans · 3 bedrooms · 4 beds · 2.5 baths',
       'Rental unit in New Orleans · 3 bedrooms · 5 beds · 2 baths',
       'Condo in New Orleans · 2 bedrooms · 3 beds · 1 bath',
       'Home in New Orleans · 1 bedroom · 1 bath',
       'Rental unit in New Orleans · 2 bedrooms · 1 bed · 1 bath',
       'Rental unit in New Orleans · 6 bedrooms · 7 beds · 2 baths',
       'Guesthouse in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Rental unit in New Orleans · 4 bedrooms · 5 beds · 2 baths',
       'Rental unit in New Orleans · 4 bedrooms · 4 beds · 2 baths',
       'Home in New Orleans · 3 bedrooms · 5 beds · 3 baths',
       'Condo in New Orleans · 2 bedrooms · 3 beds · 2 baths',
       'Home in New Orleans · 3 bedrooms · 7 beds · 2.5 baths',
       'Hotel in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Guest suite in New Orleans · 1 bedroom · 3 beds · 1 bath',
       'Home in New Orleans · 4 bedrooms · 3 beds · 2.5 baths',
       'Townhouse in New Orleans · 3 bedrooms · 4 beds · 0 baths',
       'Home in New Orleans · 8 bedrooms · 12 beds · 3 baths',
       'Home in New Orleans · 5 bedrooms · 8 beds · 2 baths',
       'Home in New Orleans · 6 bedrooms · 4 baths',
       'Home in New Orleans · 4 bedrooms · 5 beds · 2.5 baths',
       'Condo in New Orleans · 3 bedrooms · 8 beds · 3 baths',
       'Guest suite in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Cottage in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Vacation home in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in New Orleans · 4 bedrooms · 5 beds · 4 baths',
       'Rental unit in New Orleans · 4 bedrooms · 4 beds · 4 baths',
       'Cottage in New Orleans · 3 bedrooms · 3 beds · 2.5 baths',
       'Townhouse in New Orleans · 1 bedroom · 2 beds · 2.5 baths',
       'Serviced apartment in New Orleans · Studio · 2 beds · 1 bath',
       'Rental unit in New Orleans · 1 bedroom · 2 beds · 1 shared bath',
       'Home in New Orleans · 3 bedrooms · 9 beds · 2 baths',
       'Home in New Orleans · 4 bedrooms · 6 beds · 2 baths',
       'Townhouse in New Orleans · 2 bedrooms · 4 beds · 1 shared bath',
       'Home in New Orleans · 3 bedrooms · 2 beds · 2 baths',
       'Condo in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Rental unit in New Orleans · 1 bedroom · 1 bed · 1.5 baths',
       'Home in New Orleans · 2 bedrooms · 3 beds · 2.5 baths',
       'Home in New Orleans · 3 bedrooms · 3 beds · 2.5 shared baths',
       'Home in New Orleans · 3 bedrooms · 2 beds · 2.5 baths',
       'Guest suite in New Orleans · 3 bedrooms · 3 beds · 2 baths',
       'Hotel in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Hotel in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Tiny home in New Orleans · 2 bedrooms · 5 beds · 1 bath',
       'Home in New Orleans · 2 bedrooms · 3 beds · 1 shared bath',
       'Tiny home in New Orleans · 1 bedroom · 4 beds · 1 shared bath',
       'Home in New Orleans · 1 bedroom · 1 shared bath',
       'Tiny home in New Orleans · 1 bedroom · 1 bed · 1 shared bath',
       'Tiny home in New Orleans · 1 bedroom · 2 beds · 1 shared bath',
       'Townhouse in New Orleans · 3 bedrooms · 3 beds · 3 baths',
       'Home in New Orleans · 5 bedrooms · 6 beds · 3 baths',
       'Bungalow in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Home in New Orleans · 3 bedrooms · 4 beds · 2 baths',
       'Rental unit in New Orleans · 1 bedroom · 1 private bath',
       'Townhouse in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Home in New Orleans · 5 bedrooms · 9 beds · 5 baths',
       'Home in New Orleans · 2 bedrooms · 4 beds · 2 baths',
       'Condo in New Orleans · 15 bedrooms · 21 beds · 8 baths',
       'Bed and breakfast in New Orleans · 1 bedroom · 1 bed · 1 shared bath',
       'Home in New Orleans · 1 bedroom · 2 beds · 1.5 shared baths',
       'Home in New Orleans · 3 bedrooms · 4 beds · 3 baths',
       'Vacation home in New Orleans · 3 bedrooms · 3 beds · 2 baths',
       'Bed and breakfast in New Orleans · 4 bedrooms · 5 beds · 3 baths',
       'Home in New Orleans · 2 bedrooms · 5 beds · 2.5 baths',
       'Home in New orleans · ',
       'Home in New Orleans · 2 bedrooms · 3 beds · 2 baths',
       'Condo in New Orleans · 2 bedrooms · 6 beds · 2 baths',
       'Rental unit in New Orleans · 2 bedrooms · 6 beds · 1 bath',
       'Home in New Orleans · 2 bedrooms · 2 beds · 5 baths',
       'Townhouse in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Condo in New Orleans · 2 bedrooms · 3 beds · 2.5 baths',
       'Bed and breakfast in New Orleans · 7 bedrooms · 11 beds · 7 baths',
       'Townhouse in New Orleans · 3 bedrooms · 7 beds · 2.5 baths',
       'Rental unit in New Orleans · 1 bedroom · 2 beds · 1.5 baths',
       'Townhouse in New Orleans · 4 bedrooms · 7 beds · 2.5 baths',
       'Condo in New Orleans · 3 bedrooms · 4 beds · 3.5 baths',
       'Condo in New Orleans · 23 bedrooms · 31 beds · 9.5 baths',
       'Loft in New Orleans · Studio · 1 bed · 1 bath',
       'Rental unit in New Orleans · Studio · 2 beds · 1 bath',
       'Home in New Orleans · 3 bedrooms · 4 beds · 1 bath',
       'Condo in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in New Orleans · 3 bedrooms · 2 beds · 2 baths',
       'Townhouse in New Orleans · 2 bedrooms · 3 beds · 1 bath',
       'Townhouse in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Campsite in New Orleans · 1 bed · 0 baths',
       'Serviced apartment in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Guest suite in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Tiny home in New Orleans · 2 bedrooms · 2 beds · 1 bath',
       'Home in New Orleans · 3 bedrooms · 4 beds · 1.5 baths',
       'Rental unit in New Orleans · 2 bedrooms · 2 beds · 3 baths',
       'Place to stay in New Orleans · 2 bedrooms · 3 beds · 1 bath',
       'Bed and breakfast in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Townhouse in New Orleans · 3 bedrooms · 3 beds · 3.5 baths',
       'Condo in New Orleans · 3 bedrooms · 3 beds · 3 baths',
       'Home in New Orleans · 2 bedrooms · 2 beds · 1 private bath',
       'Condo in New Orleans · 2 bedrooms · 4 beds · 2 baths',
       'Vacation home in New Orleans · 3 bedrooms · 5 beds · 2 baths',
       'Boutique hotel in New Orleans · 6 bedrooms · 9 beds · 6 baths',
       'Guesthouse in New Orleans · 1 bedroom · 2 beds · 1 bath',
       'Condo in New Orleans · 2 bedrooms · 5 beds · 2 baths',
       'Home in New Orleans · 4 bedrooms · 6 beds · 4.5 baths',
       'Condo in New Orleans · 1 bedroom · 3 beds · 1 bath',
       'Rental unit in New Orleans · 6 bedrooms · 6 beds · 6 baths',
       'Serviced apartment in New Orleans · 1 bedroom · 4 beds · 1 bath',
       'Home in New Orleans · 5 bedrooms · 10 beds · 3.5 baths',
       'Home in New Orleans · 2 bedrooms · 1 bed · 1 bath',
       'Townhouse in New Orleans · 1 bedroom · 1 bed · 1 bath',
       'Resort in New Orleans · ',
       'Resort in New Orleans · Studio · 1 bed · 1 private bath',
       'Resort in New Orleans · 2 bedrooms · 3 beds · 1 private bath',
       'Resort in New Orleans · 1 bedroom · 1 bed · 1 private bath',
       'Rental unit in New Orleans · 2 bedrooms · 4 beds · 1 bath',
       'Home in New Orleans · 10 bedrooms · 19 beds · 7 baths',
       'Home in New Orleans · 4 bedrooms · 4 beds · 3.5 baths',
       'Home in New Orleans · 3 bedrooms · 3 beds · 1.5 baths',
       'Home in New Orleans · 5 bedrooms · 12 beds · 3.5 baths',
       'Home in New Orleans · 25 bedrooms · 24 beds · 25 baths',
       'Home in New Orleans · 4 bedrooms · 3 beds · 3.5 baths',
       'Rental unit in New Orleans · 1 bedroom · 1 bed · 2 baths',
       'Condo in New Orleans · 2 bedrooms · 3 beds · 1.5 baths',
       'Condo in New Orleans · 4 bedrooms · 4 beds · 3 baths',
       'Cottage in New Orleans · 2 bedrooms · 3 beds · 1 bath',
       'Rental unit in New Orleans · 3 bedrooms · 5 beds · 3 baths',
       'Guesthouse in New Orleans · 2 bedrooms · 3 beds · 1 bath',
       'Rental unit in New Orleans · 2 bedrooms · 1 bed · 1.5 baths',
       'Home in New Orleans · 3 bedrooms · 3 beds · 3 baths',
       'Home in New Orleans · 3 bedrooms · 6 beds · 2 baths',
       'Home in New Orleans · 1 bedroom · 2 beds · 2 baths',
       'Home in New Orleans · 1 bedroom · 2 beds · 3 shared baths',
       'Home in New Orleans · 5 bedrooms · 5 beds · 3 baths',
       'Home in New Orleans · 1 bedroom · 2 beds · 2 shared baths',
       'Place to stay in New Orleans · 1 bedroom · 2 beds · 1 private bath',
       'Rental unit in New Orleans · 3 bedrooms · 5 beds · 1 bath',
       'Rental unit in New Orleans · 3 bedrooms · 1 bed · 2 baths',
       'Rental unit in New Orleans · 2 bedrooms · 4 beds · 2.5 baths',
       'Rental unit in New Orleans · 2 bedrooms · 1 bed · 2 baths',
       'Rental unit in New Orleans · 1 bedroom · 3 beds · 2 baths',
       'Home in New Orleans · 4 bedrooms · 6 beds · 3 baths',
       'Home in New Orleans · 4 bedrooms · 5 beds · 2 baths',
       'Home in New Orleans · 4 bedrooms · 6 beds · 5.5 baths',
       'Home in New Orleans · 4 bedrooms · 5 beds · 4.5 baths',
       'Home in New Orleans · 4 bedrooms · 7 beds · 3.5 baths',
       'Home in New Orleans · 5 bedrooms · 10 beds · 2 baths',
       'Home in New Orleans · 4 bedrooms · 8 beds · 3 baths',
       'Hotel in New Orleans · Studio · 2 beds · 1 private bath',
       'Rental unit in New Orleans · 2 bedrooms · 2 beds · 0 baths',
       'Home in New Orleans · 4 bedrooms · 4 beds · 2.5 baths',
       'casa particular in New Orleans · 2 bedrooms · 2 beds · 2 baths',
       'Home in New Orleans · Studio · 1 bed · 1 bath',
       'Hotel in New Orleans · 1 bedroom · 2 beds · 1 private bath',

In [561]:
chica=chica.dropna()

In [562]:
chica

                       0    1
0              Condo in    ·
1        Rental unit in    ·
2        Rental unit in    ·
3     Boutique hotel in    ·
4        Rental unit in    ·
...                  ...  ...
8523     Rental unit in    ·
8524            Home in    ·
8525            Home in    ·
8526     Rental unit in    ·
8527     Rental unit in    ·

[8488 rows x 2 columns]

In [566]:
chica[1].unique()

array([' , ', ' , 2 bedrooms , 2 beds , 2 baths',
       ' , 2 bedrooms , 2 beds , 1 bath', ' , 1 bedroom , 1 bed , 1 bath',
       ' , 1 bedroom , 1 bed , 1 shared bath',
       ' , 3 bedrooms , 4 beds , 3.5 baths',
       ' , 2 bedrooms , 2 beds , 2.5 baths', ' , Studio , 1 bed , 1 bath',
       ' , 1 bedroom , 2 beds , 1 bath',
       ' , 3 bedrooms , 2 beds , 2 baths',
       ' , 2 bedrooms , 4 beds , 1.5 baths',
       ' Heights , 5 bedrooms , 5 beds , 1.5 baths', '  , ',
       ' , 2 bedrooms , 2 beds , 1.5 baths',
       ' , 2 bedrooms , 1 bed , 1 bath',
       ' , 5 bedrooms , 5 beds , 3.5 baths',
       ' , 1 bedroom , 1 bed , 2 baths',
       ' , 2 bedrooms , 3 beds , 1 bath',
       ' , 1 bedroom , 1 bed , 2 shared baths',
       ' , 3 bedrooms , 3 beds , 1 bath',
       ' , Studio , 1 bed , 1 private bath',
       ' , Studio , 3 beds , 1 shared bath',
       ' , 1 bedroom , 1 bed , 1 private bath',
       ' , 3 bedrooms , 4 beds , 2.5 baths', ' , 1 bedroom , 1 bath',
       ' , 1 bedroom , 2 beds , 1 shared bath',
       ' , 2 bedrooms , 3 beds , 2 baths',
       ' , 2 bedrooms , 4 beds , 1 bath',
       ' , 2 bedrooms , 4 beds , 2 baths', ' , Studio , 3 beds , 2 baths',
       ' , 3 bedrooms , 7 beds , 3.5 baths',
       ' , 3 bedrooms , 5 beds , 2.5 baths',
       ' , 3 bedrooms , 4 beds , 2 baths',
       ', IL , 1 bedroom , 2 beds , 1 bath',
       ' , 1 bedroom , 2 beds , 1 private bath',
       ' , 2 bedrooms , 1 bed , 1 shared bath',
       ' , 4 bedrooms , 4 beds , 1 bath',
       ' , 4 bedrooms , 3 beds , 1 shared bath',
       ' , 1 bedroom , 1 bed , 0 baths',
       ' , 3 bedrooms , 3 beds , 4 baths', ' , Studio , 1 bed , 2 baths',
       ' , 3 bedrooms , 3 beds , 2 baths',
       ' , Studio , 1 bed , 1 shared bath',
       ' , 4 bedrooms , 3 beds , 3.5 baths',
       ' , Studio , 2 beds , 1 bath',
       ' , 1 bedroom , 2 beds , 1.5 shared baths',
       ' , 2 bedrooms , 2 beds , 2 shared baths',
       ' , 7 bedrooms , 1 bed , 1 bath',
       ' , 5 bedrooms , 5 beds , 1.5 baths',
       ' , 3 bedrooms , 3 beds , 3.5 baths',
       ' , 9 bedrooms , 13 beds , 6 baths',
       ' , 1 bedroom , 1 bed , 1.5 shared baths',
       ' , 2 bedrooms , 3 beds , 1.5 baths',
       ' , 6 bedrooms , 1 bed , 3 baths',
       ' , 3 bedrooms , 4 beds , 1 bath',
       ' , 1 bedroom , 1 bed , Shared half-bath',
       ' , 2 bedrooms , 2 beds , 1 private bath',
       ' , Studio , 1 bed , 2 shared baths',
       ' , 4 bedrooms , 3 beds , 4.5 baths',
       ' , Studio , 2 beds , 0 baths', ' , 3 bedrooms , 6 beds , 1 bath',
       ' , 1 bedroom , 2 beds , 2 shared baths',
       ' , 3 bedrooms , 3 beds , 3 baths',
       ' , 2 bedrooms , 1 bed , 1.5 shared baths',
       ' , 2 bedrooms , 4 beds , 1 shared bath',
       ' , 2 bedrooms , 1 bed , 2 shared baths',
       ' , 12 bedrooms , 21 beds , 12.5 baths',
       ' , 1 bedroom , 1 private bath',
       ' , 3 bedrooms , 4 beds , 1.5 baths',
       ' , 6 bedrooms , 6 beds , 3.5 baths',
       ' , 8 bedrooms , 20 beds , 6 baths',
       ' , 6 bedrooms , 11 beds , 6 baths',
       ' , 4 bedrooms , 5 beds , 2 baths', ' , 1 bed , Half-bath',
       ' , 3 bedrooms , 3 beds , 2.5 baths',
       ' , 2 bedrooms , 3 beds , 2.5 baths',
       ' , 2 bedrooms , 2 beds , 3 baths',
       ' , 4 bedrooms , 5 beds , 3 baths',
       ' , 3 bedrooms , 5 beds , 3.5 baths',
       ' , 1 bedroom , 1 bed , 1.5 baths', ' , 2 bedrooms , 1 bath',
       ' , 2 bedrooms , 1 bed , 2.5 baths', ' , Studio , 1 bath',
       ' , 4 bedrooms , 4 beds , 2 baths',
       ' , 8 bedrooms , 8 beds , 3 baths', ' , 1 bedroom , 1 shared bath',
       ' , 2 bedrooms , 1 bed , 2 baths',
       ' , 1 bedroom , 2 beds , 1.5 baths',
       ' , 6 bedrooms , 4 beds , 6 baths',
       ' , 5 bedrooms , 3 beds , 1.5 baths', ' , 2 bedrooms , 2 baths',
       ' , 1 bedroom , 1.5 shared baths',
       ' , 3 bedrooms , 6 beds , 2.5 baths',
       ' , 1 bedroom , 3 beds , 1 bath',
       ' , 11 bedrooms , 20 beds , 10 baths',
       ' , 5 bedrooms , 6 beds , 2 baths',
       ' , 4 bedrooms , 6 beds , 2 baths',
       ' , 1 bedroom , 3 beds , 1 private bath',
       ' , 3 bedrooms , 1 bed , 1 bath',
       ' , 1 bedroom , 3 beds , 2 baths',
       ' , 3 bedrooms , 3 beds , 1 shared bath',
       ' , 3 bedrooms , 3 beds , 3 shared baths',
       ' , 3 bedrooms , 4 beds , 3 baths',
       ' , 4 bedrooms , 3 beds , 2 baths',
       ' , 3 bedrooms , 3 beds , 1.5 baths',
       ' , 3 bedrooms , 5 beds , 1 bath',
       ' , 2 bedrooms , 3 beds , 1 shared bath',
       ' , 5 bedrooms , 8 beds , 4 baths',
       ' , 4 bedrooms , 4 beds , 3.5 baths',
       ' , 5 bedrooms , 7 beds , 2 baths',
       ' , 5 bedrooms , 6 beds , 3.5 baths',
       ' , 1 bedroom , 6 beds , 1 shared bath',
       ' , 1 bedroom , 3 beds , 1 shared bath', ' , 1 bedroom , 0 baths',
       ' , 2 bedrooms , 2 beds , 1.5 shared baths',
       ' , 6 bedrooms , 1 bed , 3 shared baths',
       ' , 1 bedroom , 3 beds , 1.5 shared baths',
       ' , 4 bedrooms , 6 beds , 3.5 baths',
       ' , 4 bedrooms , 5 beds , 2.5 baths',
       ' , 4 bedrooms , 4 beds , 3 baths',
       ' , 5 bedrooms , 6 beds , 1.5 baths',
       ' , 5 bedrooms , 5 beds , 2 baths',
       ' , 5 bedrooms , 7 beds , 3.5 baths',
       ' , 1 bedroom , 4 beds , 1.5 shared baths',
       ' , 5 bedrooms , 7 beds , 6 baths',
       ' , 6 bedrooms , 6 beds , 2.5 baths',
       ' , 1 bedroom , 4 beds , 1 bath',
       ' , 6 bedrooms , 7 beds , 2.5 baths',
       ' , 9 bedrooms , 10 beds , 3.5 baths',
       ' , 3 bedrooms , 2 beds , 1 bath',
       ' , 6 bedrooms , 6 beds , 6 baths',
       ' , 8 bedrooms , 8 beds , 8 baths',
       ' , 10 bedrooms , 10 beds , 10 baths',
       ' , 6 bedrooms , 6 beds , 5.5 baths',
       ' , 9 bedrooms , 9 beds , 8.5 baths',
       ' , 9 bedrooms , 9 beds , 7 baths',
       ' , 7 bedrooms , 7 beds , 8 baths',
       ' , 2 bedrooms , 2 beds , 1 shared bath',
       ' , 5 bedrooms , 24 beds , 6 baths',
       ' , 4 bedrooms , 8 beds , 3 baths',
       ' , 7 bedrooms , 16 beds , 4.5 baths',
       ' , 5 bedrooms , 5 beds , 3 baths',
       ' , 3 bedrooms , 2 beds , 3 baths',
       ' , 1 bedroom , 2 beds , 2 baths',
       ' , 3 bedrooms , 8 beds , 1 shared bath',
       ' , 2 bedrooms , 5 beds , 1 bath',
       ' , 3 bedrooms , 6 beds , 3 baths',
       ' , 4 bedrooms , 8 beds , 4 baths',
       ' , 4 bedrooms , 2 beds , 1 bath',
       ' , 4 bedrooms , 4 beds , 1.5 baths',
       ' , 2 bedrooms , 3 beds , 3 baths',
       ' , 4 bedrooms , 9 beds , 2.5 baths',
       ' , 4 bedrooms , 6 beds , 4 baths',
       ' , 4 bedrooms , 4 beds , 4 baths',
       ' , 4 bedrooms , 7 beds , 3.5 baths',
       ' , 4 bedrooms , 8 beds , 2 baths',
       ' , 1 bedroom , 6 beds , 3 shared baths',
       ' , 1 bedroom , 4 beds , 3 shared baths',
       ' , 1 bedroom , 2 beds , 3 shared baths',
       ' , 7 bedrooms , 8 beds , 5.5 baths',
       ' , 4 bedrooms , 5 beds , 4 baths',
       ' , 5 bedrooms , 12 beds , 3.5 baths',
       ' , 5 bedrooms , 10 beds , 5 baths',
       ' , 1 bedroom , 4 beds , 1 shared bath',
       ' , 3 bedrooms , 10 beds , 2 baths',
       ' , 4 bedrooms , 4 beds , 2.5 baths',
       ' , 2 bedrooms , 6 beds , 2.5 baths',
       ' , 5 bedrooms , 8 beds , 3 baths'], dtype=object)

In [565]:
chica[1]=chica[1].str.replace('·',',')

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_15512\667377147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chica[1]=chica[1].str.replace('·',',')

In [567]:
chica

                       0    1
0              Condo in    ,
1        Rental unit in    ,
2        Rental unit in    ,
3     Boutique hotel in    ,
4        Rental unit in    ,
...                  ...  ...
8523     Rental unit in    ,
8524            Home in    ,
8525            Home in    ,
8526     Rental unit in    ,
8527     Rental unit in    ,

[8488 rows x 2 columns]

In [568]:
chica[0].unique()

array(['Condo in ', 'Rental unit in ', 'Boutique hotel in ', 'Loft in ',
       'Home in ', 'Place to stay in ', 'Guest suite in ', 'Hostel in ',
       'Bungalow in ', 'Townhouse in ', 'Serviced apartment in ',
       'Aparthotel in ', 'Guesthouse in ', 'Rental unit in Pilsen, ',
       'Farm stay in ', 'Bed and breakfast in ', 'Cottage in ',
       'Tiny home in ', 'Home in Bucktown, ', 'Hotel in ', 'Villa in ',
       'Boat in ', 'casa particular in ', 'Vacation home in ',
       'Cabin in ', 'minsu in ', 'Tent in '], dtype=object)

In [569]:
chica=chica.rename(columns={0:'type'})

In [570]:
chica

                    type    1
0              Condo in    ,
1        Rental unit in    ,
2        Rental unit in    ,
3     Boutique hotel in    ,
4        Rental unit in    ,
...                  ...  ...
8523     Rental unit in    ,
8524            Home in    ,
8525            Home in    ,
8526     Rental unit in    ,
8527     Rental unit in    ,

[8488 rows x 2 columns]

In [571]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city
0,2.384000e+03,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,9/3/2023,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago
1,7.126000e+03,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,8/30/2023,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago
2,1.094500e+04,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,8/29/2023,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago
3,1.214000e+04,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,5/21/2023,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago
4,2.483300e+04,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,4/22/2023,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15306,9.708480e+17,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans
15307,9.710230e+17,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans
15308,9.716220e+17,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans
15309,9.716900e+17,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans
15310,9.717560e+17,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans

In [572]:
df.to_csv('Airbnb_trial2.csv', index=False)

In [573]:
df['neighbourhood'].unique()

array(['Hyde Park', 'West Town', 'Lincoln Park', 'Logan Square', 'Uptown',
       'Edgewater', 'North Center', 'Pullman', 'Near South Side',
       'West Ridge', 'Near West Side', 'Bridgeport', 'Kenwood',
       'Lake View', 'Loop', 'Lincoln Square', 'Forest Glen',
       'Near North Side', 'East Garfield Park', 'Rogers Park',
       'North Lawndale', 'Beverly', 'Portage Park', 'Lower West Side',
       'Woodlawn', 'Irving Park', 'Grand Boulevard', 'Washington Park',
       'South Lawndale', 'Morgan Park', 'Dunning', 'West Lawn',
       'South Shore', 'Humboldt Park', 'Armour Square',
       'West Garfield Park', 'Hermosa', 'Mckinley Park', 'Douglas',
       'Avondale', 'Hegewisch', 'West Elsdon', 'Ashburn',
       'Greater Grand Crossing', 'Belmont Cragin', 'Norwood Park',
       'Garfield Ridge', 'Austin', 'North Park', 'Oakland',
       'West Pullman', 'Archer Heights', 'Jefferson Park', 'Edison Park',
       'Brighton Park', 'Albany Park', 'Englewood', 'Chicago Lawn',
       'West Englewood', 'Mount Greenwood', 'Montclare', 'Chatham',
       'Roseland', 'Calumet Heights', 'South Chicago', 'Fuller Park',
       'Auburn Gresham', 'Washington Heights', 'Ohare', 'New City',
       'Avalon Park', 'South Deering', 'Burnside', 'Clearing',
       'Gage Park', 'East Side', 'Riverdale', 'Leonidas', 'Bywater',
       'St. Roch', 'Seventh Ward', 'St. Claude', 'Marigny',
       'Central City', 'Mid-City', 'Fillmore', 'Treme - Lafitte',
       'Irish Channel', 'Whitney', 'St. Thomas Dev', 'Fairgrounds',
       'Bayou St. John', 'Audubon', 'French Quarter', 'Broadmoor',
       'Lower Garden District', 'City Park', 'Holy Cross',
       'East Carrollton', 'Central Business District', 'West Riverside',
       'Freret', 'Garden District', 'Lake Terrace & Oaks',
       'Algiers Point', 'Black Pearl', 'East Riverside',
       'Gentilly Terrace', 'Tulane - Gravier',
       'Marlyville - Fontainbleau', 'Lakeview', 'Touro', 'Hollygrove',
       'Milan', 'West End', 'Navarre', 'Mcdonogh', 'Milneburg',
       'St.  Anthony', 'Gentilly Woods', 'Little Woods', 'Pines Village',
       'Pontchartrain Park', 'Lower Ninth Ward', 'Behrman', 'Dillard',
       'Old Aurora', 'Gert Town', 'Desire Area', 'Read Blvd East',
       'Lake Catherine', 'Tall Timbers - Brechtel', 'St. Bernard Area',
       'Plum Orchard', 'Lakeshore - Lake Vista', 'Read Blvd West',
       'Florida Area', 'New Aurora - English Turn', 'Dixon',
       'West Lake Forest', 'Village De Lest', 'U.S. Naval Base',
       'Viavant - Venetian Isles'], dtype=object)

In [574]:
df['neighbourhood']=df['neighbourhood'].str.strip()

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_15512\1949088056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['neighbourhood']=df['neighbourhood'].str.strip()

In [575]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city
0,2.384000e+03,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,9/3/2023,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago
1,7.126000e+03,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,8/30/2023,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago
2,1.094500e+04,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,8/29/2023,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago
3,1.214000e+04,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,5/21/2023,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago
4,2.483300e+04,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,4/22/2023,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15306,9.708480e+17,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans
15307,9.710230e+17,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans
15308,9.716220e+17,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans
15309,9.716900e+17,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans
15310,9.717560e+17,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans

In [577]:
new[1]=new[1].str.replace('·',',')

In [578]:
new[1]

0         4.99 , 1 bedroom , 1 bed , 1 shared bath
1                4.70 , 1 bedroom , 1 bed , 1 bath
2              4.65 , 2 bedrooms , 2 beds , 1 bath
3        4.93 , 1 bedroom , 1 bed , 1 private bath
4                4.29 , 1 bedroom , 1 bed , 1 bath
                           ...
15306            New , 1 bedroom , 2 beds , 1 bath
15307             New , 1 bedroom , 1 bed , 1 bath
15308          New , 2 bedrooms , 3 beds , 2 baths
15309          New , 3 bedrooms , 3 beds , 2 baths
15310          New , 4 bedrooms , 5 beds , 2 baths
Name: 1, Length: 15293, dtype: object

In [579]:
df['property']=new[1]

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_15512\3836223948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['property']=new[1]

In [580]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,name,rating,type,city,property
0,2.384000e+03,Condo in Chicago · ★4.99 · 1 bedroom · 1 bed ·...,2613,Rebecca,Hyde Park,41.787900,-87.587800,Private room,114,3,...,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath"
1,7.126000e+03,Rental unit in Chicago · ★4.70 · 1 bedroom · 1...,17928,Sarah,West Town,41.901660,-87.680210,Entire home/apt,92,32,...,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath"
2,1.094500e+04,Rental unit in Chicago · ★4.65 · 2 bedrooms · ...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,Entire home/apt,170,4,...,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath"
3,1.214000e+04,Boutique hotel in Chicago · ★4.93 · 1 bedroom ...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,Private room,329,2,...,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath"
4,2.483300e+04,Rental unit in Chicago · ★4.29 · 1 bedroom · 1...,101521,Red,Lincoln Park,41.925961,-87.656364,Entire home/apt,61,32,...,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15306,9.708480e+17,Condo in New Orleans · ★New · 1 bedroom · 2 be...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,Entire home/apt,73,1,...,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 2 beds , 1 bath"
15307,9.710230e+17,Rental unit in New Orleans · ★New · 1 bedroom ...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,Entire home/apt,84,30,...,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 1 bed , 1 bath"
15308,9.716220e+17,Home in New Orleans · ★New · 2 bedrooms · 3 be...,68337970,Yvonne,West End,30.007569,-90.117370,Entire home/apt,146,1,...,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 2 bedrooms , 3 beds , 2 baths"
15309,9.716900e+17,Home in New Orleans · ★New · 3 bedrooms · 3 be...,14988904,Lee,St. Claude,29.971530,-90.035360,Entire home/apt,140,2,...,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 3 bedrooms , 3 beds , 2 baths"
15310,9.717560e+17,Rental unit in New Orleans · ★New · 4 bedrooms...,33076245,Arachu,Audubon,29.938293,-90.118395,Entire home/apt,490,2,...,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 4 bedrooms , 5 beds , 2 baths"

In [582]:
df=pd.read_csv('Airbnb_trial5.csv')

In [583]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,last_review_date,reviews_per_month,calculated_host_listings,availability_365,number_of_reviews_ltm,license,name,rating,type,city
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,9/3/2023,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,8/30/2023,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,8/29/2023,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,5/21/2023,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,4/22/2023,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,NaN,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,NaN,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,NaN,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,NaN,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,NaN,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans

In [584]:
new[1]

0         4.99 , 1 bedroom , 1 bed , 1 shared bath
1                4.70 , 1 bedroom , 1 bed , 1 bath
2              4.65 , 2 bedrooms , 2 beds , 1 bath
3        4.93 , 1 bedroom , 1 bed , 1 private bath
4                4.29 , 1 bedroom , 1 bed , 1 bath
                           ...
15306            New , 1 bedroom , 2 beds , 1 bath
15307             New , 1 bedroom , 1 bed , 1 bath
15308          New , 2 bedrooms , 3 beds , 2 baths
15309          New , 3 bedrooms , 3 beds , 2 baths
15310          New , 4 bedrooms , 5 beds , 2 baths
Name: 1, Length: 15293, dtype: object

In [585]:
df['property']=new[1]

In [586]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,reviews_per_month,calculated_host_listings,availability_365,number_of_reviews_ltm,license,name,rating,type,city,property
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,2.15,1,322,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath"
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,2.92,1,347,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath"
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,0.63,7,146,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath"
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,0.15,1,165,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath"
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,0.26,4,284,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,NaN,91,33,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 1 bed , 1 bath"
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,NaN,3,270,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 2 bedrooms , 2 beds , 2 baths"
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,NaN,3,269,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 4 bedrooms , 6 beds , 2 baths"
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,NaN,1,148,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 1 bedroom , 1 bed , 1 bath"
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,NaN,2,113,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 2 beds , 1 bath"

In [588]:
df.to_csv('Airbnb_trial6.csv', index=False)

In [590]:
property=df['property'].str.split(',', expand=True)

In [591]:
property

           0             1         2                3
0      4.99     1 bedroom     1 bed     1 shared bath
1      4.70     1 bedroom     1 bed            1 bath
2      4.65    2 bedrooms    2 beds            1 bath
3      4.93     1 bedroom     1 bed    1 private bath
4      4.29     1 bedroom     1 bed            1 bath
...      ...           ...       ...              ...
15288   New     1 bedroom     1 bed            1 bath
15289   New    2 bedrooms    2 beds           2 baths
15290   New    4 bedrooms    6 beds           2 baths
15291   New     1 bedroom     1 bed            1 bath
15292   New     1 bedroom    2 beds            1 bath

[15293 rows x 4 columns]

In [593]:
property[1].unique()

array([' 1 bedroom ', ' 2 bedrooms ', ' 3 bedrooms ', ' 4 bedrooms ',
       None, ' Studio ', ' 6 bedrooms ', ' 5 bedrooms ', ' 7 bedrooms ',
       ' 8 bedrooms ', ' 13 bedrooms ', ' 10 bedrooms ', ' 9 bedrooms ',
       ' 1 bath', ' 2 beds ', ' 1 bed ', ' 11 bedrooms ', ' Studio',
       ' 15 bedrooms ', nan, ' 12 bedrooms '], dtype=object)

In [602]:
property = property.rename(columns={3:'beds',4:'baths'})

In [603]:
property

      new_ratings      bedrooms     baths            baths
0           4.99     1 bedroom     1 bed     1 shared bath
1           4.70     1 bedroom     1 bed            1 bath
2           4.65    2 bedrooms    2 beds            1 bath
3           4.93     1 bedroom     1 bed    1 private bath
4           4.29     1 bedroom     1 bed            1 bath
...           ...           ...       ...              ...
15288        New     1 bedroom     1 bed            1 bath
15289        New    2 bedrooms    2 beds           2 baths
15290        New    4 bedrooms    6 beds           2 baths
15291        New     1 bedroom     1 bed            1 bath
15292        New     1 bedroom    2 beds            1 bath

[15293 rows x 4 columns]

In [601]:
df['bedrooms']=property['bedrooms']

In [608]:
df['beds'] = property['baths']

SyntaxError: cannot assign to comparison (1296341775.py, line 1)

In [614]:
new[1]

0         4.99 , 1 bedroom , 1 bed , 1 shared bath
1                4.70 , 1 bedroom , 1 bed , 1 bath
2              4.65 , 2 bedrooms , 2 beds , 1 bath
3        4.93 , 1 bedroom , 1 bed , 1 private bath
4                4.29 , 1 bedroom , 1 bed , 1 bath
                           ...
15306            New , 1 bedroom , 2 beds , 1 bath
15307             New , 1 bedroom , 1 bed , 1 bath
15308          New , 2 bedrooms , 3 beds , 2 baths
15309          New , 3 bedrooms , 3 beds , 2 baths
15310          New , 4 bedrooms , 5 beds , 2 baths
Name: 1, Length: 15293, dtype: object

In [615]:
prop=new[1].str.split(',', expand=True)

In [616]:
prop

           0             1         2                3
0      4.99     1 bedroom     1 bed     1 shared bath
1      4.70     1 bedroom     1 bed            1 bath
2      4.65    2 bedrooms    2 beds            1 bath
3      4.93     1 bedroom     1 bed    1 private bath
4      4.29     1 bedroom     1 bed            1 bath
...      ...           ...       ...              ...
15306   New     1 bedroom    2 beds            1 bath
15307   New     1 bedroom     1 bed            1 bath
15308   New    2 bedrooms    3 beds           2 baths
15309   New    3 bedrooms    3 beds           2 baths
15310   New    4 bedrooms    5 beds           2 baths

[15293 rows x 4 columns]

In [617]:
prop=prop.rename(columns={2:'beds',3:'baths'})

In [618]:
df['beds']=prop['beds']
df['baths']=prop['baths']

In [619]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,number_of_reviews_ltm,license,name,rating,type,city,property,bedrooms,beds,baths
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath",1 bedroom,1 bed,1 shared bath
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath",2 bedrooms,2 beds,1 bath
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath",1 bedroom,1 bed,1 private bath
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 2 bedrooms , 2 beds , 2 baths",2 bedrooms,2 beds,2 baths
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 4 bedrooms , 6 beds , 2 baths",4 bedrooms,6 beds,2 baths
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 2 beds , 1 bath",1 bedroom,2 beds,1 bath

In [620]:
df.to_csv('airbnbtrial7.csv', index=False)

In [621]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,number_of_reviews_ltm,license,name,rating,type,city,property,bedrooms,beds,baths
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath",1 bedroom,1 bed,1 shared bath
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath",2 bedrooms,2 beds,1 bath
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath",1 bedroom,1 bed,1 private bath
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 2 bedrooms , 2 beds , 2 baths",2 bedrooms,2 beds,2 baths
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 4 bedrooms , 6 beds , 2 baths",4 bedrooms,6 beds,2 baths
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 2 beds , 1 bath",1 bedroom,2 beds,1 bath

In [622]:
df['neighbourhood'].unique()

array(['Hyde Park', 'West Town', 'Lincoln Park', 'Logan Square', 'Uptown',
       'Edgewater', 'North Center', 'Pullman', 'Near South Side',
       'West Ridge', 'Near West Side', 'Bridgeport', 'Kenwood',
       'Lake View', 'Loop', 'Lincoln Square', 'Forest Glen',
       'Near North Side', 'East Garfield Park', 'Rogers Park',
       'North Lawndale', 'Beverly', 'Portage Park', 'Lower West Side',
       'Woodlawn', 'Irving Park', 'Grand Boulevard', 'Washington Park',
       'South Lawndale', 'Morgan Park', 'Dunning', 'West Lawn',
       'South Shore', 'Humboldt Park', 'Armour Square',
       'West Garfield Park', 'Hermosa', 'Mckinley Park', 'Douglas',
       'Avondale', 'Hegewisch', 'West Elsdon', 'Ashburn',
       'Greater Grand Crossing', 'Belmont Cragin', 'Norwood Park',
       'Garfield Ridge', 'Austin', 'North Park', 'Oakland',
       'West Pullman', 'Archer Heights', 'Jefferson Park', 'Edison Park',
       'Brighton Park', 'Albany Park', 'Englewood', 'Chicago Lawn',
       'West Englewood', 'Mount Greenwood', 'Montclare', 'Chatham',
       'Roseland', 'Calumet Heights', 'South Chicago', 'Fuller Park',
       'Auburn Gresham', 'Washington Heights', 'Ohare', 'New City',
       'Avalon Park', 'South Deering', 'Burnside', 'Clearing',
       'Gage Park', 'East Side', 'Riverdale', 'Leonidas', 'Bywater',
       'St. Roch', 'Seventh Ward', 'St. Claude', 'Marigny',
       'Central City', 'Mid-City', 'Fillmore', 'Treme - Lafitte',
       'Irish Channel', 'Whitney', 'St. Thomas Dev', 'Fairgrounds',
       'Bayou St. John', 'Audubon', 'French Quarter', 'Broadmoor',
       'Lower Garden District', 'City Park', 'Holy Cross',
       'East Carrollton', 'Central Business District', 'West Riverside',
       'Freret', 'Garden District', 'Lake Terrace & Oaks',
       'Algiers Point', 'Black Pearl', 'East Riverside',
       'Gentilly Terrace', 'Tulane - Gravier',
       'Marlyville - Fontainbleau', 'Lakeview', 'Touro', 'Hollygrove',
       'Milan', 'West End', 'Navarre', 'Mcdonogh', 'Milneburg',
       'St.  Anthony', 'Gentilly Woods', 'Little Woods', 'Pines Village',
       'Pontchartrain Park', 'Lower Ninth Ward', 'Behrman', 'Dillard',
       'Old Aurora', 'Gert Town', 'Desire Area', 'Read Blvd East',
       'Lake Catherine', 'Tall Timbers - Brechtel', 'St. Bernard Area',
       'Plum Orchard', 'Lakeshore - Lake Vista', 'Read Blvd West',
       'Florida Area', 'New Aurora - English Turn', 'Dixon',
       'West Lake Forest', 'Village De Lest', 'U.S. Naval Base',
       'Viavant - Venetian Isles'], dtype=object)

In [623]:
df['neighbourhood']=df['neighbourhood'].str.strip()

In [624]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,number_of_reviews_ltm,license,name,rating,type,city,property,bedrooms,beds,baths
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath",1 bedroom,1 bed,1 shared bath
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath",2 bedrooms,2 beds,1 bath
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath",1 bedroom,1 bed,1 private bath
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 2 bedrooms , 2 beds , 2 baths",2 bedrooms,2 beds,2 baths
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 4 bedrooms , 6 beds , 2 baths",4 bedrooms,6 beds,2 baths
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 2 beds , 1 bath",1 bedroom,2 beds,1 bath

In [625]:
df=pd.read_csv('airbnbtrial7.csv')

In [626]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,number_of_reviews_ltm,license,name,rating,type,city,property,rooms,beds,baths
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath",1 bedroom,1 bed,1 shared bath
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath",2 bedrooms,2 beds,1 bath
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath",1 bedroom,1 bed,1 private bath
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 2 bedrooms , 2 beds , 2 baths",2 bedrooms,2 beds,2 baths
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 4 bedrooms , 6 beds , 2 baths",4 bedrooms,6 beds,2 baths
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 2 beds , 1 bath",1 bedroom,2 beds,1 bath

In [627]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,number_of_reviews_ltm,license,name,rating,type,city,property,rooms,beds,baths
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath",1 bedroom,1 bed,1 shared bath
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath",2 bedrooms,2 beds,1 bath
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath",1 bedroom,1 bed,1 private bath
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 2 bedrooms , 2 beds , 2 baths",2 bedrooms,2 beds,2 baths
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 4 bedrooms , 6 beds , 2 baths",4 bedrooms,6 beds,2 baths
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 2 beds , 1 bath",1 bedroom,2 beds,1 bath

In [628]:
df.duplicated().sum()

12

In [629]:
df=df.drop_duplicates()

In [630]:
df

,id,site_name,host_id,host_name,neighbourhood,latitude,longitude,location,room_type,price,...,number_of_reviews_ltm,license,name,rating,type,city,property,rooms,beds,baths
0,2.384000e+03,Condo in Chicago Â· â˜…4.99 Â· 1 bedroom Â· 1 ...,2613,Rebecca,Hyde Park,41.787900,-87.587800,41.7879 -87.5878,Private room,114,...,20,R17000015609,Condo in Chicago,4.99,Condo,Chicago,"4.99 , 1 bedroom , 1 bed , 1 shared bath",1 bedroom,1 bed,1 shared bath
1,7.126000e+03,Rental unit in Chicago Â· â˜…4.70 Â· 1 bedroom...,17928,Sarah,West Town,41.901660,-87.680210,41.90166 -87.68021,Entire home/apt,92,...,45,R21000075737,Rental unit in Chicago,4.70,Rental unit,Chicago,"4.70 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
2,1.094500e+04,Rental unit in Chicago Â· â˜…4.65 Â· 2 bedroom...,33004,At Home Inn,Lincoln Park,41.911960,-87.639810,41.91196 -87.63981,Entire home/apt,170,...,16,2209984,Rental unit in Chicago,4.65,Rental unit,Chicago,"4.65 , 2 bedrooms , 2 beds , 1 bath",2 bedrooms,2 beds,1 bath
3,1.214000e+04,Boutique hotel in Chicago Â· â˜…4.93 Â· 1 bedr...,46734,Shay And Robert,Lincoln Park,41.923570,-87.649470,41.92357 -87.64947,Private room,329,...,3,R20000055258,Boutique hotel in Chicago,4.93,Boutique hotel,Chicago,"4.93 , 1 bedroom , 1 bed , 1 private bath",1 bedroom,1 bed,1 private bath
4,2.483300e+04,Rental unit in Chicago Â· â˜…4.29 Â· 1 bedroom...,101521,Red,Lincoln Park,41.925961,-87.656364,41.925961 -87.656364,Entire home/apt,61,...,2,City registration pending,Rental unit in Chicago,4.29,Rental unit,Chicago,"4.29 , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15288,9.710000e+17,Condo in New Orleans Â· â˜…New Â· 1 bedroom Â·...,442915263,Hosteeva California Building,Central Business District,29.954548,-90.074353,29.9545479 -90.0743526,Entire home/apt,73,...,0,"Exempt: This listing is a licensed hotel, mote...",Condo in New Orleans,0.00,Condo,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15289,9.710000e+17,Rental unit in New Orleans Â· â˜…New Â· 1 bedr...,428276486,Freedom,Treme - Lafitte,29.964620,-90.068100,29.96462 -90.0681,Entire home/apt,84,...,0,NaN,Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 2 bedrooms , 2 beds , 2 baths",2 bedrooms,2 beds,2 baths
15290,9.720000e+17,Home in New Orleans Â· â˜…New Â· 2 bedrooms Â·...,68337970,Yvonne,West End,30.007569,-90.117370,30.00756913 -90.11737025,Entire home/apt,146,...,0,"23-STR-11144, 23-OSTR-16282",Home in New Orleans,0.00,Home,New Orleans,"New , 4 bedrooms , 6 beds , 2 baths",4 bedrooms,6 beds,2 baths
15291,9.720000e+17,Home in New Orleans Â· â˜…New Â· 3 bedrooms Â·...,14988904,Lee,St. Claude,29.971530,-90.035360,29.97153 -90.03536,Entire home/apt,140,...,0,"22-Rstr-13096, 22-ostr-12025",Home in New Orleans,0.00,Home,New Orleans,"New , 1 bedroom , 1 bed , 1 bath",1 bedroom,1 bed,1 bath
15292,9.720000e+17,Rental unit in New Orleans Â· â˜…New Â· 4 bedr...,33076245,Arachu,Audubon,29.938293,-90.118395,29.93829347 -90.11839509,Entire home/apt,490,...,0,"23-RSTR-13912, 23-OSTR-11037",Rental unit in New Orleans,0.00,Rental unit,New Orleans,"New , 1 bedroom , 2 beds , 1 bath",1 bedroom,2 beds,1 bath

In [631]:
df.to_csv('airbnb0.csv', index=False)